<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Navigate way points</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Almendra+SC:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Navigate way points",
        "logo": "/public/images/NavigateWayPoints.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Navigate way points">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="navigate-way-points" data-home-page-title="Navigate way points" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-2 u-header" id="sec-5585" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="995" data-image-height="338" title="Navigate way points">
          <img src="/public/images/NavigateWayPoints.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-5ad0" style="padding: 10px 20px;">About us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-b159" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_629c" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-235a" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-b351" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-5ad0">About us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-b159">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_629c">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-235a">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-b351">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-image u-shading u-section-1" id="sec-2b4c" data-image-width="1280" data-image-height="960">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-white u-title u-text-1" spellcheck="false"> Your Guide to&nbsp;<br>Memorable&nbsp; Journeys
        </h1>
        <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-font-lato u-large-text u-text u-text-variant u-text-white u-text-2" spellcheck="false"> Welcome to Navigate Waypoints, your trusted partner in travel exploration. Whether you’re a seasoned traveler or planning your first adventure, we provide the resources and expertise you need to make your journey unforgettable. From personalized itinerary planning to in-depth destination guides, our goal is to inspire and empower you to explore the world with confidence.</p>
        <a href="./#carousel_629c" class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-border-none u-btn u-btn-rectangle u-button-style u-hover-palette-3-light-1 u-palette-4-dark-1 u-radius-0 u-btn-1">LEARN MORE </a>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-2" id="sec-5ad0">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-size-30 u-image-1" src="" data-image-width="960" data-image-height="1280">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-align-left u-container-align-center-xs u-container-align-left u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-expanded-width-xs u-group u-palette-1-dark-3 u-group-1">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <h2 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-text u-text-1" spellcheck="false"> Dedicated to Your Exploration</h2>
                      <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-font-lato u-text u-text-2" spellcheck="false"> At Navigate Waypoints, we are passionate travelers and explorers dedicated to helping you discover the world. Our mission is to provide you with the tools, insights, and inspiration you need to embark on unforgettable adventures. We believe that every journey is an opportunity for growth, connection, and discovery.</p>
                      <a href="./#sec-b351" class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-btn u-button-style u-hover-palette-3-light-1 u-palette-4-dark-1 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">CONTACT US </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-1-dark-3 u-section-3" id="sec-b159">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width-xs u-gutter-0 u-layout-spacing-vertical u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-image u-layout-cell u-left-cell u-shading u-size-20 u-image-1" data-image-width="1280" data-image-height="853">
                    <div class="u-container-layout u-container-layout-1"></div>
                  </div>
                  <div class="u-container-style u-layout-cell u-palette-3-dark-2 u-size-20 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <h5 class="u-align-center u-custom-font u-text u-text-1"> Custom Itinerary Planning</h5>
                      <p class="u-align-center u-custom-font u-font-lato u-text u-text-2"> We create personalized travel itineraries that cater to your inte<span style="font-size: 1rem;"></span>rests and preferences. Whether you seek adventure, relaxation, or cultural experiences
                      </p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-right-cell u-shading u-size-20 u-image-2" data-image-width="1280" data-image-height="854">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-white u-layout-cell-4">
                    <div class="u-container-layout u-valign-middle u-container-layout-4">
                      <h5 class="u-align-center u-custom-font u-text u-text-3"> Destination Guides</h5>
                      <p class="u-align-center u-custom-font u-font-lato u-text u-text-4"> Our comprehensive destination guides provide valuable insights into the best places to visit, local cuisine, cultural highlights, and hidden gems. </p>
                    </div>
                  </div>
                  <div class="u-container-style u-image u-layout-cell u-shading u-size-20 u-image-3" data-image-width="1280" data-image-height="853">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-container-style u-layout-cell u-palette-4-dark-2 u-right-cell u-size-20 u-layout-cell-6">
                    <div class="u-container-layout u-valign-middle u-container-layout-6">
                      <h5 class="u-align-center u-custom-font u-text u-text-5"> Travel Consultation Services </h5>
                      <p class="u-align-center u-custom-font u-font-lato u-text u-text-6"> Our one-on-one travel consultation services offer expert advice tailored to your travel needs. Whether you’re planning a trip or looking for travel tips</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-md u-container-align-center-xl u-white u-section-4" id="carousel_629c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false"> Captivating&nbsp; Destinations<br>&nbsp;Around the&nbsp; World
        </h2>
        <p class="u-align-center u-text u-text-2"> Discover a world of breathtaking travel destinations with Navigate Waypoints. We curate a diverse selection of places that cater to every type of traveler, from adventure seekers to culture enthusiasts. Each destination is handpicked for its unique charm, offering a blend of stunning landscapes, rich history, and vibrant local culture.</p>
        <div class="u-container-style u-expanded-width-lg u-expanded-width-md u-group u-hidden-xs u-palette-1-dark-3 u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <a href="./#sec-b351" class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-btn u-button-style u-hover-palette-3-light-1 u-palette-4-dark-1 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Contact Us</a>
          </div>
        </div>
        <div class="u-expanded-width-xs u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-always u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1557409518-691ebcd96038.webp" alt="Japan">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-1">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-family: &quot;Almendra SC&quot;; font-weight: 700; font-size: 2rem;">Japan</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide" data-image-width="1980" data-image-height="1510">
                <img class="u-back-image u-expanded" src="/public/images/vbvbvb-min.webp" alt="Italy">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-2">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-family: &quot;Almendra SC&quot;; font-weight: 700; font-size: 2rem;">Italy</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1471085507142-12355181f804.webp" alt="Greece">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-3">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-family: &quot;Almendra SC&quot;; font-weight: 700; font-size: 2rem;">Greece</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1462759353907-b2ea5ebd72e7.webp" alt="New Zealand">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-4">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-family: &quot;Almendra SC&quot;; font-weight: 700; font-size: 2rem;">New Zealand</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1484318571209-661cf29a69c3.webp" alt="South Africa">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-5">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-family: &quot;Almendra SC&quot;; font-weight: 700; font-size: 2rem;">South Africa</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1476610182048-b716b8518aae.webp" alt="Iceland">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-6">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-family: &quot;Almendra SC&quot;; font-weight: 700; font-size: 2rem;">Iceland</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-5" id="sec-1bf1">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-custom-font u-text u-text-default u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Top Resorts</h3>
        <p class="u-align-center u-text u-text-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Here are some of the greatest resorts you can visit.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-align-center u-expanded-width u-image u-image-default u-image-1" data-image-width="1080" data-image-height="1080" src="/public/images/square.webp">
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-3"><b>Sun City Resort</b>
                </h3>
                <h5 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-4"> South Africa </h5>
                <p class="u-align-center u-text u-text-default u-text-5"> A luxury casino resort set in a tropical landscape with golf courses and safari experiences. </p>
                <a href="https://www.suninternational.com/sun-city/" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-1" target="_blank">learn more</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img alt="" class="u-align-center u-expanded-width u-image u-image-default u-image-2" data-image-width="800" data-image-height="800" src="/public/images/gl-getting-here-hero-mb.webp">
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-6"><b>Grand Lisboa</b>
                </h3>
                <h5 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-7"> Macau, China </h5>
                <p class="u-align-center u-text u-text-default u-text-8"> A striking building and casino offering traditional and modern gaming experiences. </p>
                <a href="https://www.grandlisboa.com/en" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-2" target="_blank">learn more</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img alt="" class="u-align-center u-expanded-width u-image u-image-default u-image-3" data-image-width="2400" data-image-height="1350" src="/public/images/Casino-Crown.webp">
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-9"><b>Crown&nbsp;Melbourne</b>
                </h3>
                <h5 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-10"> Melbourne, Australia </h5>
                <p class="u-align-center u-text u-text-default u-text-11"> Australia’s premier integrated resort with a world-class casino, restaurants, and theatres. </p>
                <a href="https://www.booking.com/hotel/au/crown-metropol.en-gb.html?aid=2311236&amp;label=en-cy-booking-desktop-Tb7kqYeT6F7%2AFsNq0JvFcQS652796016951%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-51481728%3Alp20216%3Ali%3Adec%3Adm&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;all_sr_blocks=18012701_392953868_0_2_0;checkin=2024-10-18;checkout=2024-10-19;dest_id=262861;dest_type=landmark;dist=0;group_adults=2;group_children=0;hapos=7;highlighted_blocks=18012701_392953868_0_2_0;hpos=7;matching_block_id=18012701_392953868_0_2_0;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;sr_pri_blocks=18012701_392953868_0_2_0__40900;srepoch=1729247212;srpvid=d5b24968d6d6145f;type=total;ucfs=1&amp;" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-3" target="_blank">learn more</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img alt="" class="u-align-center u-expanded-width u-image u-image-default u-image-4" data-image-width="2501" data-image-height="2501" src="/public/images/cosmo_more-19.webp">
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-12"><b>The Cosmopolitan</b>
                </h3>
                <h5 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-13"> Las Vegas, USA </h5>
                <p class="u-align-center u-text u-text-default u-text-14"> A chic, modern casino resort with a vibrant nightlife and rooftop pools. </p>
                <a href="https://www.booking.com/hotel/us/the-cosmopolitan-of-las-vegas-las-vegas2.en-gb.html?aid=2311236&amp;label=en-cy-booking-desktop-Tb7kqYeT6F7%2AFsNq0JvFcQS652796016951%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-51481728%3Alp20216%3Ali%3Adec%3Adm&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;dest_id=10473523;dest_type=hotel;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1729247099;srpvid=3fbf493a5923056c;type=total;ucfs=1&amp;" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-4" target="_blank">learn more</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img alt="" class="u-align-center u-expanded-width u-image u-image-default u-image-5" data-image-width="700" data-image-height="525" src="/public/images/palms-casino-resort.webp">
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-15"><b>Palms Resort</b>
                </h3>
                <h5 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-16"> Las Vegas, USA </h5>
                <p class="u-align-center u-text u-text-default u-text-17"> Known for its luxury suites and lively casino, with great nightlife. </p>
                <a href="https://www.palms.com/" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-5" target="_blank">learn more</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img alt="" class="u-align-center u-expanded-width u-image u-image-default u-image-6" data-image-width="700" data-image-height="460" src="/public/images/mgm-grand1.webp">
                <h3 class="u-align-center u-custom-font u-text u-text-default u-text-18"><b>MGM Grand</b>
                </h3>
                <h5 class="u-align-center u-custom-font u-font-lato u-text u-text-default u-text-19"> Las Vegas, USA </h5>
                <p class="u-align-center u-text u-text-default u-text-20"> A large resort with extensive gaming, dining, and iconic entertainment events. </p>
                <a href="https://mgmgrand.mgmresorts.com/en.html" class="u-align-center u-border-none u-btn u-button-style u-palette-4-base u-btn-6" target="_blank">learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-6" id="sec-235a" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-video-cover u-white">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <p class="u-text u-text-1" spellcheck="false"> Navigate Waypoints has completely changed how I plan my travels! The personalized itineraries are spot on, and I found amazing places I would have missed otherwise. Their destination guides are incredibly helpful, filled with useful tips and local insights. I can’t wait to plan my next adventure</p>
                <h5 class="u-align-center-xs u-custom-font u-text u-text-2">Connor Quinn</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <p class="u-text u-text-3" spellcheck="false"> I had an incredible experience using Navigate Waypoints. The travel consultation service was invaluable, helping me refine my plans for a trip to Italy. The recommendations were perfect, and I felt well-prepared for everything. Highly recommend this service to anyone looking to enhance their travel experience</p>
                <h5 class="u-align-center-xs u-custom-font u-text u-text-4">Frank Kinney</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <p class="u-text u-text-5" spellcheck="false"> I love the variety of destinations featured on Navigate Waypoints! Each guide is detailed and inspiring, making it easy to explore new places. The site is user-friendly, and I appreciate how informative everything is. I found exactly what I needed for my upcoming trip to Japan. Thank you, Navigate Waypoints</p>
                <h5 class="u-align-center-xs u-custom-font u-text u-text-6">Mattie Smith</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-7" id="sec-b351">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-align-center u-container-style u-expanded-width-xs u-group u-palette-1-dark-3 u-radius u-shape-round u-group-1">
          <div class="u-container-layout u-valign-bottom u-container-layout-1">
            <h1 class="u-custom-font u-text u-text-default u-text-1">Contact Us</h1>
            <div class="u-form u-form-1">
              <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                <div class="u-form-group u-form-name u-label-none">
                  <label for="name-daa0" class="u-label">Name</label>
                  <input type="text" placeholder="Name" id="name-daa0" name="name" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-email u-form-group u-label-none">
                  <label for="email-daa0" class="u-label">Email</label>
                  <input type="email" placeholder="Email" id="email-daa0" name="email" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-message u-label-none">
                  <label for="message-daa0" class="u-label">Address</label>
                  <textarea placeholder="Address" rows="4" cols="50" id="message-daa0" name="message" class="u-input u-input-rectangle" required=""></textarea>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                  <a href="#" class="u-align-left u-btn u-btn-submit u-button-style u-hover-palette-3-light-1 u-palette-4-dark-1 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Submit</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="a4dc3061-becc-5582-253e-e609da76e882">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-2 u-footer" id="sec-9383">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="995" data-image-height="338" title="Navigate way points">
          <img src="/public/images/NavigateWayPoints.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>