<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Immerse yourself in the world’s most iconic cities for gaming, entertainment, and luxury. From the neon lights of Las Vegas to the historic charm of Monaco and the fusion of East and West in Macao, discover why these cities are the global epicenters of casino culture. Where excitement, elegance, and unforgettable experiences await.">
    <title>Experiences - Precious Passport Paths</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/experiences.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://preciouspassportpaths.com/experiences">
    <link rel="icon" href="/public/images/airplane-flight_7796374.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Oswald:200,300,400,500,600,700|Inter:100,200,300,400,500,600,700,800,900">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "preciouspassportpaths",
        "url": "https://preciouspassportpaths.com/experiences",
        "logo": "/public/images/airplane-flight_7796374.webp?rand=461d"
      }
    </script>
    <meta name="theme-color" content="#918ae2">
    <meta property="og:title" content="Experiences - Precious Passport Paths">
    <meta property="og:description" content="​Immerse yourself in the world’s most iconic cities for gaming, entertainment, and luxury. From the neon lights of Las Vegas to the historic charm of Monaco and the fusion of East and West in Macao, discover why these cities are the global epicenters of casino culture. Where excitement, elegance, and unforgettable experiences await.">
    <meta property="og:url" content="https://preciouspassportpaths.com/experiences">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-d7be">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="/public/images/airplane-flight_7796374.webp?rand=461d" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-01c1" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#carousel_2417" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-ffa7" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-6558" style="padding: 10px 20px;">Top Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#carousel_f06c" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-01c1">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_2417">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-ffa7">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6558">Top Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_f06c">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-30b7" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded u-align-left u-container-align-left u-container-style u-grey-90 u-group u-radius u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-align-left u-text u-title u-text-1">Unique Experiences</h1>
            <p class="u-align-left u-large-text u-text u-text-variant u-text-2"> Immerse yourself in the world’s most iconic cities for gaming, entertainment, and luxury. From the neon lights of Las Vegas to the historic charm of Monaco and the fusion of East and West in Macao, discover why these cities are the global epicenters of casino culture. Where excitement, elegance, and unforgettable experiences await.</p>
            <a href="experiences.html#sec-d675" class="u-align-left u-btn u-button-style u-palette-2-base u-btn-1"> Explore</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-90 u-section-2" id="sec-d675">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Top Destinations</h2>
        <p class="u-align-center u-text u-text-default u-text-2"> Explore the top three casino capitals, each offering a unique blend of gaming, luxury, and culture. From the neon-lit excitement of Las Vegas to the elegant streets of Monaco and the East-meets-West charm of Macao, these cities are world-renowned for their iconic casino scenes.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-black u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1080" data-image-height="1080"></div>
                <h3 class="u-align-center u-text u-text-3"> Macao</h3>
                <p class="u-align-center u-text u-text-palette-2-base u-text-4"> The Asian Gem<br>of Gaming
                </p>
                <p class="u-align-center u-text u-text-5"> Experience the fusion of history and cutting-edge casino entertainment in the largest gambling hub of the world.<br>
                </p>
                <a href="experiences.html#sec-b861" class="u-border-none u-btn u-button-style u-palette-2-base u-btn-1">Learn More </a>
              </div>
            </div>
            <div class="u-align-center u-black u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" data-image-width="1080" data-image-height="1080"></div>
                <h3 class="u-align-center u-text u-text-6"> Las Vegas</h3>
                <p class="u-align-center u-text u-text-palette-2-base u-text-7"> The Entertainment Capital<br>of the World
                </p>
                <p class="u-align-center u-text u-text-8"> Las Vegas offers nonstop action, entertainment, and some of the most legendary casinos on the planet.<br>
                </p>
                <a href="experiences.html#sec-90f5" class="u-border-none u-btn u-button-style u-palette-2-base u-btn-2"> Learn More </a>
              </div>
            </div>
            <div class="u-align-center u-black u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" data-image-width="1080" data-image-height="1080"></div>
                <h3 class="u-align-center u-text u-text-9"> Monaco</h3>
                <p class="u-align-center u-text u-text-palette-2-base u-text-10"> Elegance and Sophistication<br>on the Riviera
                </p>
                <p class="u-align-center u-text u-text-11"> Monaco’s Casino de Monte-Carlo is synonymous with glamour and high-stakes gaming, making it the playground of the elite.</p>
                <a href="experiences.html#sec-eea1" class="u-border-none u-btn u-button-style u-palette-2-base u-btn-3"> Learn More </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-valign-middle u-section-3" id="sec-b861">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1414" data-image-height="2000">
              <div class="u-container-layout u-valign-middle u-container-layout-1" src="">
                <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-1"> Macao</h2>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-shading u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-default u-text-2"> The Asian Gem of Gaming</h2>
                <p class="u-align-left u-text u-text-3"> Macao is a dazzling blend of old-world charm and cutting-edge luxury. Known as the 'Monte Carlo of the East,' it’s the largest gambling city in the world by revenue. Macao’s casinos are larger-than-life, with grand gaming floors, luxury accommodations, and entertainment complexes. But Macao is more than just casinos—its rich Portuguese and Chinese heritage shines through in its historic architecture, delectable cuisine, and vibrant cultural festivals.</p>
                <div class="u-expanded-width u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-border-2 u-border-palette-2-base u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-1">
                      <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                        <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-4">Casino<br>Culture
                        </h4>
                        <p class="u-align-center u-custom-font u-text u-text-default u-text-5"> Macao’s casinos are world-class, offering a wide variety of games including baccarat, the most popular game in the city.</p>
                      </div>
                    </div>
                    <div class="u-align-center u-border-2 u-border-palette-2-base u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-2">
                      <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                        <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-6">Must-see<br>Attractions
                        </h4>
                        <p class="u-align-center u-custom-font u-text u-text-default u-text-7"> Visit the Ruins of St. Paul’s, explore the historic Senado Square, and stroll through the Cotai Strip, home to some of the most lavish integrated casino resorts in the world.</p>
                      </div>
                    </div>
                    <div class="u-align-center u-border-2 u-border-palette-2-base u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-3">
                      <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                        <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-8">Culinary<br>Scene
                        </h4>
                        <p class="u-align-center u-custom-font u-text u-text-default u-text-9"> Don't miss the unique Macanese cuisine—a fusion of Portuguese and Chinese flavors that define the local food culture.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center u-image u-shading u-section-4" id="sec-90f5" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-1"> Las Vegas</h1>
        <h4 class="u-align-center u-custom-font u-font-oswald u-text u-text-palette-2-base u-text-2"> The Entertainment Capital of the World</h4>
        <p class="u-align-center u-large-text u-text u-text-variant u-text-3"> Famous for its 24/7 energy and larger-than-life attractions, Las Vegas is the ultimate destination for those seeking a thrilling gaming experience. Known for its neon lights and bustling Strip, Las Vegas is home to some of the most iconic casinos in the world, such as the Bellagio, MGM Grand, and Caesars Palace. Whether you’re here to play poker, catch a world-class show, or simply soak in the vibrant atmosphere, Las Vegas guarantees an unforgettable experience.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-grey-80 u-list-item u-opacity u-opacity-75 u-radius u-repeater-item u-shape-round u-list-item-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-1"><img src="/public/images/2162846.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-4"> Casino Culture</h4>
                <p class="u-align-center u-custom-font u-text u-text-5"> From slot machines to high-stakes poker rooms, Las Vegas offers a diverse range of gaming experiences for all levels.</p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-grey-80 u-list-item u-opacity u-opacity-75 u-radius u-repeater-item u-shape-round u-list-item-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-2"><img src="/public/images/2778624.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-6"> Must-See Attractions</h4>
                <p class="u-align-center u-custom-font u-text u-text-7"> Watch the Bellagio Fountains dance, explore the old-world charm of Fremont Street, or take a scenic helicopter tour over the Grand Canyon.</p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-grey-80 u-list-item u-opacity u-opacity-75 u-radius u-repeater-item u-shape-round u-list-item-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-icon-3"><img src="/public/images/4754925.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-8"> Entertainment Beyond Casinos</h4>
                <p class="u-align-center u-custom-font u-text u-text-9"> Catch a Cirque du Soleil show, dine in restaurants helmed by celebrity chefs, or party the night away in one of the city's renowned nightclubs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-5" id="sec-eea1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-align-left u-container-style u-grey-90 u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-align-left u-text u-text-default u-text-1"> The Jewel of the French Riviera</h2>
                <p class="u-align-left u-text u-text-2"> Perched along the glamorous French Riviera, Monaco is the epitome of luxury and refinement. Known for the prestigious Casino de Monte-Carlo, Monaco is a magnet for the elite and famous, offering a gaming experience that exudes class and sophistication. But beyond its luxurious casinos, Monaco enchants with its stunning Mediterranean views, its famous Formula 1 Grand Prix, and its exquisite blend of history and opulence. It’s a destination where exclusivity and elegance reign supreme.</p>
                <div class="u-expanded-width u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-black u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-1">
                      <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-1"><img src="/public/images/105249-4cc05641.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-oswald u-text u-text-3"> Casino Culture</h4>
                        <p class="u-custom-font u-text u-text-default u-text-grey-50 u-text-4"> The Casino de Monte-Carlo offers a refined and intimate casino experience, attracting high rollers from all over the world.</p>
                      </div>
                    </div>
                    <div class="u-black u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-2">
                      <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-2"><img src="/public/images/785432-f5b36851.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-oswald u-text u-text-5"> Must-See Attractions</h4>
                        <p class="u-custom-font u-text u-text-default u-text-grey-50 u-text-6"> Visit the Prince's Palace, enjoy a yacht-filled view at Monte Carlo Harbor, and explore the renowned Oceanographic Museum.</p>
                      </div>
                    </div>
                    <div class="u-black u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-3">
                      <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-align-left u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-3"><img src="/public/images/3621722-fbc1ad5e.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-oswald u-text u-text-7"> High-Class Leisure</h4>
                        <p class="u-custom-font u-text u-text-default u-text-grey-50 u-text-8"> Enjoy Michelin-starred dining, luxury shopping, and a stroll along the exclusive beaches of the Côte d'Azur.<br>
                          <br>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-gradient u-image u-layout-cell u-right-cell u-shading u-size-30 u-size-xs-60 u-image-1" data-image-width="1920" data-image-height="1080">
              <div class="u-container-layout u-valign-middle u-container-layout-5" src="">
                <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-9">Monaco</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-container-align-center u-section-6" id="sec-fee2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-size-27-lg u-size-30-xl u-size-60-md u-size-60-sm u-size-60-xs">
                <div class="u-layout-col">
                  <div class="u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-align-left u-text u-text-1">Contact Us</h2>
                      <p class="u-align-left u-text u-text-2"> Start Your Casino Adventure</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-30-xl u-size-33-lg u-size-60-md u-size-60-sm u-size-60-xs">
                <div class="u-layout-col">
                  <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2">
                      <p class="u-align-left u-text u-text-default u-text-3"> Ready to explore these incredible casino destinations? Let us help you plan the perfect trip, whether you're looking to experience Macao’s vibrant Cotai Strip, Las Vegas’ iconic entertainment, or Monaco’s refined elegance.</p>
                    </div>
                  </div>
                  <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-3">
                    <div class="u-container-layout u-valign-middle u-container-layout-3">
                      <div class="u-expanded-width u-form u-form-1">
                        <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 0px;">
                          <div class="u-form-group u-form-name u-label-left">
                            <label for="name-fb78" class="u-label">Name</label>
                            <input type="text" placeholder="Enter your Name" id="name-fb78" name="name" class="u-input u-input-rectangle" required="">
                          </div>
                          <div class="u-form-email u-form-group u-label-left">
                            <label for="email-fb78" class="u-label">Email</label>
                            <input type="email" placeholder="Enter a valid email address" id="email-fb78" name="email" class="u-input u-input-rectangle" required="">
                          </div>
                          <div class="u-form-group u-form-message u-label-left">
                            <label for="message-fb78" class="u-label">Message</label>
                            <textarea placeholder="Enter your message" rows="4" cols="50" id="message-fb78" name="message" class="u-input u-input-rectangle" required=""></textarea>
                          </div>
                          <div class="u-form-group u-form-submit u-label-left">
                            <label class="u-label u-label-4"></label>
                            <div class="u-align-left u-btn-submit-container">
                              <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1">Submit</a>
                            </div>
                            <input type="submit" value="submit" class="u-form-control-hidden">
                          </div>
                          <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                          <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                          <input type="hidden" value="" name="recaptchaResponse">
                          <input type="hidden" name="formServices" value="f4822d6c-e1cf-50c4-96ea-5987cabce128">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-5664">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">All Rights Reserved - Precious Passport Paths </p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-43d3"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-43d3" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>