<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/airplane-flight_7796374.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Oswald:200,300,400,500,600,700">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "preciouspassportpaths",
        "logo": "/public/images/airplane-flight_7796374.webp?rand=461d"
      }
    </script>
    <meta name="theme-color" content="#918ae2">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-d7be">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="/public/images/airplane-flight_7796374.webp?rand=461d" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-01c1" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#carousel_2417" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-ffa7" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-6558" style="padding: 10px 20px;">Top Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#carousel_f06c" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-01c1">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_2417">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-ffa7">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6558">Top Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_f06c">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-section-1" id="sec-ff7c">
      <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
        <h1 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-1"> Boost your travel Experience with Precious Passport Paths</h1>
        <div class="u-container-align-left u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-align-left u-text u-text-2">Welcome to Precious passport paths, where travel dreams come to life! Founded by a team of passionate explorers, we are dedicated to crafting unforgettable journeys that inspire adventure and foster connection. Our mission is simple: to make travel accessible, enjoyable, and enriching for everyone. </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-9357">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-60 u-image-1" data-image-width="1280" data-image-height="853">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-base u-radius u-shape-round u-size-30 u-layout-cell-2">
                      <div class="u-container-layout u-valign-middle u-container-layout-2">
                        <h5 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-1">Accommodation Options </h5>
                        <p class="u-text u-text-default u-text-2">Choose from a wide selection of accommodations, including hotels, resorts, and vacation rentals. We ensure that every option meets our high standards. </p>
                      </div>
                    </div>
                    <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-2" data-image-width="1280" data-image-height="853">
                      <div class="u-container-layout u-container-layout-3"></div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-3" data-image-width="853" data-image-height="1280">
                      <div class="u-container-layout u-container-layout-4"></div>
                    </div>
                    <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-3-base u-radius u-shape-round u-size-30 u-layout-cell-5">
                      <div class="u-container-layout u-container-layout-5">
                        <h5 class="u-align-center-sm u-align-center-xs u-text u-text-default u-text-3"> Flight Bookings<span style="font-weight: 700;"></span>
                        </h5>
                        <p class="u-text u-text-default u-text-4">We simplify the flight booking process by offering competitive rates and a variety of options. No matter where you want to go, we help you find the best flights. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-section-3" id="carousel_2417">
      <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
        <h2 class="u-align-center-md u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-xl u-text u-text-1">Turn your ideas&nbsp;<br>to live Best experiences
        </h2>
        <div class="u-container-align-left u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <p class="u-align-left u-text u-text-2">We believe that every journey is an opportunity for adventure, discovery, and unforgettable memories. Whether you're seeking a serene beach getaway, an exhilarating mountain escape, or a vibrant city exploration, our mission is to help you uncover the world's wonders. </p>
          </div>
        </div>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-grey-5 u-layout-cell u-radius u-shape-round u-size-20 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h6 class="u-align-center u-text u-text-3">Travel Insurance </h6>
                  <p class="u-align-center u-text u-text-4">Protect your investment with our travel insurance options. We offer various plans to cover unexpected events, giving you peace of mind while you travel. </p>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-grey-5 u-layout-cell u-radius u-size-20 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-3">
                  <h6 class="u-align-center u-text u-text-5">Expert Advice </h6>
                  <p class="u-align-center u-text u-text-6">Tips and recommendations from seasoned adventurers, covering everything from gear essentials to safety practices for extreme sports. </p>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-image u-image-round u-layout-cell u-radius u-size-20 u-image-1" data-image-width="1280" data-image-height="853">
                <div class="u-container-layout u-container-layout-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-4" id="sec-ffa7">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-palette-1-base u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                <h2 class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-text u-text-1">Testimonials</h2>
                <div class="u-expanded-width-lg u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-horizontal u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-container-layout-2">
                        <p class="u-align-left u-custom-item u-text u-text-2">"My experience with Extreme Travel Guide was nothing short of incredible! The itinerary for our trip to the Rocky Mountains was perfectly tailored to our skill level, and the guides were knowledgeable and supportive. The thrill of reaching the summit was unmatched, and I can’t wait for my next adventure." </p>
                        <h5 class="u-align-left u-custom-item u-text u-text-3">Nick Parsen<br>
                        </h5>
                      </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-container-layout-3">
                        <p class="u-align-left u-custom-item u-text u-text-4">"Sample ​Traveling with Extreme Travel Guide opened my eyes to a whole new world of adventure. The cultural experiences in Peru, from hiking the Inca Trail to participating in local festivals, were unforgettable. The team was fantastic, and they truly know how to blend adventure with culture." </p>
                        <h5 class="u-align-left u-custom-item u-text u-text-default u-text-5">Nick Parsen<br>
                        </h5>
                      </div>
                    </div>
                    <div class="u-container-style u-list-item u-repeater-item">
                      <div class="u-container-layout u-similar-container u-container-layout-4">
                        <p class="u-align-left u-custom-item u-text u-text-6">"​I recently joined a kayaking trip organized by Extreme Travel Guide, and it was the highlight of my summer! The scenery was breathtaking, and the guides made sure we were safe while having an absolute blast. I highly recommend their services to anyone looking for an adrenaline rush." </p>
                        <h5 class="u-align-left u-custom-item u-text u-text-default u-text-7">Nick Parsen<br>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <a class="u-gallery-nav u-gallery-nav-prev u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-icon-rounded u-opacity u-opacity-70 u-palette-3-base u-radius u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
                    <span aria-hidden="true">
                      <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                    </span>
                    <span class="sr-only">
                      <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
                    </span>
                  </a>
                  <a class="u-gallery-nav u-gallery-nav-next u-hidden-lg u-hidden-md u-hidden-sm u-hidden-xs u-icon-rounded u-opacity u-opacity-70 u-palette-3-base u-radius u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
                    <span aria-hidden="true">
                      <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                    </span>
                    <span class="sr-only">
                      <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="854">
              <div class="u-container-layout u-container-layout-5"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-5" id="sec-6558">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Top Destinations </h2>
        <p class="u-align-center u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-always u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/4e17e7a092142c535619113e41e8725fc7e55a2b5d87b194a1a379e892a3b82a7009209fc87d83ea19794635e03166f18a1271eade40048840251e_1280.webp" alt="Cameroon">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading">Cameroon</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/a771879b50704a23a77a164755a1d43f55259b820e2a28ad5cf24493b80aac7ec51672e8c30718148e463a6bd96cbb10fd5b6204e3874b5ea6b2a8_1280.webp" alt="Syria">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading">Syria</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/88ea6e344f9abf457821a7886b69181e43d95a31e87186b27f917d874e0023f244a6de34008169546a91089a2bc58006c13aa170821a18084bcf23_1280.webp" alt="Sri Lanka">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading">Sri Lanka</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/b36ff164ae64059289841305265d067d153232c4b74ed1ab7239b6b0c4f50d789b6e955d1e38a955a12e51568c3216e6ccc74246f678c68599b718_1280.webp" alt="Cambodia">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading">Cambodia</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/e07aa30b5dfd08f45f17ec8dd7f9c2c5afde60b67262975f4363b155f2d3d0d91d5487009116729850e3d9d47eee8549138d34ac5bed70f81613b6_1280.webp" alt="Tunisia">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading">Tunisia</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/77be8573e105ee270d6b73a2c8c16c94bb6b8fb9f8d388f650bb7e9628cb717163c97fe02dd4d9fc70650f01fb86692695299cd12a2f7467cbbb61_1280.webp" alt="Jordan">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading">Jordan</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-section-6" id="sec-01c1">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="843">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-container-align-center-sm u-container-align-center-xs u-container-align-left-md u-container-style u-layout-cell u-palette-3-base u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-center-sm u-align-center-xs u-align-left-md u-text u-text-1">About Us </h2>
                <p class="u-align-center-sm u-align-center-xs u-align-left-md u-text u-text-default u-text-2">Safety is our top priority. We partner with certified guides and trusted local operators to provide you with the highest level of support and expertise. Our journeys are designed for everyone — from seasoned adventurers to those looking to try something new. We believe that every adventure should be accessible and tailored to your skill level.<br>We are a passionate team of adventurers, explorers, and travel enthusiasts dedicated to uncovering the world’s most thrilling experiences. Our mission is to inspire and equip you to embark on your own extreme adventures, whether it's conquering a towering peak, diving into vibrant oceans, or navigating remote wilderness.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-palette-1-dark-3 u-section-7" id="sec-0397">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> Start your experience with us<br>
        </h2>
        <p class="u-align-center u-text u-text-2"> At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        <a href="./#carousel_f06c" class="u-align-center u-btn u-button-style u-btn-1">start</a>
      </div>
    </section>
    <section class="u-clearfix u-expanded-width-xl u-palette-1-base u-section-8" id="carousel_f06c">
      <div class="u-expanded-height-lg u-expanded-height-md u-expanded-height-xl u-expanded-width-sm u-expanded-width-xs u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
      <div class="data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-27">
              <div class="u-layout-col">
                <div class="u-align-left u-container-align-center u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" data-image-width="1280" data-image-height="853">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
              </div>
            </div>
            <div class="u-size-33">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                  <div class="u-container-layout u-valign-top u-container-layout-2">
                    <h2 class="u-custom-font u-font-oswald u-text u-text-white u-text-1">Contact form</h2>
                    <div class="u-expanded-width u-form u-form-1">
                      <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-block-3726-21 u-clearfix u-form-spacing-25 u-form-vertical u-inner-form" source="email">
                        <div class="u-form-group u-form-name">
                          <label for="name-e4cc" class="u-form-control-hidden u-label">Name</label>
                          <input type="text" placeholder="Enter your Name" id="name-e4cc" name="name" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required="">
                        </div>
                        <div class="u-form-email u-form-group">
                          <label for="email-e4cc" class="u-form-control-hidden u-label">Email</label>
                          <input type="email" placeholder="Enter a valid email address" id="email-e4cc" name="email" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required="">
                        </div>
                        <div class="u-form-group u-form-message">
                          <label for="message-e4cc" class="u-form-control-hidden u-label">Message</label>
                          <textarea placeholder="Enter your message" rows="4" cols="50" id="message-e4cc" name="message" class="u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-grey-5 u-input u-input-rectangle" required=""></textarea>
                        </div>
                        <div class="u-form-group u-form-submit">
                          <a href="#" class="u-border-2 u-border-white u-btn u-btn-rectangle u-btn-submit u-button-style u-radius-0 u-btn-1">Submit</a>
                          <input type="submit" value="submit" class="u-form-control-hidden u-grey-5">
                        </div>
                        <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                        <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                        <input type="hidden" value="" name="recaptchaResponse">
                        <input type="hidden" name="formServices" value="">
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-5664">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">All Rights Reserved - Precious Passport Paths </p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-43d3"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-43d3" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>