<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/airplane-flight_7796374.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "preciouspassportpaths",
        "logo": "/public/images/airplane-flight_7796374.webp?rand=461d"
      }
    </script>
    <meta name="theme-color" content="#918ae2">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-d7be">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="/public/images/airplane-flight_7796374.webp?rand=461d" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-01c1" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#carousel_2417" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-ffa7" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#sec-6558" style="padding: 10px 20px;">Top Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-3-base" href="./#carousel_f06c" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-01c1">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_2417">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-ffa7">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6558">Top Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_f06c">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center u-palette-1-base u-section-1" id="sec-4a58">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-font u-text-1">Privacy Policy</h2>
        <div class="u-align-center u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
        <p class="u-align-center u-text u-text-default u-text-2"> This Privacy Policy outlines how information is collected, used, and disclosed when you visit this website and use the services provided. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-aa60">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>1. Information Collection</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> The following types of information may be collected: </p>
        <ul class="u-spacing-26 u-text u-text-font u-text-3">
          <li><b>Personal Information:</b> Information that can identify you, such as your name, email address, phone number, and mailing address.
          </li>
          <li><b>Usage Data:</b> Information about how the Site is accessed and used, including IP address, browser type, operating system, pages visited, and timestamps.
          </li>
          <li><b>Cookies and Tracking Technologies:</b> Cookies and similar technologies may be used to track activity on the Site and store certain information. You can manage cookie preferences through your browser settings.
          </li>
        </ul>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_448c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1">2. <b>Use of Information</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> Information collected may be used for various purposes, including: </p>
        <ul class="u-spacing-26 u-text u-text-font u-text-3">
          <li> To provide, maintain, and improve the Site and services.</li>
          <li>To communicate with users, including responding to inquiries and providing support.</li>
          <li>To personalize user experiences on the Site.</li>
          <li>To analyze usage patterns and improve services.<br>
          </li>
          <li> To comply with legal obligations and protect rights.</li>
        </ul>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_c5fd">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>3. Disclosure of Information</b><b></b>
        </h4>
        <p class="u-text u-text-default u-text-2"> Information may be shared in the following situations: </p>
        <ul class="u-spacing-26 u-text u-text-font u-text-3">
          <li><b>Service Providers:</b> Third-party companies and individuals may be engaged to facilitate services or provide support.<br><b>
              <br></b>
          </li>
          <li><b>Business Transfers:</b> Information may be transferred during mergers, acquisitions, or asset sales.<br><b>
              <br></b>
          </li>
          <li><b>Legal Requirements:</b> Information may be disclosed if required by law or in response to valid requests from authorities.
          </li>
        </ul>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="carousel_7cf6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b></b><b>4. Security of Information</b><b></b>
        </h4>
        <p class="u-text u-text-default u-text-2"> Reasonable measures will be taken to protect collected information from loss, theft, misuse, and unauthorized access. However, no method of transmission or electronic storage is 100% secure, and absolute security cannot be guaranteed. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_3833">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b></b><b>5. User Rights</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> Depending on jurisdiction, users may have rights regarding their personal information, including: </p>
        <ul class="u-spacing-26 u-text u-text-font u-text-3">
          <li><b>Service Providers:</b> Third-party companies and individuals may be engaged to facilitate services or provide support.<br><b>
              <br></b>
          </li>
          <li><b>Business Transfers:</b> Information may be transferred during mergers, acquisitions, or asset sales.<br><b>
              <br></b>
          </li>
          <li><b>Legal Requirements:</b> Information may be disclosed if required by law or in response to valid requests from authorities.
          </li>
        </ul>
      </div>
    </section>
    <section class="u-clearfix u-section-7" id="carousel_bb67">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>6. Third-Party Links</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> The Site may contain links to third-party websites. The privacy practices of these websites are not the responsibility of this Site. Users are encouraged to review the privacy policies of any third-party sites visited. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-8" id="carousel_f0d0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>7. Changes to This Privacy Policy</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> This Privacy Policy may be updated periodically. Changes will be posted on this page. Users are advised to review the Privacy Policy regularly for any updates. </p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-5664">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">All Rights Reserved - Precious Passport Paths </p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-43d3"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-43d3" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>