<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="A world full of luxury waiting for you!​">
    <title>Casino Resorts - Blue Aviator's Club</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/casino-resorts.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://blueaviatorsclub.com/casino-resorts">
    <link rel="icon" href="/public/images/logo500x200px.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Blue Aviators Club",
        "url": "https://blueaviatorsclub.com/casino-resorts",
        "logo": "/public/images/logo500x200px.png?rand=f2e7"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Casino Resorts - Blue Aviator's Club">
    <meta property="og:description" content="A world full of luxury waiting for you!​">
    <meta property="og:url" content="https://blueaviatorsclub.com/casino-resorts">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-1-light-2 u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-cdbf" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-1ba0" style="padding: 10px 20px;">Aircrafts</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-0966" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-cdbf">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-1ba0">Aircrafts</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-0966">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="400" data-image-height="200">
          <img src="/public/images/logo500x200px.png?rand=f2e7" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-b85c" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-title u-text-1">Casino Resorts</h1>
        <p class="u-align-center u-large-text u-text u-text-default u-text-variant u-text-2">A world full of luxury waiting for you! </p>
        <a href="#" class="u-align-center u-border-none u-btn u-button-style u-palette-1-base u-btn-1">resorts </a>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-container-align-center-xs u-palette-1-dark-3 u-section-2" id="carousel_5c47">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1200" data-animation-delay="0"> Our Best Services You</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="200">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img src="/public/images/Banners16.png" alt="" class="u-expanded-width u-image u-image-round u-radius u-image-1" data-image-width="1920" data-image-height="1080">
                <h5 class="u-align-center u-text u-text-2"> The Venetian, Las Vegas</h5>
                <p class="u-align-center u-text u-text-3"> Indulge in opulence with luxurious suites, endless entertainment, and one of the world's largest casinos.</p>
                <a href="https://www.booking.com/hotel/us/the-venetian-resort-casino.en-gb.html?aid=311984&amp;label=wynn-palace-28hTk2T%2AFttyQdNvqaWOYQS101859952572%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-2105781329%3Alp1003698%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YbSsBl3MCvHsD8UKUHIRFxY&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;dest_id=59420;dest_type=hotel;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1728303335;srpvid=c9c2562e45ab0182;type=total;ucfs=1&amp;" class="u-align-center u-btn u-button-style u-palette-1-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="200">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img src="/public/images/Banners17.png" alt="" class="u-expanded-width u-image u-image-round u-radius u-image-2" data-image-width="1920" data-image-height="1080">
                <h5 class="u-align-center u-text u-text-4"> Marina Bay Sands, Singapore</h5>
                <p class="u-align-center u-text u-text-5"> Iconic resort featuring a rooftop infinity pool, luxury shopping, and a world-class casino experience.<br>
                </p>
                <a href="https://www.booking.com/hotel/sg/marina-bay-sands.en-gb.html?aid=311984&amp;label=wynn-palace-28hTk2T%2AFttyQdNvqaWOYQS101859952572%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-2105781329%3Alp1003698%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YbSsBl3MCvHsD8UKUHIRFxY&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;dest_id=245881;dest_type=hotel;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1728303302;srpvid=013a5622ebff040d;type=total;ucfs=1&amp;" class="u-align-center u-btn u-button-style u-palette-1-base u-btn-2" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" target="_blank"> Book Now </a>
              </div>
            </div>
            <div class="u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="200">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img src="/public/images/Banners18.png" alt="" class="u-expanded-width u-image u-image-round u-radius u-image-3" data-image-width="1920" data-image-height="1080">
                <h5 class="u-align-center u-text u-text-6"> Bellagio, Las Vegas</h5>
                <p class="u-align-center u-text u-text-7"> Famous for its dancing fountains, this luxurious resort offers high-stakes gaming and unparalleled elegance.<br>
                </p>
                <a href="https://www.booking.com/hotel/us/bellagio.en-gb.html?aid=311984&amp;label=wynn-palace-28hTk2T%2AFttyQdNvqaWOYQS101859952572%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-2105781329%3Alp1003698%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YbSsBl3MCvHsD8UKUHIRFxY&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;dest_id=186104;dest_type=hotel;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1728303280;srpvid=3a595617e973022f;type=total;ucfs=1&amp;" class="u-align-center u-btn u-button-style u-palette-1-base u-btn-3" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Book Now </a>
              </div>
            </div>
            <div class="u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="600">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img src="/public/images/Banners19.png" alt="" class="u-expanded-width u-image u-image-round u-radius u-image-4" data-image-width="1920" data-image-height="1080">
                <h5 class="u-align-center u-text u-text-8"> Monte Carlo Casino, Monaco<br>
                  <br>
                </h5>
                <p class="u-align-center u-text u-text-9"> A legendary casino offering a glamorous gaming experience in the heart of the French Riviera.<br>
                  <br>
                </p>
                <a href="https://www.booking.com/hotel/mc/ha-tel-de-paris.en-gb.html?aid=311984&amp;label=wynn-palace-28hTk2T%2AFttyQdNvqaWOYQS101859952572%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-2105781329%3Alp1003698%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YbSsBl3MCvHsD8UKUHIRFxY&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=distance_from_search;srepoch=1728303254;srpvid=c9c25609253f056d;type=total;ucfs=1&amp;" class="u-align-center u-btn u-button-style u-palette-1-base u-btn-4" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" target="_blank"> Book Now </a>
              </div>
            </div>
            <div class="u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="600">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img src="/public/images/Banners20.png" alt="" class="u-expanded-width u-image u-image-round u-radius u-image-5" data-image-width="1920" data-image-height="1080">
                <h5 class="u-align-center u-text u-text-10"><b> Wynn Macau</b>
                  <br>
                  <br>
                </h5>
                <p class="u-align-center u-text u-text-11"> A lavish resort with upscale dining, stunning accommodations, and an exclusive gaming environment in Macau.<br>
                </p>
                <a href="https://www.booking.com/hotel/mo/wynn-palace.en.html?aid=311984;label=wynn-palace-28hTk2T*FttyQdNvqaWOYQS101859952572:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-2105781329:lp1003698:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9YbSsBl3MCvHsD8UKUHIRFxY;ws=&amp;gclid=Cj0KCQjwjY64BhCaARIsAIfc7YadO5jORoBoqU3S3z143a96DqtumYMr3DghZdUNKKKCZ90lpBm__lgaAiQ7EALw_wcB" class="u-align-center u-btn u-button-style u-palette-1-base u-btn-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" target="_blank"> Book Now </a>
              </div>
            </div>
            <div class="u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="600">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img src="/public/images/Banners21.png" alt="" class="u-expanded-width u-image u-image-round u-radius u-image-6" data-image-width="1920" data-image-height="1080">
                <h5 class="u-align-center u-text u-text-12"> Atlantis Paradise Island, Bahamas</h5>
                <p class="u-align-center u-text u-text-13"> A tropical oasis featuring thrilling casino games, pristine beaches, and world-class resort amenities in the Bahamas.<br>
                </p>
                <a href="https://www.booking.com/hotel/bs/royal-towers.en-gb.html?aid=311984&amp;label=villa-elsa-bad-kissingen-0NUzHwordEKZLJ3PONPCzgS625096185964%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap%3Aneg%3Afi%3Atikwd-19866587986%3Alp1003698%3Ali%3Adec%3Adm%3Appccp%3DUmFuZG9tSVYkc2RlIyh9YXdX6HrtnYy-Ml68sH-ljtU&amp;sid=8db964e3578c735a8854530d22ebb6c3&amp;dist=0;group_adults=2;group_children=0;hapos=1;hpos=1;no_rooms=1;req_adults=2;req_children=0;room1=A%2CA;sb_price_type=total;sr_order=popularity;srepoch=1728303157;srpvid=b70555d93bb007e1;type=total;ucfs=1&amp;" class="u-align-center u-btn u-button-style u-palette-1-base u-btn-6" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="" target="_blank"> Book Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-1-light-3 u-section-3" id="sec-4659">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Contact Us</h2>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-3b9a" class="u-label">Name</label>
              <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-3b9a" class="u-label">Email</label>
              <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-message u-label-none">
              <label for="message-3b9a" class="u-label">Message</label>
              <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-input u-input-rectangle" required=""></textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit">
              <a href="#" class="u-align-center u-border-none u-btn u-btn-submit u-button-style u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="a4dc3061-becc-5582-253e-e609da76e882">
          </form>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-white u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1"> blueaviatorsclub.com 2024</p>
      </div>
    </footer>
  </body>
</html>