<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Welcome to Blue Aviator's Club, the best place for plane fans to go! This is where you can find everything you need to know about airplanes, whether you are interested in business jets, military planes, or private planes. We take you to the skies and show you everything from the newest plane technology to the long past of flight.In-depth pieces on aircraft design and engineering are just one thing that Blue Aviator's Club covers. We also have reviews of famous planes and the latest news in the industry. Our goal is to bring the magic of flight closer to fans, experts, and people who want to become pilots. This is the best place to feed your desire for flying, ask questions, and stay up to date on what is going on in the world of aviation.We talk about anything that flies! Come on board, and let your love of planes soar with Blue Aviator's Club!">
    <title>Home - Blue Aviator's Club</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="canonical" href="https://blueaviatorsclub.com">
    <link rel="icon" href="/public/images/logo500x200px.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Blue Aviators Club",
        "url": "https://blueaviatorsclub.com",
        "logo": "/public/images/logo500x200px.png?rand=f2e7"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home - Blue Aviator's Club">
    <meta property="og:description" content="​Welcome to Blue Aviator's Club, the best place for plane fans to go! This is where you can find everything you need to know about airplanes, whether you are interested in business jets, military planes, or private planes. We take you to the skies and show you everything from the newest plane technology to the long past of flight.In-depth pieces on aircraft design and engineering are just one thing that Blue Aviator's Club covers. We also have reviews of famous planes and the latest news in the industry. Our goal is to bring the magic of flight closer to fans, experts, and people who want to become pilots. This is the best place to feed your desire for flying, ask questions, and stay up to date on what is going on in the world of aviation.We talk about anything that flies! Come on board, and let your love of planes soar with Blue Aviator's Club!">
    <meta property="og:url" content="https://blueaviatorsclub.com">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-1-light-2 u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-cdbf" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-1ba0" style="padding: 10px 20px;">Aircrafts</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-0966" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-cdbf">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-1ba0">Aircrafts</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-0966">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="400" data-image-height="200">
          <img src="/public/images/logo500x200px.png?rand=f2e7" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-4ae3" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-1"></div>
        <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-2"></div>
        <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-3"></div>
        <h1 class="u-align-left u-text u-text-default u-title u-text-1">Blue Aviator's Club</h1>
        <p class="u-large-text u-text u-text-variant u-text-2">Mastering the sk​​ie<span style="font-weight: 700;"></span>s&nbsp;&nbsp;
        </p>
        <div class="u-border-3 u-border-palette-3-base u-line u-line-horizontal u-line-4"></div>
        <a href="./#sec-36c7" class="u-active-palette-1-base u-align-left u-border-none u-btn u-button-style u-hover-palette-1-base u-palette-4-base u-btn-1">Read More</a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-2" id="sec-36c7">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1920" data-image-height="1080">
              <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-palette-1-base u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-default u-text-1">This is your captain speaking</h2>
                <p class="u-align-left u-text u-text-2"> Welcome to Blue Aviator's Club, the best place for plane fans to go! This is where you can find everything you need to know about airplanes, whether you are interested in business jets, military planes, or private planes. We take you to the skies and show you everything from the newest plane technology to the long past of flight.<br>
                  <br>In-depth pieces on aircraft design and engineering are just one thing that Blue Aviator's Club covers. We also have reviews of famous planes and the latest news in the industry. Our goal is to bring the magic of flight closer to fans, experts, and people who want to become pilots. This is the best place to feed your desire for flying, ask questions, and stay up to date on what is going on in the world of aviation.<br>
                  <br>We talk about anything that flies! Come on board, and let your love of planes soar with Blue Aviator's Club!<br>
                </p>
                <a href="./#sec-1ba0" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1">aircrafts </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-3" src="" data-image-width="1920" data-image-height="1080" id="sec-1ba0">
      <h2 class="u-align-center u-text u-text-default u-text-1">Ruling the skies </h2>
      <p class="u-align-center u-text u-text-2">More than 2000 years of aviation and we have invented thousands of different aircrafts.&nbsp;</p>
      <div class="u-align-center u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/3.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/2.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/1.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/5.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/4.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-5"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/6.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-6"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-10 u-section-4" id="sec-491d">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-align-center u-icon u-icon-circle u-text-palette-1-light-2 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 508.044 508.044" style=""><use xlink:href="#svg-2481"></use></svg><svg class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" id="svg-2481" style="enable-background:new 0 0 508.044 508.044;"><g><g><path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path><path d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
</g>
</g></svg>
          </span>
                <p class="u-align-center u-text u-text-default u-text-1">"My hobby is airplanes. I love shooting photos of airplanes during takeoff and landing and i love learning about them. This is the place for me!"</p>
                <h5 class="u-align-center u-text u-text-palette-1-base u-text-2">Mathew J.</h5>
                <h6 class="u-align-center u-text u-text-3">Aircraft enthusiast </h6>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-align-center u-icon u-icon-circle u-text-palette-1-light-2 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 508.044 508.044" style=""><use xlink:href="#svg-d5dd"></use></svg><svg class="u-svg-content" viewBox="0 0 508.044 508.044" x="0px" y="0px" id="svg-d5dd" style="enable-background:new 0 0 508.044 508.044;"><g><g><path d="M0.108,352.536c0,66.794,54.144,120.938,120.937,120.938c66.794,0,120.938-54.144,120.938-120.938    s-54.144-120.937-120.938-120.937c-13.727,0-26.867,2.393-39.168,6.61C109.093,82.118,230.814-18.543,117.979,64.303    C-7.138,156.17-0.026,348.84,0.114,352.371C0.114,352.426,0.108,352.475,0.108,352.536z"></path><path d="M266.169,352.536c0,66.794,54.144,120.938,120.938,120.938s120.938-54.144,120.938-120.938S453.9,231.599,387.106,231.599    c-13.728,0-26.867,2.393-39.168,6.61C375.154,82.118,496.875-18.543,384.04,64.303C258.923,156.17,266.034,348.84,266.175,352.371    C266.175,352.426,266.169,352.475,266.169,352.536z"></path>
</g>
</g></svg>
          </span>
                <p class="u-align-center u-text u-text-default u-text-4">"This page and the information i got by subscribing, was the main reason i decided to get my amateur pilot's license!" </p>
                <h5 class="u-align-center u-text u-text-palette-1-base u-text-5">Roy V.</h5>
                <h6 class="u-align-center u-text u-text-6">Amateur Pilot</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-image u-shading u-section-5" src="" data-image-width="1920" data-image-height="1080" id="sec-0966">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-border-6 u-border-palette-3-base u-shape u-shape-left u-shape-1"></div>
        <div class="u-align-left u-border-6 u-border-palette-3-base u-shape u-shape-right u-shape-2"></div>
        <h1 class="u-align-center u-text u-text-default-lg u-text-default-xl u-title u-text-1">Your time to join the club</h1>
        <p class="u-align-center u-large-text u-text u-text-variant u-text-2">Send us an email and join our Aviator's news plan to receive the latest aviation news! </p><span class="u-file-icon u-icon u-icon-1"><img src="/public/images/2374449.png" alt=""></span>
        <p class="u-align-center u-custom-font u-heading-font u-text u-text-palette-3-base u-text-3">info@​blueaviatorsclub.com</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-white u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1"> blueaviatorsclub.com 2024</p>
      </div>
    </footer>
  </body>
</html>