<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/global-travel_15490186.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "boundlessbackroads",
        "logo": "/public/images/global-travel_15490186.webp"
      }
    </script>
    <meta name="theme-color" content="#5476db">
    <meta property="og:title" content="Terms and Conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-d419">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="/public/images/global-travel_15490186.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_535d" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_76ce" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_4254" style="padding: 10px 20px;">Top Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-ad2d" style="padding: 10px 20px;">FAQs</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_43ff" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_9629" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_535d">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_76ce">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4254">Top Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-ad2d">FAQs</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_43ff">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_9629">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-palette-1-base u-section-1" id="sec-4a58">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-font u-text-1">Terms &amp; Conditions</h2>
        <div class="u-border-3 u-border-white u-line u-line-horizontal u-line-1"></div>
        <p class="u-align-center u-text u-text-default u-text-2"> Welcome to this website. By accessing or using the Site, you agree to comply with and be bound by the following Terms and Conditions. If you do not agree with these terms, please do not use the Site. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-aa60">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>1. Acceptance of Terms</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> By accessing or using the Site, you acknowledge that you have read, understood, and agree to be bound by these Terms and Conditions and the Privacy Policy. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-3" id="carousel_448c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>2. Use of the Site</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> You agree to use the Site only for lawful purposes and in a manner that does not infringe on the rights of others or restrict or inhibit anyone else's use and enjoyment of the Site. Prohibited activities include, but are not limited to: </p>
        <ul class="u-spacing-26 u-text u-text-font u-text-3">
          <li> Engaging in fraudulent activities.</li>
          <li>Distributing viruses or harmful code.</li>
          <li>Attempting to gain unauthorized access to the Site or its servers.</li>
        </ul>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_c5fd">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b></b><b>3. Intellectual Property</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> All content on the Site, including text, graphics, logos, images, and software, is the property of the Site owner or its licensors and is protected by intellectual property laws. You may not reproduce, distribute, or create derivative works from any content without express written permission. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-5" id="carousel_c3aa">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b></b><b>4. User Accounts</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> If you create an account on the Site, you are responsible for maintaining the confidentiality of your account information and for all activities that occur under your account. You agree to notify the Site owner immediately of any unauthorized use of your account.&nbsp;<br>
        </p>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_7cf6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>5. Third-Party Links</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> The Site may contain links to third-party websites. The Site owner does not endorse or assume any responsibility for the content or practices of these websites. Your use of any third-party website is at your own risk. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-7" id="carousel_6932">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>6. Limitation of Liability</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> To the fullest extent permitted by law, the Site owner will not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of or inability to use the Site. This includes, but is not limited to, damages for loss of profits, data, or other intangible losses. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-8" id="carousel_eacf">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>7. Indemnification</b><b></b>
        </h4>
        <p class="u-text u-text-default u-text-2"> You agree to indemnify, defend, and hold harmless the Site owner, its affiliates, and their respective officers, directors, employees, and agents from and against any claims, liabilities, damages, losses, costs, and expenses (including reasonable attorney’s fees) arising out of or in connection with your use of the Site, your violation of these Terms and Conditions, or your infringement of any third-party rights. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-9" id="carousel_6e8a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b></b><b>8. Changes to These Terms</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> The Site owner may update these Terms and Conditions from time to time. Any changes will be posted on this page with an updated effective date. Your continued use of the Site after any changes indicates your acceptance of the new Terms and Conditions. </p>
      </div>
    </section>
    <section class="u-clearfix u-section-10" id="carousel_b33d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-text u-text-default u-text-font u-text-1"><b>9. Governing Law</b>
        </h4>
        <p class="u-text u-text-default u-text-2"> These Terms and Conditions shall be governed by and construed in accordance with the laws of the jurisdiction in which the Site operates, without regard to its conflict of law principles. </p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-e84f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">All Rights Reserved - Boundless Back Roads </p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-489e"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-489e" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>