<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "oceantidevista​",
        "url": "/",
        "logo": "/public/images/living_unplugged__3_-removebg-preview.webp"
      }
    </script>
    <meta name="theme-color" content="#86afc0">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=f62e1564-0853-fc57-24ba-9e60340ca39b" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-1-base u-sticky u-sticky-282a u-header" id="sec-9151">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-black u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-custom-color-4" href="./#sec-77d4" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-custom-color-4" href="./#carousel_82e8" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-custom-color-4" href="./#carousel_9b8d" style="padding: 10px 20px;">Our Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-custom-color-4" href="./#carousel_1fd3" style="padding: 10px 20px;">Our Resorts</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-custom-color-4" href="./#carousel_8047" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-custom-color-4" href="./#carousel_4581" style="padding: 10px 20px;">Contact us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-77d4">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_82e8">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_9b8d">Our Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_1fd3">Our Resorts</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_8047">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4581">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="./#sec-77d4" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="home">
          <img src="/public/images/living_unplugged__3_-removebg-preview.webp" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" data-image-width="2400" data-image-height="1456" id="sec-77d4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-border-5 u-border-white u-container-align-left u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1"><span class="u-align-center u-icon u-icon-circle u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 54 54" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8136"></use></svg><svg class="u-svg-content" viewBox="0 0 54 54" x="0px" y="0px" id="svg-8136" style="enable-background:new 0 0 54 54;"><g><path d="M27,8c-9.374,0-17,7.626-17,17c0,7.112,4.391,13.412,11,15.9V50c0,0.553,0.447,1,1,1h1v2c0,0.553,0.447,1,1,1h6
		c0.553,0,1-0.447,1-1v-2h1c0.553,0,1-0.447,1-1v-9.1c6.609-2.488,11-8.788,11-15.9C44,15.626,36.374,8,27,8z M30,49
		c-0.553,0-1,0.447-1,1v2h-4v-2c0-0.553-0.447-1-1-1h-1v-5h8v5H30z M31.688,39.242C31.277,39.377,31,39.761,31,40.192V42h-8v-1.808
		c0-0.432-0.277-0.815-0.688-0.95C16.145,37.214,12,31.49,12,25c0-8.271,6.729-15,15-15s15,6.729,15,15
		C42,31.49,37.855,37.214,31.688,39.242z"></path><path d="M27,6c0.553,0,1-0.447,1-1V1c0-0.553-0.447-1-1-1s-1,0.447-1,1v4C26,5.553,26.447,6,27,6z"></path><path d="M51,24h-4c-0.553,0-1,0.447-1,1s0.447,1,1,1h4c0.553,0,1-0.447,1-1S51.553,24,51,24z"></path><path d="M7,24H3c-0.553,0-1,0.447-1,1s0.447,1,1,1h4c0.553,0,1-0.447,1-1S7.553,24,7,24z"></path><path d="M43.264,7.322l-2.828,2.828c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293
		s0.512-0.098,0.707-0.293l2.828-2.828c0.391-0.391,0.391-1.023,0-1.414S43.654,6.932,43.264,7.322z"></path><path d="M12.15,38.436l-2.828,2.828c-0.391,0.391-0.391,1.023,0,1.414c0.195,0.195,0.451,0.293,0.707,0.293
		s0.512-0.098,0.707-0.293l2.828-2.828c0.391-0.391,0.391-1.023,0-1.414S12.541,38.045,12.15,38.436z"></path><path d="M41.85,38.436c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l2.828,2.828c0.195,0.195,0.451,0.293,0.707,0.293
		s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L41.85,38.436z"></path><path d="M12.15,11.564c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414l-2.828-2.828
		c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L12.15,11.564z"></path><path d="M27,13c-6.617,0-12,5.383-12,12c0,0.553,0.447,1,1,1s1-0.447,1-1c0-5.514,4.486-10,10-10c0.553,0,1-0.447,1-1
		S27.553,13,27,13z"></path>
</g></svg>
        </span>
            <h2 class="u-align-center u-text u-text-default u-text-1">Ocean Tide Vista </h2>
            <p class="u-align-center u-text u-text-2">We are an ambitious studio and are looking for enthusiastic people to join our team.</p>
            <a href="./#carousel_82e8" class="u-active-white u-align-center u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-hover-white u-none u-btn-1">learn more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-2 u-section-2" id="carousel_82e8">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-32 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-align-left u-text u-text-1">About Smart Home </h2>
                  <p class="u-text u-text-2">&nbsp;"Welcome to Ocean Tide Vista​, where luxury meets nature in the heart of serene landscapes. Our resort offers world-class amenities, personalized services, and unforgettable experiences for those seeking tranquility and adventure. Whether you're here to relax or explore, we promise a stay that rejuvenates the soul.</p>
                  <a href="./#carousel_9b8d" class="u-active-custom-color-4 u-align-left u-border-2 u-border-active-grey-80 u-border-custom-color-4 u-border-hover-custom-color-4 u-btn u-btn-round u-button-style u-hover-custom-color-4 u-none u-radius-50 u-text-body-alt-color u-btn-1"> Get Inspired</a>
                </div>
              </div>
              <div class="u-container-align-center u-container-style u-layout-cell u-size-28 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <img class="u-image u-image-round u-radius u-image-1" src="/public/images/70a79094a22c5df283e58b7d6ee19f98db75732932960e249e153dca3faa4b80874c3c18e97905ced17460ef575d101e9120d9a9d4667f3fce3e27_1280.webp" alt="" data-image-width="1280" data-image-height="853">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-custom-color-4 u-section-3" id="carousel_9b8d">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-body-color u-text-default u-text-1">Our Services </h2>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-32-lg u-size-32-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                <div class="u-container-layout u-container-layout-1">
                  <div class="custom-expanded u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-2">
                          <h4 class="u-text u-text-body-color u-text-2">Luxury Spa &amp; Wellness</h4>
                          <div class="u-border-3 u-border-custom-color-1 u-line u-line-horizontal u-line-1"></div>
                          <p class="u-text u-text-default u-text-3"> Rejuvenate with our signature spa treatments, massages, and wellness therapies designed to relax both body and mind. </p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-3">
                          <h4 class="u-text u-text-body-color u-text-4">Gourmet Dining </h4>
                          <div class="u-border-3 u-border-custom-color-1 u-line u-line-horizontal u-line-2"></div>
                          <p class="u-text u-text-default u-text-5"> Experience world-class dining with a variety of cuisines prepared by expert chefs, offering both local and international flavors. </p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-4">
                          <h4 class="u-text u-text-body-color u-text-6">Advanture and Activities </h4>
                          <div class="u-border-3 u-border-custom-color-2 u-line u-line-horizontal u-line-3"></div>
                          <p class="u-text u-text-default u-text-7"> Enjoy thrilling outdoor adventures such as hiking, water sports, and guided tours, or take part in our cultural experiences </p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-container-layout-5">
                          <h4 class="u-text u-text-body-color u-text-8">Private Villas &amp; Suites </h4>
                          <div class="u-border-3 u-border-custom-color-2 u-line u-line-horizontal u-line-4"></div>
                          <p class="u-text u-text-default u-text-9">Relax in our luxurious private villas and suites, each designed with modern comforts, stunning views, and personalized service. </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-container-align-center-xl u-container-style u-layout-cell u-size-28-lg u-size-28-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-container-layout-6">
                  <img class="u-expanded-width-sm u-expanded-width-xs u-image u-image-round u-radius u-image-1" src="/public/images/17f18d9a73804c3cacc4efa3a91f667362a56992826d30f555d963d3efe1a7c84037ac20805d7cc309e2608f005beff087edbed84dfc278c71c844_1280.webp" alt="" data-image-width="1280" data-image-height="857">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-lg u-container-align-center-xl u-custom-color-2 u-section-4" id="carousel_1fd3">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Explore More Resorts </h2>
        <div class="u-expanded-width-lg u-expanded-width-sm u-expanded-width-xl u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-image u-image-round u-list-item u-radius-25 u-repeater-item u-shading u-image-1" data-image-width="1280" data-image-height="857">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <a href="https://panamericanobariloche.hotel-rez.com/" class="u-border-2 u-border-active-custom-color-4 u-border-hover-custom-color-4 u-border-white u-btn u-btn-round u-button-style u-none u-radius u-text-body-alt-color u-text-hover-white u-btn-1" target="_blank">BOOK NOW </a>
                <h4 class="u-text u-text-2">Hotel Panamericano Bariloche </h4>
                <p class="u-text u-text-3">Family-friendly hotel with full-service spa connected to the convention center in San Carlos de Bariloche.</p>
              </div>
            </div>
            <div class="u-container-style u-image u-image-round u-list-item u-radius-25 u-repeater-item u-shading u-image-2" data-image-width="1280" data-image-height="960">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <a href="https://www.hyatt.com/en-US/hotel/argentina/park-hyatt-mendoza-hotel-casino-and-spa/menph?src=adm_sem_crp_chico_crp_ppc_LAC-Argentina-None-Mendoza-PH-MENPH_google_Evergreen2022_e_park%20hyatt%20mendoza&amp;gad_source=1&amp;gclid=Cj0KCQjwurS3BhCGARIsADdUH50N60WSpXZ7hF8OqTkr2k88B_JsF4Ok6OhD0UIO9qcEgWm0omXRvLAaAkQ3EALw_wcB" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius u-text-body-alt-color u-text-hover-white u-btn-2" target="_blank">BOOKNOW </a>
                <h4 class="u-text u-text-4">Park Hyatt Mendoza</h4>
                <p class="u-text u-text-5">Park Hyatt Mendoza is located in Mendoza City Center, a neighborhood in Mendoza, and is in the entertainment district and near the airport. </p>
              </div>
            </div>
            <div class="u-container-style u-image u-image-round u-list-item u-radius-25 u-repeater-item u-shading u-image-3" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <a href="https://huentala.com/en/" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius u-text-body-alt-color u-text-hover-white u-btn-3" target="_blank">BOOK NOW </a>
                <h4 class="u-text u-text-6"> Huentala Hotel</h4>
                <p class="u-text u-text-7">Winery hotel connected to the convention center in Mendoza City Center with winery.</p>
              </div>
            </div>
            <div class="u-container-style u-image u-image-round u-list-item u-radius-25 u-repeater-item u-shading u-image-4" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <a href="https://www.troiadesignhotel.com/en/" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius u-text-body-alt-color u-text-hover-white u-btn-4" target="_blank">BOOK NOW </a>
                <h4 class="u-text u-text-8">Troia Design Hotel</h4>
                <p class="u-text u-text-9">Located in Grandola, Troia Design Hotel is in the business district and near the beach</p>
              </div>
            </div>
            <div class="u-container-style u-image u-image-round u-list-item u-radius-25 u-repeater-item u-shading u-image-5" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <a href="https://www.mediterranean.gr/" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius u-text-body-alt-color u-text-hover-white u-btn-5" target="_blank">BOOK NOW </a>
                <h4 class="u-text u-text-10">Hotel&nbsp; Mediterranean</h4>
                <p class="u-text u-text-11">Luxury hotel near the beach </p>
              </div>
            </div>
            <div class="u-container-style u-image u-image-round u-list-item u-radius-25 u-repeater-item u-shading u-image-6" data-image-width="1280" data-image-height="829">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <a href="https://www.gruposolverde.pt/en/hotel-casino-chaves/" class="u-border-2 u-border-white u-btn u-btn-round u-button-style u-none u-radius u-text-body-alt-color u-text-hover-white u-btn-6" target="_blank">BOOK NOW </a>
                <h4 class="u-text u-text-12">Hotel Casino Chaves</h4>
                <p class="u-text u-text-13">Located in Chaves, Hotel Casino Chaves is in a regional park.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left u-custom-color-4 u-section-5" id="carousel_8047">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-body-color u-text-default u-text-1"> What People Say?</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-2">Stella Larson</h5>
                <p class="u-align-center u-text u-text-3">The views were breathtaking, and the staff went above and beyond to make our stay unforgettable. The spa was a highlight—absolutely relaxing!&nbsp;</p>
                <div class="u-align-left u-border-2 u-border-palette-1-light-1 u-expanded-width u-line u-line-horizontal u-line-1"></div>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-4">Nick Jhonson</h5>
                <p class="u-align-center u-text u-text-5"> From the gourmet dining to the beautiful private villa, everything was top-notch. The resort is a slice of paradise for anyone looking to unwind. </p>
                <div class="u-align-left u-border-2 u-border-palette-1-light-1 u-expanded-width u-line u-line-horizontal u-line-2"></div>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <h5 class="u-align-center u-custom-font u-font-montserrat u-text u-text-6">Olga Ivanova</h5>
                <p class="u-align-center u-text u-text-7">My family loved the range of activities and the attention to detail in the service. The kids enjoyed the outdoor excursions while I indulged in some much.</p>
                <div class="u-align-left u-border-2 u-border-palette-1-light-1 u-expanded-width u-line u-line-horizontal u-line-3"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-custom-color-2 u-section-6" id="carousel_a04c">
      <div class="u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-custom-color-2 u-expanded-width u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h2 class="u-align-center u-text u-text-default u-text-1"> Our Interior </h2>
          <p class="u-align-center u-text u-text-2">"Our resort's interior blends modern elegance with natural elements, creating a warm and inviting atmosphere. Thoughtfully designed spaces offer a seamless mix of luxury and comfort, perfect for relaxation.</p>
        </div>
      </div>
      <div class="u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1529290130-4ca3753253ae.webp">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide" data-image-width="1380" data-image-height="920">
              <img class="u-back-image u-expanded" src="/public/images/ffg4.webp">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1625244724120-1fd1d34d00f6.webp">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1554009975-d74653b879f1.webp">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1505693416388-ac5ce068fe85.webp">
            </div>
            <div class="u-over-slide u-shading u-over-slide-5"></div>
          </div>
          <div class="u-effect-fade u-effect-hover-zoom u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1522798514-97ceb8c4f1c8.webp">
            </div>
            <div class="u-over-slide u-shading u-over-slide-6"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-xl u-custom-color-4 u-section-7" id="carousel_4581">
      <div class="u-clearfix u-sheet u-valign-middle-xl u-valign-middle-xs u-valign-top-md u-valign-top-sm u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-container-layout-1">
                  <div class="u-absolute-hcenter-lg u-absolute-hcenter-md u-absolute-hcenter-sm u-absolute-hcenter-xs u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-3 u-border-grey-dark-1 u-line u-line-vertical u-line-1"></div>
                  <img class="u-image u-image-default u-image-1" src="/public/images/52ba8d381bcd60604b1b4422f78ed1ecaa239dfc54984d30fc4b1901faf85aad5f09ccca7cf365216571c52063b268b57473483318c90696a273f4_1280.webp" alt="" data-image-width="1280" data-image-height="853">
                  <h3 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-text u-text-black u-text-default u-text-1">Contact Us </h3><span class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-file-icon u-icon u-text-custom-color-2 u-icon-1"><img src="/public/images/542689-be9a30c3.webp" alt=""></span>
                  <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-align-left-xl u-text u-text-default u-text-2">Info@​oceantidevista​.com </h2>
                  <div class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-4 u-border-custom-color-1 u-line u-line-horizontal u-line-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <style class="u-overlap-style">
      .u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #380755 !important
      }
    </style>
    <footer class="u-align-center u-clearfix u-container-align-center u-container-align-center-lg u-container-align-center-xl u-custom-color-2 u-footer u-footer" id="sec-83b2">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <p class="u-text u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1" href="terms-and-conditions">Terms and Condition</a>
        </p>
        <p class="u-text u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2" href="privacy-policy">Privacy Policy</a>
        </p>
        <p class="u-text u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3" href="cookies-policy">Cookies Policy</a>
        </p>
      </div>
    </footer>
  </body>
</html>