<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>HOME</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "royaltidehaven",
        "url": "/",
        "logo": "/public/images/living_unplugged__1_-removebg-preview1.webp"
      }
    </script>
    <meta name="theme-color" content="#036d4c">
    <meta property="og:title" content="HOME">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=16d4f101-3f6d-3e0f-bc2b-499f39a69c7d" data-home-page-title="HOME" data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xl-mode" data-lang="en">
    <header class="u-clearfix u-container-align-center u-header u-sticky u-sticky-5269 u-white u-header" id="sec-5942" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="HOME">
          <img src="/public/images/living_unplugged__1_-removebg-preview1.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-875f"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-875f" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">HOME</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-b3c6">ABOUT US</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_9ea7">OUR HOTELS</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_dd65">WHY CHOOSE US</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-cf15">TESTIMONIALS</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-b148">CONTACT US</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">HOME</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-b3c6">ABOUT US</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_9ea7">OUR HOTELS</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_dd65">WHY CHOOSE US</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-cf15">TESTIMONIALS</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-b148">CONTACT US</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-palette-2-base u-section-1" id="carousel_5922">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-expanded-width-xs u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
        <img class="u-image u-image-1" src="/public/images/114898074.webp" data-image-width="1024" data-image-height="683">
        <div class="u-align-left u-container-align-left u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-custom-font u-font-montserrat u-text u-text-palette-2-base u-text-1" spellcheck="false">WELLCOME TO OUR HOTEL </h1>
            <p class="u-text u-text-2" spellcheck="false"> Discover the perfect blend of elegance and relaxation at our hotel and resort, where world-class amenities meet breathtaking surroundings. Whether for leisure or business, we offer an unforgettable experience tailored to your every need.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-palette-5-light-2 u-section-2" id="sec-b3c6">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-sheet-1">
        <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-palette-2-base u-shape u-shape-rectangle u-shape-2"></div>
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-left-cell u-size-24-lg u-size-24-xl u-size-29-md u-size-29-sm u-size-29-xs u-white u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1" spellcheck="false">ABOUT US </h2>
                  <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
                  <p class="u-custom-font u-font-montserrat u-text u-text-default u-text-2">Welcome to our hotel and resort, where luxury and comfort come together to create an unforgettable experience. Nestled in a serene location, we offer a perfect escape from the everyday hustle, blending modern amenities with natural beauty. Our dedicated team ensures personalized service, catering to your every need, whether you're here for a relaxing vacation or a business trip. </p>
                </div>
              </div>
              <div class="u-container-style u-image u-layout-cell u-right-cell u-size-31-md u-size-31-sm u-size-31-xs u-size-36-lg u-size-36-xl u-image-1" data-image-width="1280" data-image-height="854">
                <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-3" id="carousel_9ea7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1" spellcheck="false">OUR HOTELS </h2>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" alt="" data-image-width="740" data-image-height="493" src="/public/images/outdoor-swimming-pool_1203-3082.webp">
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-2" spellcheck="true">Lindner Hotel&nbsp;</p>
                <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-3">Luxury hotel with full-service spa connected to the convention center in Nuerburgvv​.</p>
                <a href="https://www.expedia.com/Mullenbach-Hotels-Lindner-Nurburgring-Congress-Hotel.h2666662.Hotel-Information" class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-white u-btn-1" target="_blank">BOOK NOW</a>
              </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="1200" data-image-height="816" src="/public/images/12ff0d3c.webp">
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-4" spellcheck="false">Warsaw&nbsp; Hotel</p>
                <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-5">Luxury hotel with 2 restaurants connected to a shopping center in Warsaw​.</p>
                <a href="https://www.expedia.com/Warsaw-Hotels-Warsaw-Marriott-Hotel.h16085.Hotel-Information" class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-white u-btn-2" target="_blank">BOOK NOW </a>
              </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-expanded-width u-image u-image-default u-image-3" alt="" data-image-width="1280" data-image-height="811" src="/public/images/54ecbc5e638619f0f60bec10f946e8829745b3a685fa2c64c776f55f1413d72b8d22b5604b9a782555b95cd5d93016240370a8e21ea17710b10ebc_1280.webp">
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-6"> Hotel Panamericano Bariloche</p>
                <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-7">Family-friendly hotel with full-service spa connected to the convention​.</p>
                <a href="https://www.expedia.com/San-Carlos-De-Bariloche-Hotels-Hotel-Panamericano-Bariloche.h24944.Hotel-Information" class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-white u-btn-3" target="_blank">BOOK NOW </a>
              </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img class="u-expanded-width u-image u-image-default u-image-4" alt="" data-image-width="1280" data-image-height="853" src="/public/images/909b0588c76ff342c8d49bea77f9ccc456c8cc5a9ee8aaa9e2a291f578bc9f614fbd3c50882e5e4086e971d047bb3bf59452907df6f15da63decdc_1280.webp">
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-8" spellcheck="true"> Sheraton Mendoza Hotel</p>
                <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-9">Luxury Mendoza hotel in Mendoza City Center with 3 restaurants. </p>
                <a href="https://www.expedia.com/Mendoza-Hotels-Sheraton-Mendoza-Hotel.h2179375.Hotel-Information" class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-white u-btn-4" target="_blank">BOOK NOW </a>
              </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img class="u-expanded-width u-image u-image-default u-image-5" alt="" data-image-width="1024" data-image-height="683" src="/public/images/114898074.webp">
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-10" spellcheck="false"> Alexander Beach hotel &amp; Spa</p>
                <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-11">Luxury hotel with 2 restaurants connected to the convention center.</p>
                <a href="https://www.expedia.com/Alexandroupoli-Hotels-Alexander-Beach-Hotel-Spa.h2322344.Hotel-Information" class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-white u-btn-5" target="_blank">BOOK&nbsp; NOW </a>
              </div>
            </div>
            <div class="u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img class="u-expanded-width u-image u-image-default u-image-6" alt="" data-image-width="740" data-image-height="493" src="/public/images/umbrella-chair_74190-3726.webp">
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-12" spellcheck="false">ARIA Resort &amp; Casino </p>
                <p class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-13">Located in Las Vegas Strip neighborhood, ARIA Resort. </p>
                <a href="https://www.expedia.com/Las-Vegas-Hotels-ARIA-Resort-Casino.h2565776.Hotel-Information" class="u-active-none u-border-2 u-border-active-white u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-button-style u-hover-none u-none u-text-active-white u-text-hover-white u-text-white u-btn-6" target="_blank">BOOK NOW </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-5-light-2 u-section-4" id="carousel_dd65">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-palette-1-base u-shape u-shape-rectangle u-shape-1"></div>
        <img src="/public/images/78e9da06cb54abe0bd0a7d935dfe23f6b73ca7348212da0a45e9546730f5a4f2c8af04b4bdbb3c1185f9bc31b26c58504ed8924472ec49eceb95d8_1280.webp" alt="" class="u-image u-image-default u-image-1" data-image-width="1280" data-image-height="853">
        <div class="u-align-left u-container-align-left u-container-style u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-custom-font u-font-montserrat u-font-source-sans-pro u-text u-text-1" spellcheck="false">WHY CHOOSE US </h2>
            <p class="u-custom-font u-font-montserrat u-text u-text-2" spellcheck="false">Refined Luxury: Experience a perfect blend of sophistication and modern comfort at our hotel and resort.<br>Ideal Location: Nestled in a tranquil setting, offering both relaxation and easy access to top attractions.<br>
              <br>Outstanding Service: Our team provides personalized care to ensure your stay is smooth and unforgettable.<br>Premium Amenities: Enjoy top-tier dining, wellness, and entertainment facilities designed for your ultimate comfort.<br>
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-5" id="sec-cf15">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1" spellcheck="false">TESTIMONIALS </h2>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-left u-container-style u-custom-item u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-expanded-width u-image u-image-default u-image-1" alt="" data-image-width="848" data-image-height="1280" src="/public/images/photo-1583071299210-c6c113f4ac91.webp">
                <h4 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-2">James T </h4>
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-3">"From the beautiful surroundings to the impeccable service, this resort exceeded all my expectations. Every detail was thoughtfully crafted for comfort." </p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-custom-item u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="1280" data-image-height="853" src="/public/images/39b7a3a9c575173f623dc4055a187644ebfba671a41534bff8f696e894e999d72ed4ef8b3efa5536f5b08249810bee62b59ef41f11b82eb8abbbcb_1280.webp">
                <h4 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-4">Maria D. </h4>
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-5" spellcheck="false">"The personalized service and world-class amenities made this the ideal getaway. Whether for business or relaxation, this place has it all." </p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-custom-item u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-expanded-width u-image u-image-default u-image-3" alt="" data-image-width="1024" data-image-height="1280" src="/public/images/photo-1534528741775-53994a69daeb.webp">
                <h4 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-6">Sarah L. </h4>
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-7" spellcheck="false">"I’ve stayed at many resorts, but this one stands out for its elegance and exceptional care. The team went above and beyond to make our trip special." </p>
              </div>
            </div>
            <div class="u-container-align-left u-container-style u-custom-item u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img class="u-expanded-width u-image u-image-default u-image-4" alt="" data-image-width="1080" data-image-height="720" src="/public/images/photo-1557862921-37829c790f19.webp">
                <h4 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-8">John Doe </h4>
                <p class="u-align-left u-custom-font u-custom-item u-font-montserrat u-text u-text-default u-text-9">"The serene location and tailored experiences made my vacation truly unique. A perfect blend of luxury and tranquility!" </p>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-6" id="sec-b148" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-container-align-center u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-1" spellcheck="false">CONTACT US </h2>
            <p class="u-align-center u-custom-font u-font-montserrat u-large-text u-text u-text-variant u-text-2" spellcheck="true">Info@ <a href="http://royaltidehaven.com/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base waffle-rich-text-link u-btn-1">royaltidehaven</a>.com
            </p><span class="u-align-center u-file-icon u-icon u-text-palette-2-base u-icon-1"><img src="/public/images/562688-eb45fe0c.webp" alt=""></span>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-1-base u-footer" id="sec-a295">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-1">
          <a class="u-border-none u-btn u-button-link u-button-style u-custom-font u-font-montserrat u-none u-text-white u-btn-1" href="cookies-policy">COOKIES POLICY</a>
        </p>
        <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-2">
          <a class="u-border-none u-btn u-button-link u-button-style u-custom-font u-font-montserrat u-none u-text-white u-btn-2" href="privacy-policy">PRIVACY POLICY</a>
        </p>
        <p class="u-align-center u-custom-font u-font-montserrat u-text u-text-default u-text-3">
          <a class="u-border-none u-btn u-button-link u-button-style u-custom-font u-font-montserrat u-none u-text-white u-btn-3" href="privacy-policy">TERMS AND CONDITIONS </a>
        </p>
      </div>
    </footer>
  </body>
</html>