<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="We at Walk Towards Green want to help you live in a way that is better for the world. Our goal is to give people and communities the tools, advice, and resources they need to make less of an effect on the environment. We show you how to live in a way that saves energy and is good for the environment, from habits to items and ways of doing things that are green.
Walk Towards Green gives you the information and ideas you need to make a difference, whether you want to reduce your carbon footprint, switch to zero-waste methods, or just make more eco-friendly choices in your daily life. We can all do small things to make the world a better place.
">
    <title>Home - Walk Towards Green</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="canonical" href="https://walktowardsgreen.com">
    <link rel="icon" href="/public/images/7.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Walk Towards Green",
        "url": "https://walktowardsgreen.com",
        "logo": "/public/images/7.png?rand=d877"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home - Walk Towards Green">
    <meta property="og:description" content="We at Walk Towards Green want to help you live in a way that is better for the world. Our goal is to give people and communities the tools, advice, and resources they need to make less of an effect on the environment. We show you how to live in a way that saves energy and is good for the environment, from habits to items and ways of doing things that are green.
Walk Towards Green gives you the information and ideas you need to make a difference, whether you want to reduce your carbon footprint, switch to zero-waste methods, or just make more eco-friendly choices in your daily life. We can all do small things to make the world a better place.
">
    <meta property="og:url" content="https://walktowardsgreen.com">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-sticky u-sticky-e402 u-white u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <img src="/public/images/7.png?rand=d877" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="./#sec-ad33" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="./#sec-6500" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-ad33">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6500">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-6613" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-left u-text u-text-default u-title u-text-1">Walk Towards green</h1>
        <p class="u-align-left u-large-text u-text u-text-variant u-text-2">Change your life now! </p>
        <a href="./#sec-ad33" class="u-align-left u-btn u-button-style u-custom-color-6 u-hover-custom-color-4 u-btn-1">Learn More</a>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-grey-5 u-section-2" id="sec-ad33">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-18 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" src="" data-image-width="1280" data-image-height="839">
                    <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-30 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-right-cell u-size-40 u-image-2" data-image-width="853" data-image-height="1280">
                    <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
                  </div>
                  <div class="u-container-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-3" src="">
                    <div class="u-container-layout u-container-layout-3">
                      <h2 class="u-align-left u-text u-text-default u-text-1">Who we are?</h2>
                      <p class="u-align-justify u-text u-text-2"> At Walk Towards Green, we’re committed to helping you live a more environmentally friendly lifestyle. Our mission is to provide practical advice, tips, and resources that empower individuals and communities to reduce their environmental impact. From energy-saving habits and sustainable living ideas to eco-friendly products and practices, we guide you on a path toward a greener future.Whether you're looking to lower your carbon footprint, adopt zero-waste strategies, or make more conscious choices in your everyday life, Walk Towards Green offers the knowledge and inspiration you need to make a difference. Together, we can take small steps that lead to a healthier planet.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-3" src="" data-image-width="1280" data-image-height="853" id="sec-6f5f">
      <h2 class="u-align-center u-text u-text-default u-text-1">Here's what we do</h2>
      <p class="u-align-center u-text u-text-2">Some of our latest actions</p>
      <div class="custom-expanded u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/Untitleddesign43.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/Untitleddesign44.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/Untitleddesign45.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/Untitleddesign46.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-4"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/Untitleddesign47.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-5"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/Untitleddesign48.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-6"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="sec-90f3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-2 u-border-grey-75 u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="/public/images/4380439.png" alt=""></span>
                <h5 class="u-align-center u-custom-font u-text u-text-default u-text-1">5 Tons of plastic Monthly </h5>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-75 u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-2"><img src="/public/images/9985721.png" alt=""></span>
                <h5 class="u-align-center u-custom-font u-text u-text-default u-text-2">Worldwide Action</h5>
              </div>
            </div>
            <div class="u-border-2 u-border-grey-75 u-container-align-center u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-3"><img src="/public/images/4807598.png" alt=""></span>
                <h5 class="u-align-center u-custom-font u-text u-text-default u-text-3">10k+ Volunteers&nbsp;</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-5" id="sec-6500">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-align-center u-custom-font u-text u-text-default u-text-1">Contact Us<span style="font-weight: 700;"></span>
        </h4>
        <h4 class="u-align-center u-custom-font u-text u-text-default u-text-2">Become a member now by sending us an email. </h4><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="/public/images/2099199.png" alt=""></span>
        <p class="u-align-center u-text u-text-default u-text-3">volunteer@walktowardsgreen.com</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-white u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-weight: 700;">
            <a class="u-button-style u-custom-text-active-color u-custom-text-hover-color u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-6 u-text-hover-custom-color-11" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-custom-color-6 u-text-variant u-text-1"> walktowardsgreen.com​ 2024</p>
      </div>
    </footer>
  </body>
</html>