<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "crystalwatersretreats",
        "url": "/",
        "logo": "/public/images/livingunplugged6.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=a6d91897-0d1c-2c31-5428-dd92aedb6ce6" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-container-align-center-xl u-header u-sticky u-sticky-c875 u-header" id="sec-7d99" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Home">
          <img class="u-logo-image u-logo-image-1" src="/public/images/livingunplugged6.webp">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./" style="padding: 8px 4px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#sec-4d30" style="padding: 8px 4px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#carousel_39fa" style="padding: 8px 4px;">Our Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#carousel_2755" style="padding: 8px 4px;">Our Offers</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#sec-33c4" style="padding: 8px 4px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#carousel_d89c" style="padding: 8px 4px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-4d30">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_39fa">Our Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_2755">Our Offers</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-33c4">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_d89c">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
          <style class="menu-style">
            @media (max-width: 939px) {
              [data-responsive-from="MD"] .u-nav-container {
                display: none;
              }
              [data-responsive-from="MD"] .menu-collapse {
                display: block;
              }
            }
          </style>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-image u-shading u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-lg u-valign-top-xl u-section-1" id="carousel_1002" data-image-width="1280" data-image-height="853">
      <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-align-left u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-size-29 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h3 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-grey-5 u-text-1" spellcheck="false">Welcome to Here </h3>
                <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-white u-text-2" spellcheck="false"> Reserve your luxury stay with ease and unmatched convenience</p>
                <div class="u-hidden-xs u-shape u-shape-svg u-text-palette-4-base u-shape-1">
                  <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 50" style="">
                    <use xlink:href="#svg-c9fe"></use>
                  </svg>
                  <svg class="u-svg-content" viewBox="0 0 160 50" x="0px" y="0px" id="svg-c9fe" style="enable-background:new 0 0 160 50;">
                    <path d="M133,26.7c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,22
	c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0
	l-3.8,4.7C146.9,20.2,142.3,20.2,133,26.7z M133,10.8c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0
	c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,6.1c11.2-7.8,20.6-8.1,32.2,0c11,7.6,19,8.5,31.3,0C75.1-2,85.9-1.6,97,6.1
	c11.4,8,20.3,8.3,32.2,0C140.8-2,148.4-2,160,6.1l-3.8,4.7C146.9,4.3,142.3,4.3,133,10.8z M32.2,38c11,7.6,19,8.5,31.3,0
	c11.6-8.1,22.4-7.7,33.5,0c11.4,8,20.3,8.3,32.2,0c11.6-8.1,19.2-8.1,30.8,0l-3.8,4.7c-9.3-6.5-13.9-6.5-23.3,0
	c-13.9,9.7-25.8,9.7-39.8,0c-9.1-6.3-16.8-6.3-25.9,0c-13.8,9.6-25.1,9.6-38.9,0c-9.2-6.4-15.4-6.4-24.6,0L0,38
	C11.2,30.2,20.6,29.9,32.2,38z"></path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-31 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                <div class="u-shape u-shape-svg u-text-palette-4-base u-shape-2">
                  <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                    <use xlink:href="#svg-9d3d"></use>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-9d3d" style="enable-background:new 0 0 160 160;">
                    <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                  </svg>
                </div>
                <div class="custom-expanded u-hidden-xs u-image u-image-circle u-preserve-proportions u-image-1" data-image-width="1280" data-image-height="853"></div>
                <div class="u-shape u-shape-svg u-text-palette-4-base u-shape-3">
                  <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                    <use xlink:href="#svg-9d3d"></use>
                  </svg>
                  <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-9d3d" style="enable-background:new 0 0 160 160;">
                    <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-white u-section-2" id="sec-4d30">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="851">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-2" src="">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h2 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-custom-font u-text u-text-default u-text-1" spellcheck="false">About Us<span style="font-weight: 700;"></span>
                  </h2>
                  <p class="u-align-center u-text u-text-2" spellcheck="false"> The<span class="u-text-black">&nbsp;Crystal Waters Retreats</span>&nbsp;is also within walking distance of some of the city's finest galleries and museums, such as the National Gallery and the Victoria and Albert Museum, offering a rich cultural experience. Guests can easily explore the historic landmarks of Westminster, including the Houses of Parliament and Westminster Abbey. For those seeking retail therapy, the nearby Harrods and Fortnum &amp; Mason provide exclusive shopping experiences. In the evening, you can immerse yourself in the vibrant nightlife of Soho or enjoy a leisurely stroll along the River Thames.&nbsp;
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-10 u-section-3" id="carousel_39fa">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-1">Our Hotels </h1>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-border-5 u-border-palette-5-light-3 u-expanded-width u-image u-image-round u-radius-20 u-image-1" src="https://d2afqorggl9erl.cloudfront.net/resorts/uk/ritz/image2.jpg" alt="" data-image-width="1000" data-image-height="1000">
                <h5 class="u-align-center u-hover-feature u-text u-text-2"> Van der Valk Hotel Eindhoven</h5>
                <p class="u-align-center u-text u-text-3">
                  <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1" data-href="#">Many travel companies talk about minimizing their impact. We aim to maximize ours. That's because all our trips are designed to do good.</a>
                </p>
                <a href="https://www.expedia.com/Eindhoven-Hotels-Van-Der-Valk-Hotel-Eindhoven.h1199393.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-2" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-border-5 u-border-palette-5-light-3 u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="/public/images/n11YYPg==.webp" alt="" data-image-width="3000" data-image-height="1666">
                <h5 class="u-align-center u-hover-feature u-text u-text-4">Beau Rivage </h5>
                <p class="u-align-center u-text u-text-5"> Our trips are capped at 12-14 travelers, allowing us to offer behind-the-scenes experiences that simply can't be had with larger groups.</p>
                <a href="https://www.expedia.com/Biloxi-Hotels-Beau-Rivage.h199634.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-3" target="_blank">book now </a>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-border-5 u-border-palette-5-light-3 u-expanded-width u-image u-image-round u-radius-20 u-image-3" src="https://d2afqorggl9erl.cloudfront.net/resorts/argentina/sheraton_mendoza_hotel/image1.jpg" alt="" data-image-width="1000" data-image-height="1000">
                <h5 class="u-align-center u-hover-feature u-text u-text-6"> Sheraton Mendoza Hotel</h5>
                <p class="u-align-center u-text u-text-7">Our trips are capped at 12-14 travelers, allowing us to offer behind-the-scenes experiences that simply can't be had with larger groups.</p>
                <a href="https://www.expedia.com/Mendoza-Hotels-Sheraton-Mendoza-Hotel.h2179375.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-4" target="_blank">book now </a>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img class="u-border-5 u-border-palette-5-light-3 u-expanded-width u-image u-image-round u-radius-20 u-image-4" src="/public/images/photo-1455587734955-081b22074882.webp" alt="" data-image-width="1280" data-image-height="853">
                <h5 class="u-align-center u-hover-feature u-text u-text-8"> Hotel Kaiserhof Victoria</h5>
                <p class="u-align-center u-text u-text-9"> Our ​travelers are curious, adventurous, and eager for the kinds of experiences that can't be found on a typical group tour.</p>
                <a href="https://www.expedia.com/Bad-Kissingen-Hotels-Hotel-Kaiserhof-Victoria.h2443377.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-5" target="_blank">book now </a>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-5">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img class="u-border-5 u-border-palette-5-light-3 u-expanded-width u-image u-image-round u-radius-20 u-image-5" src="/public/images/PYw8+yoSMruqTqPBxRmirm47mPYGODYNoHliPnoWY6lmzLwDjqVXZYXNZn6NVTMITMHi7ZqkGrh7n6GCVkggVxID9NZoE0kMhnkdLxBgtqOJ7GUfMb8QYErg==.webp" alt="" data-image-width="3000" data-image-height="1733">
                <h5 class="u-align-center u-hover-feature u-text u-text-10"> Hotel Casino Chaves</h5>
                <p class="u-align-center u-text u-text-11"> We uncover hidden wonders where you least expect them, seeking out the most incredible places that others overlook.</p>
                <a href="https://www.expedia.com/Chaves-Hotels-Hotel-Casino-Chaves.h2202788.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-6" target="_blank">book now </a>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-6">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img class="u-border-5 u-border-palette-5-light-3 u-expanded-width u-image u-image-round u-radius-20 u-image-6" src="https://d2afqorggl9erl.cloudfront.net/resorts/uk/ritz/image1.jpg" alt="" data-image-width="1000" data-image-height="1000">
                <h5 class="u-align-center u-hover-feature u-text u-text-12">The Ritz London </h5>
                <p class="u-align-center u-text u-text-13"> Enjoy world-class amenities, beautifully appointed rooms, and breathtaking views that make your visit truly unforgettable.</p>
                <a href="https://www.expedia.com/London-Hotels-The-Ritz-London.h28146.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-7" target="_blank">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-black u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-align-left u-container-align-left-lg u-container-align-left-xl u-section-4" id="carousel_2755">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-white u-text-1" spellcheck="false">Why Choose Us </h2>
        <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="u-align-center u-container-align-center u-container-style u-group u-palette-4-base u-radius-50 u-shape-round u-group-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-custom-font u-font-montserrat u-hover-feature u-text u-text-2"><span class="u-icon"></span>&nbsp;​01
                    </h2>
                  </div>
                </div>
                <p class="u-text u-text-black u-text-3" spellcheck="false">Experience unmatched comfort in our elegantly designed rooms and suites, featuring premium amenities, plush bedding, and stunning views for a perfect stay. </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="u-align-center u-container-align-center u-container-style u-group u-palette-4-base u-radius-50 u-shape-round u-group-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-4">
                    <h2 class="u-custom-font u-font-montserrat u-hover-feature u-text u-text-default u-text-4">02</h2>
                  </div>
                </div>
                <p class="u-text u-text-black u-text-5" spellcheck="false">Host professional and flawless corporate events with our expert planning services, offering modern facilities, customized setups, and exceptional support. </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="u-align-center u-container-align-center u-container-style u-group u-palette-4-base u-radius-50 u-shape-round u-group-3">
                  <div class="u-container-layout u-valign-middle u-container-layout-6">
                    <h2 class="u-custom-font u-font-montserrat u-hover-feature u-text u-text-default u-text-6">03</h2>
                  </div>
                </div>
                <p class="u-text u-text-black u-text-7" spellcheck="false">Enjoy gourmet meals delivered to your room, with a diverse menu crafted by top chefs to suit every occasion, from casual dining to special celebrations. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-white u-section-5" id="sec-33c4">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">What our customers say</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" src="" data-image-width="848" data-image-height="1280"></div>
                <p class="u-align-center u-text u-text-2"> From the moment we arrived, the hospitality at this hotel was exceptional. The room was luxurious, with breathtaking views, and the staff made us feel like royalty. Every meal was a culinary delight, and the location was perfect for exploring the city's attractions. </p>
                <h5 class="u-align-center u-text u-text-3">Mattie Smith</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" src="" data-image-width="896" data-image-height="1280"></div>
                <p class="u-align-center u-text u-text-4"> I stayed here for a corporate event, and the experience was seamless. The meeting facilities were top-notch, and the staff catered to all our needs. After work, I enjoyed the resort's luxurious amenities and relaxing spa. It was the perfect balance of business and relaxation.</p>
                <h5 class="u-align-center u-text u-text-5">Bertie Norton</h5>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-4-base u-radius u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" src="" data-image-width="1024" data-image-height="1280"></div>
                <p class="u-align-center u-text u-text-6"> This resort exceeded all of our expectations! The lush surroundings, impeccable service, and beautifully designed rooms made our vacation truly special. The attention to detail and personalized care we received made it feel like a home away from home. We can’t wait to come back!<br>
                </p>
                <h5 class="u-align-center u-text u-text-7">Nat Reynolds</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-white u-section-6" id="carousel_d89c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center-sm u-align-center-xs u-border-10 u-border-palette-4-base u-container-align-center u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h3 class="u-align-center-lg u-align-center-md u-align-center-xl u-align-center-xs u-text u-text-default u-text-1">Contact Us</h3>
            <p class="u-align-center-lg u-align-center-md u-align-center-xl u-align-center-xs u-text u-text-default u-text-2"> Secure your stay with us today for an unforgettable experience.</p>
            <p class="u-align-center u-text u-text-default u-text-3">
              <a href="#" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">Info@​crystalwatersretreats.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-ea14">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a class="u-active-none u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-base u-text-white u-btn-1" href="privacy-policy">Privacy Policy </a>
        <a class="u-active-none u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-base u-text-white u-btn-2" href="terms-and-condition">Terms and Condition</a>
        <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-base u-text-white u-btn-3" href="cookies-policy">Cookies Policy </a>
        </p>
      </div>
    </footer>
  </body>
</html>