<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "crystalwatersretreats",
        "logo": "/public/images/livingunplugged6.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-container-align-center-xl u-header u-sticky u-sticky-c875 u-header" id="sec-7d99" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle-xl u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Home">
          <img class="u-logo-image u-logo-image-1" src="/public/images/livingunplugged6.webp">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-active-border-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-30 u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./" style="padding: 8px 4px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#sec-4d30" style="padding: 8px 4px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#carousel_39fa" style="padding: 8px 4px;">Our Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#carousel_2755" style="padding: 8px 4px;">Our Offers</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#sec-33c4" style="padding: 8px 4px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-palette-1-base u-border-hover-palette-1-light-1 u-border-no-left u-border-no-right u-border-no-top u-button-style u-nav-link u-text-active-white u-text-hover-palette-4-base u-text-white" href="./#carousel_d89c" style="padding: 8px 4px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-4d30">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_39fa">Our Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_2755">Our Offers</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-33c4">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_d89c">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
          <style class="menu-style">
            @media (max-width: 939px) {
              [data-responsive-from="MD"] .u-nav-container {
                display: none;
              }
              [data-responsive-from="MD"] .menu-collapse {
                display: block;
              }
            }
          </style>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-3f01">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-1"> Privacy Policy</h2>
        <p class="u-text u-text-default u-text-2"> Ensuring the security of your privacy is our foremost concern. This Privacy Statement highlights our unwavering dedication to safeguarding your personal data and maintaining transparency in our data collection, utilization, and protection protocols.</p>
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-3"> Information Collection<span style="font-weight: 400;"></span>
        </h2>
        <p class="u-text u-text-default u-text-4"> Personal Data: Your interaction with our platform may entail the gathering of personal data, including your name, email address, phone number, and payment particulars. This information is indispensable for processing bookings, facilitating transactions, and tailoring customer assistance to cater to your specific requirements.</p>
        <p class="u-text u-text-default u-text-5"> Usage Information: Moreover, we amass non-personal information concerning your interactions with our website, such as your IP address, browser type, and visited pages. This data aids us in scrutinizing user behavior, tracking trends, and refining the functionality and performance of our platform.</p>
        <p class="u-text u-text-default u-text-6"> Cookies: Much like numerous other websites, we deploy cookies and analogous technologies to enrich your browsing experience and personalize your engagement with our site. Cookies empower us to recollect your preferences, customize content, and furnish targeted advertising based on your interests.</p>
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-7"> Utilization of Your Information</h2>
        <p class="u-text u-text-default u-text-8"> Service Delivery: Your personal information is utilized to fulfil bookings, securely process payments, and ensure seamless customer experiences. By aggregating data such as your preferences and previous interactions, we can tailor our services to align with your unique needs.</p>
        <p class="u-text u-text-default u-text-9"> Marketing (with consent): Subject to your consent, we may use your contact information to disseminate promotional offers, newsletters, and updates about our latest deals and services. You retain the option to opt out of receiving marketing communications at any time.</p>
        <p class="u-text u-text-default u-text-10"> Analytics: We scrutinize usage data and cookies to glean insights into user behaviour, gauge the effectiveness of our marketing endeavours, and refine the overall user experience on our platform. This data empowers us to pinpoint areas for enhancement and optimize our services accordingly.</p>
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-11"> Data Security</h2>
        <p class="u-text u-text-default u-text-12"> We are resolute in implementing robust security measures to shield your personal information from unauthorized access, disclosure, alteration, or destruction. Our security protocols encompass encryption, firewalls, and routine security audits to uphold the integrity and confidentiality of your data.</p>
        <p class="u-text u-text-default u-text-13"> However, it is imperative to acknowledge that while we employ all reasonable precautions to safeguard your information, no method of transmission over the internet or electronic storage is entirely foolproof. Consequently, we cannot guarantee absolute security, and you acknowledge and accept this inherent risk when utilizing our platform.</p>
        <h2 class="u-custom-font u-font-montserrat u-text u-text-default u-text-14"> Changes to this Statement</h2>
        <p class="u-text u-text-default u-text-15"> We retain the prerogative to update or modify this Privacy Statement at any juncture to reflect alterations in our practices or legal requisites. Any revisions shall be posted on this page alongside the effective date of the updated policy. We urge you to periodically review this Privacy Statement to stay informed about how we collect, use, and safeguard your information.</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-ea14">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a class="u-active-none u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-base u-text-white u-btn-1" href="privacy-policy">Privacy Policy </a>
        <a class="u-active-none u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-base u-text-white u-btn-2" href="terms-and-condition">Terms and Condition</a>
        <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-palette-4-base u-text-white u-btn-3" href="cookies-policy">Cookies Policy </a>
        </p>
      </div>
    </footer>
  </body>
</html>