<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Take control of the game with our dynamic fantasy sports platform. Build your perfect lineup, make tactical decisions, and compete head-to-head with players from around the globe. Whether it’s football, basketball, baseball, or more, this is your chance to show off your skills and claim victory.​We offer a complete fantasy sports experience with customizable leagues, expert advice, and live updates. Whether you’re playing casually or aiming for the top, our platform makes it easy to dominate.">
    <title>Fantasy - Elite Paintball Unit</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/fantasy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://elitepaintballunit.com/fantasy">
    <link rel="icon" href="/public/images/ElitePaintBallUnit.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Elite Paint Ball Unit",
        "url": "https://elitepaintballunit.com/fantasy",
        "logo": "/public/images/ElitePaintBallUnit.webp?rand=38e9"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Fantasy - Elite Paintball Unit">
    <meta property="og:description" content="​Take control of the game with our dynamic fantasy sports platform. Build your perfect lineup, make tactical decisions, and compete head-to-head with players from around the globe. Whether it’s football, basketball, baseball, or more, this is your chance to show off your skills and claim victory.​We offer a complete fantasy sports experience with customizable leagues, expert advice, and live updates. Whether you’re playing casually or aiming for the top, our platform makes it easy to dominate.">
    <meta property="og:url" content="https://elitepaintballunit.com/fantasy">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-7b66">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="345" data-image-height="261" title="Elite pain ball unit">
          <img src="/public/images/ElitePaintBallUnit.webp?rand=38e9" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-black u-text-hover-black" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_ca1b" style="padding: 10px 20px;">About us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_6cb2" style="padding: 10px 20px;">services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_4de3" style="padding: 10px 20px;">destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_0435" style="padding: 10px 20px;">reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_89c3" style="padding: 10px 20px;">contact us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_ca1b">About us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6cb2">services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4de3">destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_0435">reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_89c3">contact us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-image u-shading u-section-1" id="carousel_8bd1" src="" data-image-width="1280" data-image-height="853" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-playfair-display u-text u-text-default u-text-white u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Elevate Your Fantasy Sports Game</h2>
        <p class="u-align-center u-large-text u-text u-text-body-alt-color u-text-variant u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Draft. Compete. Triumph.</p>
      </div>
    </section>
    <section class="u-clearfix u-grey-5 u-section-2" id="carousel_49ed">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">Overview</h2>
                <p class="u-align-justify u-text u-text-2"> Take control of the game with our dynamic fantasy sports platform. Build your perfect lineup, make tactical decisions, and compete head-to-head with players from around the globe. Whether it’s football, basketball, baseball, or more, this is your chance to show off your skills and claim victory.<br>
                  <br> We offer a complete fantasy sports experience with customizable leagues, expert advice, and live updates. Whether you’re playing casually or aiming for the top, our platform makes it easy to dominate.<br>
                </p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="734">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-container-align-center-xs u-grey-90 u-section-3" id="carousel_8283">
      <div class="u-expanded-width u-grey-10 u-shape u-shape-rectangle u-shape-1"></div>
      <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-body-color u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500"> Features</h2>
      <div class="u-layout-grid u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h4 class="u-custom-font u-font-oswald u-text u-text-2"> Multiple Sports Leagues</h4>
              <p class="u-text u-text-3"> Engage in fantasy football, basketball, baseball, and more—all in one place.</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <h4 class="u-custom-font u-font-oswald u-text u-text-4"> Private and Global Leagues</h4>
              <p class="u-text u-text-5"> Create your own private leagues or jump into public leagues for a greater challenge.</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <h4 class="u-custom-font u-font-oswald u-text u-text-6"> Expert Tips &amp; Projections</h4>
              <p class="u-text u-text-7"> Use insights from fantasy experts to draft smart, trade well, and manage your lineup.</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <h4 class="u-custom-font u-font-oswald u-text u-text-8"> Flexible Competitions</h4>
              <p class="u-text u-text-9"> From season-long leagues to daily matchups, choose how you want to play.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-gradient u-video-cover u-section-4" id="carousel_4329">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center-sm u-align-center-xs u-align-left-lg u-align-left-md u-align-left-xl u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h1 class="u-align-center u-text u-text-body-alt-color u-text-1"> Join the League Today!</h1>
                  <p class="u-align-center u-large-text u-text u-text-body-alt-color u-text-variant u-text-2"> Draft your team, take on the competition, and rise to the top. The ultimate fantasy sports experience is waiting for you!<br>
                  </p>
                  <div class="u-align-left u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="email">
                      <div class="u-form-email u-form-group u-label-none">
                        <label for="email-ef64" class="u-label">Email</label>
                        <input type="email" placeholder="Email" id="email-ef64" name="email" class="u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-submit">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
                      <div class="u-form-send-error u-form-send-message">#FormSendError</div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="a79a467a-99f0-268d-6115-e4bfe4eee6f3">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-5" id="carousel_1b7f">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="/public/images/11.webp" alt="" data-image-width="500" data-image-height="500">
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item" data-href="https://www.gambleaware.org/" data-target="_blank">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2" src="/public/images/white.webp" alt="" data-image-width="1080" data-image-height="1080">
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item" data-href="https://www.gamblingsupportbc.ca/" data-target="_blank">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3" src="/public/images/31.webp" alt="" data-image-width="500" data-image-height="500">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-1 u-footer" id="sec-afc8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="345" data-image-height="261" title="Lostin wander">
          <img src="/public/images/ElitePaintBallUnit.webp?rand=e64b" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>