<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spinchasecasino",
        "url": "/",
        "logo": "/public/images/livingunplugged9.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=76fb109d-999a-1226-0b0b-4bf65ab7bcc6" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xxl-mode" data-lang="en">
    <header class="u-clearfix u-grey-90 u-header u-sticky u-sticky-2a3f u-header" id="sec-0ccc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" title="Home" data-image-width="500" data-image-height="500">
          <img src="/public/images/livingunplugged9.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-7a4d" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_6ebc" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_18a3" style="padding: 10px 20px;">Gallery</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_4d03" style="padding: 10px 20px;">List Of Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_838c" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_a495" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-7a4d">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6ebc">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_18a3">Gallery</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4d03">List Of Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_838c">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a495">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-1" data-image-width="1280" data-image-height="853" id="sec-89ec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-size-22 u-image-1" src="" data-image-width="960" data-image-height="1280">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-38 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <h1 class="u-align-left u-text u-title u-text-1"> Welcome to ​Spin Chase Casino</h1>
                  <p class="u-align-left u-large-text u-text u-text-variant u-text-2"> Your ultimate guide to gorgeous destinations across the globe.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle-xs u-section-2" id="sec-7a4d">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-image u-layout-cell u-left-cell u-size-21-md u-size-21-sm u-size-21-xs u-size-30-lg u-size-30-xl u-size-30-xxl u-image-1" data-image-width="1280" data-image-height="871">
              <div class="u-container-layout u-container-layout-1"></div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-grey-10 u-layout-cell u-size-16-lg u-size-16-xl u-size-16-xxl u-size-26-md u-size-26-sm u-size-26-xs u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-custom-font u-font-ubuntu u-text u-text-1"> About Us</h2>
                <p class="u-text u-text-2"> At ​Spin Chase Casino, we make travel more enjoyable by putting you in touch with upscale accommodations that provide opulent amenities. Our partners are carefully chosen to guarantee that they live up to our high expectations for quality and comfort, and they often offer upscale dining options, gorgeous pools, and decadent spas. Whether you're looking for a romantic getaway, an exciting escape, or a tranquil retreat, our travel guide offers tailored suggestions to assist you in selecting the ideal hotel. We are steadfast in our commitment to provide outstanding customer service.</p>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-right-cell u-size-13-md u-size-13-sm u-size-13-xs u-size-14-lg u-size-14-xl u-size-14-xxl u-image-2" data-image-width="1280" data-image-height="857">
              <div class="u-container-layout u-container-layout-3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-3" id="carousel_6ebc" data-image-width="1280" data-image-height="848">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Our Services</h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-radius-30 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1">
                <div class="u-align-center u-container-align-center u-container-align-center-xxl u-container-style u-grey-80 u-group u-shape-round u-top-left-radius-30 u-top-right-radius-30 u-group-1">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-2">
                    <h4 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-body-alt-color u-text-2"> Dining</h4>
                    <p class="u-text u-text-body-alt-color u-text-3"> Enjoy exquisite dining experiences featuring locally sourced ingredients and diverse cuisine.</p>
                  </div>
                </div><span class="u-file-icon u-icon u-icon-1"><img src="/public/images/1590627.webp" alt=""></span>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-radius-30 u-repeater-item u-shape-round u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3">
                <div class="custom-expanded u-align-center u-container-align-center u-container-align-center-xxl u-container-style u-grey-80 u-group u-shape-round u-top-left-radius-30 u-top-right-radius-30 u-group-2">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-4">
                    <h4 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-4"> Activities</h4>
                    <p class="u-text u-text-body-alt-color u-text-5"> Embark on thrilling outdoor adventures with guided tours and exciting water sports..</p>
                  </div>
                </div><span class="u-file-icon u-icon u-icon-2"><img src="/public/images/11264511.webp" alt=""></span>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-radius-30 u-repeater-item u-shape-round u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5">
                <div class="u-align-center u-container-align-center u-container-align-center-xxl u-container-style u-grey-80 u-group u-shape-round u-top-left-radius-30 u-top-right-radius-30 u-group-3">
                  <div class="u-container-layout u-valign-middle-sm u-valign-middle-xs u-container-layout-6">
                    <h4 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-body-alt-color u-text-default-lg u-text-default-xl u-text-6"> Wellness</h4>
                    <p class="u-text u-text-body-alt-color u-text-7"> Relax and rejuvenate with our luxurious spa treatments and holistic wellness programs..</p>
                  </div>
                </div><span class="u-file-icon u-icon u-icon-3"><img src="/public/images/7757744.webp" alt=""></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-valign-middle u-white u-section-4" id="carousel_18a3">
      <h2 class="u-text u-text-default u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Gallery</h2>
      <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-none u-gallery-1" id="carousel-4891">
        <div class="u-gallery-inner u-gallery-inner-1" role="listbox">
          <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-1">
            <div class="u-back-slide" data-image-width="900" data-image-height="900">
              <img class="u-back-image u-expanded" src="/public/images/modern-styled-entryway_23-215069.webp">
            </div>
            <div class="u-align-center u-over-slide u-shading u-over-slide-1"></div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-2">
            <div class="u-back-slide" data-image-width="1380" data-image-height="920">
              <img class="u-back-image u-expanded" src="/public/images/modern-luxury-authentic-dining-room-interior-design-with-picture-frame_53876-128701.webp">
            </div>
            <div class="u-align-center u-over-slide u-shading u-over-slide-2"></div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-3">
            <div class="u-back-slide" data-image-width="1920" data-image-height="1920">
              <img class="u-back-image u-expanded" src="/public/images/2150695943.webp">
            </div>
            <div class="u-align-center u-over-slide u-shading u-over-slide-3"></div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-4">
            <div class="u-back-slide" data-image-width="2000" data-image-height="1333">
              <img class="u-back-image u-expanded" src="/public/images/2150695899.webp">
            </div>
            <div class="u-align-center u-over-slide u-shading u-over-slide-4"></div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-5">
            <div class="u-back-slide" data-image-width="2000" data-image-height="1333">
              <img class="u-back-image u-expanded" src="/public/images/empty-flat-interrior-with-elements-decoration.webp">
            </div>
            <div class="u-align-center u-over-slide u-shading u-over-slide-5"></div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-gallery-item-6">
            <div class="u-back-slide" data-image-width="740" data-image-height="1110">
              <img class="u-back-image u-expanded u-back-image-6" src="/public/images/workspace-desk-with-plant-lamp_23-2148592288.webp">
            </div>
            <div class="u-align-center u-over-slide u-shading u-over-slide-6"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-80 u-section-5" id="carousel_4d03">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">List Of Hotels</h2>
        <div class="u-border-3 u-border-grey-dark-1 u-line u-line-horizontal u-line-1"></div>
<!--blog-->
<!--blog_options_json-->
<!--{"type":"Recent","source":"","tags":"","count":""}--> <!--/blog_options_json-->
        <div class="u-blog u-expanded-width u-blog-1" data-items-per-page="6">
          <div class="u-list-control"></div>
          <div class="u-repeater u-repeater-1">
<!--blog_post-->
            <div class="u-align-center u-blog-post u-container-align-center u-container-style u-custom-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-xxl u-container-layout-1">
                <a class="u-post-header-link" href="blog/post-5">
<!--blog_post_image-->
                  <img src="/public/images/fa2adb09af618b6a2df5d99cacc9057f7a7c43e9ebc3bceb1a5c204de0f82561ea2f29dabf69a79e05a86961192178b0d5c5eea2e3413c4dbd8661_1280.webp" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-1" data-image-width="1280" data-image-height="851"> <!--/blog_post_image-->
                </a>
                <h5 class="u-text u-text-2"> Hotel Mediterranean</h5>
                <p class="u-text u-text-3"> Luxury hotel near the beach</p>
                <a href="https://www.expedia.com/Rhodes-Hotels-Hotel-Mediterranean.h699306.Hotel-Information" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-1" target="_blank">Book Now</a>
              </div>
            </div>
            <div class="u-align-center u-blog-post u-container-align-center u-container-style u-custom-item u-repeater-item u-white u-repeater-item-2">
              <div class="u-container-layout u-similar-container u-valign-top-xxl u-container-layout-2">
                <a class="u-post-header-link" href="blog/post-4">
<!--blog_post_image-->
                  <img src="/public/images/54cb777166d20ddf896dcbd13b93d751707d260d33b5346c13cff38b3997ba3887ec23411db667d5ec69452205d79395457dbf69df021c18adc4e7_1280.webp" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-2" data-image-width="1280" data-image-height="852"> <!--/blog_post_image-->
                </a>
                <h5 class="u-text u-text-4"> Van der Valk Hotel Gorinchem</h5>
                <p class="u-text u-text-5"> Comfortable hotel with 2 restaurants and full-service spa</p>
                <a href="https://www.expedia.com/Gorinchem-Hotels-Van-Der-Valk-Hotel-Gorinchem.h83978768.Hotel-Information" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-2" target="_blank">Book Now</a>
              </div>
            </div>
            <div class="u-align-center u-blog-post u-container-align-center u-container-style u-custom-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-xxl u-container-layout-3">
                <a class="u-post-header-link" href="blog/post-3">
<!--blog_post_image-->
                  <img src="/public/images/35ed1f7f10d7d2b341bdf59e1fa28b91bf3ff2e02b74440245e8d9f1f8ef8fd119b997f3c60f2ebb77329f52735cf18a3cb19ee339af16a5d4a37a_1280.webp" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-3" data-image-width="1277" data-image-height="1280"> <!--/blog_post_image-->
                </a>
                <h5 class="u-text u-text-6"> Troia Design Hotel</h5>
                <p class="u-text u-text-7"> Located in Grandola, Troia Design Hotel is in the business district and near the beach.</p>
                <a href="https://www.expedia.com/Setubal-Hotels-Troia-Design-Hotel.h3082297.Hotel-Information" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-3" target="_blank">Book Now</a>
              </div>
            </div>
            <div class="u-align-center u-blog-post u-container-align-center u-container-style u-custom-item u-repeater-item u-white u-repeater-item-4">
              <div class="u-container-layout u-similar-container u-valign-top-xxl u-container-layout-4">
                <a class="u-post-header-link" href="blog/post-2">
<!--blog_post_image-->
                  <img src="/public/images/4853b70a5324f639dec6255c4bc44af926a3c696a5fbaf599075313d2aee2a9287afb4aa693bd80323848da02d2fa610574493c858a782db8e1769_1280.webp" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-4" data-image-width="1280" data-image-height="848"> <!--/blog_post_image-->
                </a>
                <h5 class="u-text u-text-8"> Meiser Vital Hotel</h5>
                <p class="u-text u-text-9"> Luxury hotel with full-service spa and free breakfast</p>
                <a href="https://www.expedia.com/Fichtenau-Hotels-Meiser-Vital-Hotel.h4564708.Hotel-Information" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-4" target="_blank">Book Now</a>
              </div>
            </div>
            <div class="u-align-center u-blog-post u-container-align-center u-container-style u-custom-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top-xxl u-container-layout-5">
                <a class="u-post-header-link" href="blog/post-1">
<!--blog_post_image-->
                  <img src="/public/images/d55e851c80826437b1447922ea82f295502845e92e41b139e47e6770c954fdeca234f459d6aae33674b5c0fe144fa00603d724d39fafbf51cd56e4_1280.webp" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-5" data-image-width="853" data-image-height="1280"> <!--/blog_post_image-->
                </a>
                <h5 class="u-text u-text-10"> Corfu Palace</h5>
                <p class="u-text u-text-11"> Luxury spa hotel near Port of Corfu</p>
                <a href="https://www.expedia.com/Corfu-Hotels-Corfu-Palace.h18016.Hotel-Information" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-5" target="_blank">Book Now</a>
              </div>
            </div>
            <div class="u-align-center u-blog-post u-container-align-center u-container-style u-custom-item u-repeater-item u-white u-repeater-item-6">
              <div class="u-container-layout u-similar-container u-valign-top-xxl u-container-layout-6">
                <a class="u-post-header-link" href="blog/post">
<!--blog_post_image-->
                  <img src="/public/images/446922fceb39be82e0b4387fe04b7d40716ddf6ac3c4d1406a92c5ba2fc45a2042c70f3629b23958d73194b7172774ec2fc320709f96fb0a955509_1280.webp" alt="" class="u-blog-control u-expanded-width u-image u-image-default u-image-6" data-image-width="1280" data-image-height="720"> <!--/blog_post_image-->
                </a>
                <h5 class="u-text u-text-12"> Hotel Panamericano Bariloche</h5>
                <p class="u-text u-text-13"> Family-friendly hotel with full-service spa connected to the convention center in San Carlos de Bariloche</p>
                <a href="https://www.expedia.com/San-Carlos-De-Bariloche-Hotels-Hotel-Panamericano-Bariloche.h24944.Hotel-Information" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius u-btn-6" target="_blank">Book Now</a>
              </div>
            </div> <!--/blog_post-->
<!--blog_post--> <!--/blog_post-->
<!--blog_post--> <!--/blog_post-->
<!--blog_post--> <!--/blog_post-->
<!--blog_post--> <!--/blog_post-->
<!--blog_post--> <!--/blog_post-->
          </div>
          <div class="u-list-control"></div>
        </div> <!--/blog-->
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-palette-1-base u-valign-middle-xxl u-section-6" id="carousel_838c">
      <img alt="" class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" data-image-width="1200" data-image-height="800" src="/public/images/rset-min.webp">
      <div id="carousel-67c9" data-interval="5000" data-u-ride="carousel" class="u-carousel u-slider u-slider-1">
        <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
          <li data-u-target="#carousel-67c9" class="u-active u-grey-30" data-u-slide-to="0"></li>
          <li data-u-target="#carousel-67c9" class="u-grey-30" data-u-slide-to="1"></li>
        </ol>
        <div class="u-carousel-inner" role="listbox">
          <div class="u-active u-align-center u-carousel-item u-container-align-center u-container-style u-slide u-white u-carousel-item-1">
            <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
              <div alt="" class="u-image u-image-circle u-image-2"></div>
              <p class="u-align-center-xs u-large-text u-text u-text-variant u-text-1"> Mountain Peak Lodge is a hidden gem! The cozy atmosphere and breathtaking views made our getaway perfect. The hiking trails nearby were amazing, and the complimentary breakfast each morning was a delicious bonus. Highly recommend for nature lovers!<br>
              </p>
              <h4 class="u-align-center-xs u-text u-text-palette-5-dark-2 u-text-2">Samuel Schick<br>
              </h4>
            </div>
          </div>
          <div class="u-align-center u-carousel-item u-container-align-center u-container-style u-slide u-white u-carousel-item-2">
            <div class="u-container-layout u-container-layout-2">
              <div alt="" class="u-image u-image-circle u-image-3" data-image-width="598" data-image-height="598"></div>
              <p class="u-large-text u-text u-text-variant u-text-3"> What a fantastic stay! Desert Oasis Hotel truly lives up to its name. The pool area was like a tropical paradise, and the spa services were divine. We felt pampered from start to finish. The staff was attentive, and we appreciated the complimentary shuttle to nearby attractions!<br>
              </p>
              <h4 class="u-text u-text-palette-5-dark-2 u-text-4">Jessica<br>
              </h4>
            </div>
          </div>
        </div>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-grey-10 u-hover-grey-25 u-spacing-13 u-text-body-color u-carousel-control-1" href="#carousel-67c9" role="button" data-u-slide="prev">
          <span aria-hidden="true">
            <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
		c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 477.175 477.175"><path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
		c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z"></path></svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-grey-10 u-hover-grey-25 u-spacing-13 u-text-body-color u-carousel-control-2" href="#carousel-67c9" role="button" data-u-slide="next">
          <span aria-hidden="true">
            <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 477.175 477.175"><path d="M360.731,229.075l-225.1-225.1c-5.3-5.3-13.8-5.3-19.1,0s-5.3,13.8,0,19.1l215.5,215.5l-215.5,215.5
		c-5.3,5.3-5.3,13.8,0,19.1c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-4l225.1-225.1C365.931,242.875,365.931,234.275,360.731,229.075z"></path></svg>
          </span>
        </a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-90 u-section-7" id="carousel_a495">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-default u-text-grey-75 u-text-1">contact</h1>
        <h2 class="u-text u-text-default u-text-palette-3-base u-text-2">get in touch</h2>
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-align-left-xs u-container-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-container-layout-1">
                  <h2 class="u-align-center u-text u-text-3">Email</h2>
                  <h1 class="u-align-center u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xs u-text-4">Info@spinchasecasino.com </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-container-align-center-xxl u-footer u-grey-80 u-footer" id="sec-40d7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-light-2 u-btn-1" href="cookies-policy">Cookies Policy&nbsp;</a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-light-2 u-btn-2" href="terms-and-conditions">Terms and Conditions </a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-light-2 u-btn-3" href="privacy-policy">Privacy Policy&nbsp;</a>
        </p>
      </div>
    </footer>
  </body>
</html>