<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spinchasecasino",
        "logo": "/public/images/livingunplugged9.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and Conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xxl-mode" data-lang="en">
    <header class="u-clearfix u-grey-90 u-header u-sticky u-sticky-2a3f u-header" id="sec-0ccc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" title="Home" data-image-width="500" data-image-height="500">
          <img src="/public/images/livingunplugged9.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#sec-7a4d" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_6ebc" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_18a3" style="padding: 10px 20px;">Gallery</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_4d03" style="padding: 10px 20px;">List Of Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_838c" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_a495" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-7a4d">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6ebc">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_18a3">Gallery</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4d03">List Of Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_838c">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a495">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-palette-1-light-1 u-section-1" id="sec-d926">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Terms and Conditions </h2>
      </div>
    </section>
    <section class="u-clearfix u-container-align-left u-section-2" id="sec-0ab9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-left u-text u-text-default u-text-1">Please read these terms and conditions carefully before using this website.</p>
        <h4 class="u-align-left u-text u-text-default u-text-2">Conditions of Use </h4>
        <p class="u-align-left u-text u-text-3">By using this website, you certify that you have read and reviewed this Agreement and that you agree to comply with its terms. If you do not want to be bound by the terms of this Agreement, you are advised to leave the website accordingly. Find Island Escape Resorts only grants use and access to this website, its products, and its services to those who have accepted its term</p>
        <h4 class="u-align-left u-text u-text-default u-text-4">Privacy Policy </h4>
        <p class="u-align-left u-text u-text-5">Before you continue using our website, we advise you to read our privacy policy regarding our user data collection. It will help you better understand our practices.</p>
        <h4 class="u-align-left u-text u-text-default u-text-6">Age Restriction </h4>
        <p class="u-align-left u-text u-text-7">You must be at least 18 (eighteen) years of age before you can use this website. By using this website, you warrant that you are at least 18 years of age and you may legally adhere to this Agreement.</p>
        <h4 class="u-align-left u-text u-text-default u-text-8">Intellectual Property </h4>
        <p class="u-align-left u-text u-text-9">You agree that all materials, products, and services provided on this website are the property of Thrilling Casinos, its affiliates, directors, officers, employees, agents, suppliers, or licensors including all copyrights, trade secrets, trademarks, patents, and other intellectual property. You also agree that you will not reproduce or redistribute the Site Name intellectual property in any way, including electronic, digital, or new trademark registrations.</p>
        <h4 class="u-align-left u-text u-text-default u-text-10">Users Account </h4>
        <p class="u-align-left u-text u-text-11">As a user of this website, you may be asked to register with us and provide private information. You are responsible for ensuring the accuracy of this information, and you are responsible for maintaining the safety and security of your identifying information. You are also responsible for all activities that occur under your account or password. If you think there are any possible issues regarding the security of your account on the website, inform us immediately so we may address them accordingly. We reserve all rights to terminate accounts, edit or remove content, and cancel orders at our sole discretion</p>
        <h4 class="u-align-left u-text u-text-default u-text-12">Applicable Law&nbsp; </h4>
        <p class="u-align-left u-text u-text-13">By visiting this website, you agree that the laws without regard to principles of conflict laws will govern these terms and conditions, or any dispute of any sort that might come between Find Top Resorts and you, or its business partners and associates</p>
        <h4 class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-14">Copyright </h4>
        <p class="u-align-left u-text u-text-15">All texts and the content of the website are subject to copyright. copying the content to other websites is allowed only with working do-follow backlinks in the form of HTML TAG or with prior approval of the website operator. content and parts of the content are allowed to be republished on the wikipedia.org website just with a no-follow backlink ( HTML tag). Privacy Policy</p>
        <h4 class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-16">Disputes </h4>
        <p class="u-align-left u-text u-text-17">Any dispute relating in any way to your visit to this website or to products you purchase from us shall be arbitrated by state or federal court and you consent to exclusive jurisdiction and venue of such courts. </p>
        <h4 class="u-align-left u-text u-text-default u-text-18">Indiminification </h4>
        <p class="u-align-left u-text u-text-19">You agree to indemnify Island escape Resort and its affiliates and hold them harmless against legal claims and demands that may arise from your use or misuse of our services. We reserve the right to select our legal counsel.</p>
        <h4 class="u-align-left u-text u-text-default u-text-20">Limitation on liability&nbsp; </h4>
        <p class="u-align-left u-text u-text-21">Golden Oasis Resort not liable for any damages that may occur to you as a result of your misuse of our website. Island Escape Resort has the right to edit, modify, and change this Agreement at any time. We shall let our users know of these changes through electronic mail. This Agreement is an understanding between this website and the user, and this supersedes and replaces all prior agreements regarding the use of this website.</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-container-align-center-xxl u-footer u-grey-80 u-footer" id="sec-40d7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-light-2 u-btn-1" href="cookies-policy">Cookies Policy&nbsp;</a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-light-2 u-btn-2" href="terms-and-conditions">Terms and Conditions </a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-text-hover-palette-1-light-2 u-btn-3" href="privacy-policy">Privacy Policy&nbsp;</a>
        </p>
      </div>
    </footer>
  </body>
</html>