<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Whether you're interested in live casino dealing or working behind the scenes in the booming iGaming industry, we connect you with career opportunities that align with your passion. Let us guide you toward a dynamic future in the world of gaming and casinos.">
    <title>Work-Travel - Trail Way Travels Guide</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/croupier.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://trailwaytravelsguide.com/work-travel">
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Anton:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Trailway travels guide",
        "url": "https://trailwaytravelsguide.com/work-travel",
        "logo": "/public/images/Trailwaytravelsguide1.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Work-Travel - Trail Way Travels Guide">
    <meta property="og:description" content="Whether you're interested in live casino dealing or working behind the scenes in the booming iGaming industry, we connect you with career opportunities that align with your passion. Let us guide you toward a dynamic future in the world of gaming and casinos.">
    <meta property="og:url" content="https://trailwaytravelsguide.com/work-travel">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-2 u-header u-header" id="sec-7ac8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="868" data-image-height="868" title="Trailway travels guide">
          <img src="/public/images/Trailwaytravelsguide1.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-black" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-black" href="./#sec-fab3" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-black" href="./#carousel_4c37" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-black" href="./#carousel_ec1a" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-black" href="./#carousel_8ce5" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-2-base u-text-hover-black" href="./#sec-1333" style="padding: 10px 20px;">Contact us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-fab3">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4c37">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_ec1a">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_8ce5">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-1333">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-99cb" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-custom-font u-font-lobster u-text u-text-palette-2-base u-text-1"> Unlock Exciting Opportunities</h2>
        <h1 class="u-align-left u-custom-font u-text u-text-default u-title u-text-2"> Croupier &amp; iGaming Jobs</h1>
        <p class="u-align-left u-large-text u-text u-text-variant u-text-3"> Whether you're interested in live casino dealing or working behind the scenes in the booming iGaming industry, we connect you with career opportunities that align with your passion. Let us guide you toward a dynamic future in the world of gaming and casinos.</p>
        <a href="#" class="u-align-left u-border-none u-btn u-button-style u-palette-2-base u-btn-1">Learn More </a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-valign-middle u-section-2" id="carousel_31b8">
      <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-default u-text-palette-2-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0">Find Academies</h2>
      <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> The croupier and iGaming industries are booming across the globe, with certain regions standing out as prime locations for career growth. Whether you want to work in a luxurious physical casino or a tech-forward online gaming company, these countries offer excellent opportunities.</p>
      <div class="u-container-style u-expanded-width u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
        <div class="u-container-layout u-container-layout-1">
          <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-align-center u-container-align-center u-container-style u-image u-image-round u-layout-cell u-radius u-shading u-size-15 u-size-15-md u-image-1" data-image-width="1414" data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="600">
                  <div class="u-container-layout u-container-layout-2">
                    <h3 class="u-text u-text-3">UK</h3>
                    <h5 class="u-text u-text-default u-text-4"> Home to both iconic land-based casinos and a vibrant iGaming industry with numerous job openings.</h5>
                  </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-image u-image-round u-layout-cell u-radius u-shading u-size-15 u-size-15-md u-image-2" data-image-width="1414" data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="400">
                  <div class="u-container-layout u-container-layout-3">
                    <h3 class="u-text u-text-5"> Malta</h3>
                    <h5 class="u-text u-text-default u-text-6"> As the heart of the European iGaming industry, Malta is home to hundreds of online casino operators offering a range of roles.</h5>
                  </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-image u-image-round u-layout-cell u-radius u-shading u-size-15 u-size-15-md u-image-3" data-image-width="1920" data-image-height="1080" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
                  <div class="u-container-layout u-container-layout-4">
                    <h3 class="u-text u-text-7"> Macau</h3>
                    <h5 class="u-text u-text-default u-text-8"> For those seeking traditional casino roles, Macau offers a bustling market with high-end casinos.</h5>
                  </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-image u-image-round u-layout-cell u-radius u-shading u-size-15 u-size-15-md u-image-4" data-image-width="1357" data-image-height="1920" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-5">
                    <h3 class="u-text u-text-9">USA</h3>
                    <h5 class="u-text u-text-default u-text-10"> Work in the lively casino cities like Las Vegas and Atlantic City, or in emerging iGaming markets as regulation grows.</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-3" id="sec-ba8a">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-bottom u-container-layout-1">
                <h2 class="u-custom-font u-font-lobster u-text u-text-palette-2-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> Why Choose a Career in Croupier &amp; iGaming?</h2>
                <div class="u-expanded-width u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-1" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="400" data-animation-direction="X">
                      <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-1"><img src="/public/images/4094724-0a71bea9.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-lobster u-text u-text-default u-text-2"> Innovative Technology</h4>
                        <p class="u-text u-text-default u-text-3"> Be part of a cutting-edge industry that embraces the latest technologies in gaming and entertainment.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-2" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X" data-animation-delay="600">
                      <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-2"><img src="/public/images/4337295-f763fa09.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-lobster u-text u-text-default u-text-4"> Global Networking</h4>
                        <p class="u-text u-text-default u-text-5"> Meet and work with players and professionals from all over the world, expanding your personal and professional connections.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-4">
                <div class="u-expanded-width u-list u-list-2">
                  <div class="u-repeater u-repeater-2">
                    <div class="u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-3" data-animation-name="flipIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
                      <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-3"><img src="/public/images/2881263-7ce41e9c.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-lobster u-text u-text-default u-text-6"> Fast-Growing Industry</h4>
                        <p class="u-text u-text-default u-text-7"> iGaming and live casino roles are expanding rapidly, with increasing demand for skilled professionals.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-4" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X" data-animation-delay="200">
                      <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-4"><img src="/public/images/87941-af9c3779.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-lobster u-text u-text-default u-text-8"> Flexibility and Diversity</h4>
                        <p class="u-text u-text-default u-text-9"> From working in high-end casinos to online platforms, choose the environment that suits you best.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-5" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X" data-animation-delay="400">
                      <div class="u-container-layout u-similar-container u-container-layout-7"><span class="u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-5"><img src="/public/images/1384325-7da3ac2f.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-lobster u-text u-text-default u-text-10"> Opportunities for Career Progression</h4>
                        <p class="u-text u-text-default u-text-11"> Begin as a croupier or customer support agent and grow into managerial or development roles.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-10 u-list-item u-repeater-item u-list-item-6" data-animation-name="flipIn" data-animation-duration="1000" data-animation-direction="X" data-animation-delay="600">
                      <div class="u-container-layout u-similar-container u-container-layout-8"><span class="u-file-icon u-icon u-icon-circle u-palette-2-base u-icon-6"><img src="/public/images/74742-e2fb7676.webp" alt=""></span>
                        <h4 class="u-custom-font u-font-lobster u-text u-text-default u-text-12"> Competitive Pay and Perks</h4>
                        <p class="u-text u-text-default u-text-13"> Earn great salaries, bonuses, and enjoy perks like international travel and flexible schedules.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-valign-middle u-section-4" id="sec-3c77">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1414" data-image-height="2000">
              <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-palette-2-dark-3 u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-custom-font u-font-lobster u-text u-text-default u-text-1"> What Jobs Are Available</h2>
                <p class="u-align-left u-text u-text-2"> Whether you want to work in a traditional casino or the fast-paced world of online gaming, there's a wide variety of roles available in both sectors. Below are some of the key positions you can explore.</p>
                <ul class="u-align-left u-custom-list u-text u-text-3">
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                  </li>
                  <li>
                    <span style="font-weight: 700;"></span>
                    <span style="font-weight: 700;">Casino Dealer</span>: Conduct table games like blackjack, roulette, baccarat, and poker with precision and professionalism.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">Live Dealer (iGaming)</span>: Be the face of online live casino games, interacting with virtual players in real-time.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">Pit Boss</span>: Oversee casino game operations and ensure everything runs smoothly, including supervising dealers.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">VIP Table Host</span>: Handle high-stakes games with top-tier players and provide personalized service.
                  </li>
                </ul>
                <a href="#" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1">Contact Us </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-section-5" data-image-width="2000" data-image-height="1333" id="sec-772b">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-custom-font u-font-lobster u-text u-text-default u-text-palette-2-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> Our Services</h2>
        <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> Our team provides expert assistance to help you secure the perfect job in croupier or iGaming industries. From job matching to interview preparation, we're with you every step of the way.</p>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                    <div class="u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-dark-3 u-container-layout u-valign-bottom u-container-layout-1">
                      <h3 class="u-custom-font u-font-lobster u-text u-text-default u-text-3"> Job Matching</h3>
                      <p class="u-text u-text-4"> Based on your skills and experience, we match you with top companies and roles in the croupier or iGaming sectors.</p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="400">
                    <div class="u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-container-layout u-valign-bottom u-container-layout-2">
                      <h3 class="u-custom-font u-font-lobster u-text u-text-default u-text-5"> Career Mentorship</h3>
                      <p class="u-text u-text-6"> Our career mentors guide you through your career development, whether you're starting fresh or aiming for a promotion.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1" src="" data-image-width="1414" data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="800">
                    <div class="u-container-layout u-valign-top u-container-layout-3" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-layout-cell-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
                    <div class="u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-dark-3 u-container-layout u-valign-bottom u-container-layout-4">
                      <h3 class="u-custom-font u-font-lobster u-text u-text-default u-text-7"> Interview Coaching</h3>
                      <p class="u-text u-text-8"> We'll prepare you for interviews with industry-specific tips and insights, so you can stand out as a candidate.</p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-shape-rectangle u-size-30 u-layout-cell-5" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="600">
                    <div class="u-border-10 u-border-no-left u-border-no-right u-border-no-top u-border-palette-2-base u-container-layout u-valign-bottom u-container-layout-5">
                      <h3 class="u-custom-font u-font-lobster u-text u-text-default u-text-9"> Relocation Assistance</h3>
                      <p class="u-text u-text-10"> Moving for your new job? We provide guidance on visa applications, housing, and settling in new countries.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-border-10 u-border-grey-75 u-border-no-left u-border-no-right u-border-no-top u-container-align-center u-container-style u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="800">
          <div class="u-container-layout u-valign-bottom u-container-layout-6">
            <h4 class="u-align-center u-custom-font u-font-lobster u-text u-text-default u-text-11"> Exclusive Job Listings</h4>
            <p class="u-align-center u-text u-text-default u-text-12"> Get access to job opportunities from leading casinos and iGaming platforms worldwide.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-image u-shading u-section-6" id="sec-7bd8" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-default u-text-palette-2-base u-text-1"> Ready to Find Your Dream Job in Croupier or iGaming?</h2>
        <p class="u-text u-text-default u-text-2"> Get in touch with us today for personalized job recommendations, interview tips, and career guidance. Let’s get started on finding the right role for you.</p>
        <div class="u-expanded-width u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
            <div class="u-form-group u-form-name u-label-top">
              <label for="name-3b9a" class="u-label">Name</label>
              <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-custom-color-1 u-input u-input-rectangle u-radius u-text-white u-input-1" required="">
            </div>
            <div class="u-form-email u-form-group u-label-top">
              <label for="email-3b9a" class="u-label">Email</label>
              <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-custom-color-1 u-input u-input-rectangle u-radius u-text-white u-input-2" required="">
            </div>
            <div class="u-form-group u-form-message u-label-top">
              <label for="message-3b9a" class="u-label">Message</label>
              <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-custom-color-1 u-input u-input-rectangle u-radius u-text-white u-input-3" required=""></textarea>
            </div>
            <div class="u-align-center u-form-group u-form-submit u-label-top">
              <a href="#" class="u-align-left u-btn u-btn-submit u-button-style u-palette-2-base u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="cda74401-152b-57b4-921b-d2d9e8874735">
          </form>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-2 u-footer" id="sec-6c74">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="868" data-image-height="868" title="Trailway travels guide">
          <img src="/public/images/Trailwaytravelsguide1.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>