<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="icon" href="/public/images/logo14.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Milky Way Gelato",
        "logo": "/public/images/logo14.png?rand=8c62"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-adec">
      <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xlink:href="#menu-hamburger"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1">
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-7 u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-7 u-text-hover-palette-2-base" href="./#sec-cdbf" style="padding: 10px 20px;">About</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-7 u-text-hover-palette-2-base" href="./#sec-ba28" style="padding: 10px 20px;">Flavours</a>
            </li>
            <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-7 u-text-hover-palette-2-base" href="./#sec-eff2" style="padding: 10px 20px;">Contact</a>
            </li>
          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-cdbf">About</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-ba28">Flavours</a>
                </li>
                <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-eff2">Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav><a href="#" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
        <img src="/public/images/logo14.png?rand=8c62" class="u-logo-image u-logo-image-1">
      </a>
    </header>
    <section class="u-clearfix u-grey-5 u-section-1" id="sec-60dc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-custom-font u-text u-text-default u-text-1">Privacy Policy</h1>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-cea3">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-custom-font u-text u-text-default u-text-1"> 1. Information We Collect</h3>
        <p class="u-custom-font u-text u-text-default u-text-2"> We prioritize your privacy and strive to create a secure and transparent environment. This Privacy Policy is designed to inform you about how we handle your personal information in our commitment to maintaining your trust. By using our services, you agree to the terms outlined here.</p>
        <h3 class="u-custom-font u-text u-text-default u-text-3"> 2. How We Use Your Information</h3>
        <p class="u-custom-font u-text u-text-default u-text-4">We collect information that you provide directly, such as during account registration, transactions, and interactions with our customer support. This includes your name, contact details, payment information, and gaming preferences. We also use cookies and similar technologies to enhance your experience on our website.<br>
          <br>Your information is crucial in processing transactions, customizing your experience, and improving our overall services. We use your data for customer support, sending relevant updates, and safeguarding the security of our platform. For analytical purposes, we may use aggregated, non-personal information.
        </p>
        <h3 class="u-custom-font u-text u-text-default u-text-5"> 3. Sharing Your Information</h3>
        <p class="u-custom-font u-text u-text-default u-text-6">Your personal information is not for sale. We may share it with trusted partners and service providers under strict confidentiality agreements to assist in delivering our services.</p>
        <h3 class="u-custom-font u-text u-text-default u-text-7"> 4. Security Measures</h3>
        <p class="u-custom-font u-text u-text-default u-text-8">We employ industry-standard security measures to protect against unauthorized access, disclosure, alteration, or destruction of your data.</p>
        <h3 class="u-custom-font u-text u-text-default u-text-9"> 5. Your Choices</h3>
        <p class="u-custom-font u-text u-text-default u-text-10"> You have the right to access and update your personal information. To opt out of promotional emails, follow the unsubscribe instructions provided in the emails. Note that certain essential communications are necessary for the use of our services.</p>
        <h3 class="u-custom-font u-text u-text-default u-text-11"> 6. Cookies and Tracking Technologies</h3>
        <p class="u-custom-font u-text u-text-default u-text-12"> Cookies are used to improve your online experience. You can manage cookies through your browser settings, but disabling them may affect your access to certain website features.</p>
        <h3 class="u-custom-font u-text u-text-default u-text-13"> 7. Updates to Privacy Policy</h3>
        <p class="u-custom-font u-text u-text-default u-text-14"> We reserve the right to modify this Privacy Policy. Any changes will be communicated via our website or directly to you as needed.</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-white u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1"> milkywaygelato.com 2024</p>
      </div>
    </footer>
  </body>
</html>