<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​We at Sea Gear Market are committed to giving boaters the best gear and items to make their trips on the water more fun. Our huge selection includes safety gear, navigational aids, fishing gear, and comfort items, so you can be sure you have everything you need for a great day on the water. We sell safety gear like life jackets and flares, navigational aids like GPS systems and compasses, and fishing gear like rods and tackle boxes. We also sell comfort things like coolers and marine-grade accessories, as well as supplies to keep your boat in great shape. Sea Gear Market is the place to go for all your boating needs, whether you are an experienced sailor or just starting out. They have great deals, great customer service, and expert advice. With the best gear in the business, you are sure to make waves.">
    <title>Home - Sea Gear Market</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="canonical" href="https://seagearmarket.com">
    <link rel="icon" href="/public/images/logo8.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Sea Gear Market",
        "url": "https://seagearmarket.com",
        "logo": "/public/images/logo8.png?rand=370a"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home - Sea Gear Market">
    <meta property="og:description" content="​We at Sea Gear Market are committed to giving boaters the best gear and items to make their trips on the water more fun. Our huge selection includes safety gear, navigational aids, fishing gear, and comfort items, so you can be sure you have everything you need for a great day on the water. We sell safety gear like life jackets and flares, navigational aids like GPS systems and compasses, and fishing gear like rods and tackle boxes. We also sell comfort things like coolers and marine-grade accessories, as well as supplies to keep your boat in great shape. Sea Gear Market is the place to go for all your boating needs, whether you are an experienced sailor or just starting out. They have great deals, great customer service, and expert advice. With the best gear in the business, you are sure to make waves.">
    <meta property="og:url" content="https://seagearmarket.com">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-white u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-417f" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-8c21" style="padding: 10px 20px;">Products</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-4-base" href="./#sec-31c4" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-417f">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-8c21">Products</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-31c4">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <img src="/public/images/logo8.png?rand=370a" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-af41" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-left u-custom-font u-font-arial u-text u-text-default u-title u-text-1">Sea Gear Market</h1>
        <p class="u-align-left u-custom-font u-font-arial u-large-text u-text u-text-variant u-text-2">Sailor's Club</p>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="sec-868f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-2 u-border-palette-1-base u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-text-custom-color-1 u-icon-1"><img src="/public/images/2175836-312075e6.png" alt=""></span>
                <h6 class="u-align-center u-custom-font u-font-arial u-text u-text-default u-text-1">Sail Fabrics</h6>
              </div>
            </div>
            <div class="u-border-2 u-border-palette-1-base u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-text-custom-color-1 u-icon-2"><img src="/public/images/842485-07d91f2a.png" alt=""></span>
                <h6 class="u-align-center u-custom-font u-font-arial u-text u-text-default u-text-2">Boat Wood Planks</h6>
              </div>
            </div>
            <div class="u-border-2 u-border-palette-1-base u-container-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-text-custom-color-1 u-icon-3"><img src="/public/images/5731485-b554950a.png" alt=""></span>
                <h6 class="u-align-center u-custom-font u-font-arial u-text u-text-default u-text-3">Propellers &amp; Machinery</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-grey-5 u-section-3" id="sec-417f">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-container-align-center u-container-style u-custom-color-10 u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
              <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-icon u-icon-circle u-text-palette-1-base u-white u-icon-1"><img src="/public/images/1633789-e00d7966.png" alt=""></span>
                <h2 class="u-align-center u-text u-text-default u-text-1">Who we are</h2>
                <p class="u-align-justify u-text u-text-2"> We at Sea Gear Market are committed to giving boaters the best gear and items to make their trips on the water more fun. Our huge selection includes safety gear, navigational aids, fishing gear, and comfort items, so you can be sure you have everything you need for a great day on the water. We sell safety gear like life jackets and flares, navigational aids like GPS systems and compasses, and fishing gear like rods and tackle boxes. We also sell comfort things like coolers and marine-grade accessories, as well as supplies to keep your boat in great shape. Sea Gear Market is the place to go for all your boating needs, whether you are an experienced sailor or just starting out. They have great deals, great customer service, and expert advice. With the best gear in the business, you are sure to make waves.<br>
                </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1414" data-image-height="2000">
              <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-4" id="sec-25e5" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-align-center u-text u-text-default u-text-1">NEWCOMERS OFFER</h3>
        <h1 class="u-align-center u-text u-text-default u-text-2">40% off</h1>
        <div class="u-carousel u-gallery u-layout-carousel u-lightbox u-no-transition u-show-text-always u-gallery-1" data-interval="5000" data-u-ride="carousel" id="carousel-95de">
          <ol class="u-absolute-hcenter u-carousel-indicators u-carousel-indicators-1">
            <li data-u-target="#carousel-95de" data-u-slide-to="0" class="u-active u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
            <li data-u-target="#carousel-95de" data-u-slide-to="1" class="u-grey-70 u-shape-circle" style="width: 10px; height: 10px;"></li>
          </ol>
          <div class="u-carousel-inner u-gallery-inner" role="listbox">
            <div class="u-active u-carousel-item u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/Untitleddesign2.jpg">
              </div>
              <div class="u-over-slide u-palette-1-light-3 u-over-slide-1">
                <h3 class="u-gallery-heading">Sail Fabric</h3>
                <p class="u-gallery-text">In sellected colors.</p>
              </div>
            </div>
            <div class="u-carousel-item u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/Untitleddesign3.jpg">
              </div>
              <div class="u-over-slide u-palette-1-base u-over-slide-2">
                <h3 class="u-gallery-heading">Fiberglass Sheets </h3>
                <p class="u-gallery-text">Minimum order 10m.</p>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-prev u-icon-rectangle u-opacity u-opacity-70 u-spacing-10 u-white u-carousel-control-1" href="#carousel-95de" role="button" data-u-slide="prev">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-carousel-control u-carousel-control-next u-icon-rectangle u-opacity u-opacity-70 u-spacing-10 u-white u-carousel-control-2" href="#carousel-95de" role="button" data-u-slide="next">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle u-section-5" id="sec-8c21">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h2 class="u-align-left u-text u-text-1">Hundreds of products</h2>
                    <p class="u-align-left u-text u-text-2">From boat sails, to simple accessories, we have it, just ask ! </p>
                    <a href="./#sec-31c4" class="u-active-palette-1-light-2 u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-button-style u-hover-palette-1-base u-palette-1-light-2 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">CONTACT US </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-30 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" src="" data-image-width="1414" data-image-height="2000">
                      <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-2" src="" data-image-width="1414" data-image-height="2000">
                      <div class="u-container-layout u-container-layout-3"></div>
                    </div>
                  </div>
                </div>
                <div class="u-size-30">
                  <div class="u-layout-row">
                    <div class="u-container-style u-image u-layout-cell u-size-30 u-image-3" src="" data-image-width="1414" data-image-height="2000">
                      <div class="u-container-layout u-container-layout-4"></div>
                    </div>
                    <div class="u-container-style u-image u-layout-cell u-right-cell u-size-30 u-image-4" src="" data-image-width="1414" data-image-height="2000">
                      <div class="u-container-layout u-container-layout-5"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-6" id="sec-31c4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1">Contact Us </h3>
        <p class="u-text u-text-2">Send your inquiry.</p>
        <p class="u-text u-text-palette-1-base u-text-3">order@​seagearmarket.com</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-white u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1"> seagearmarket.com 2024</p>
      </div>
    </footer>
  </body>
</html>