<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Dive into the thrilling world of fantasy sports, where your knowledge and strategy come together to create winning teams. Whether you're a fan of football, basketball, or any major sport, our platform offers leagues designed to challenge and engage you. Build your team, manage trades, and outsmart your opponents every week!">
    <title>Fantasy - The Zen Dining</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/fantasy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://thezendining.com/fantasy">
    <link rel="icon" href="/public/images/logo500x200px1.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "The Zen Dining",
        "url": "https://thezendining.com/fantasy",
        "logo": "/public/images/logo500x200px1.webp?rand=ba8b"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Fantasy - The Zen Dining">
    <meta property="og:description" content="​Dive into the thrilling world of fantasy sports, where your knowledge and strategy come together to create winning teams. Whether you're a fan of football, basketball, or any major sport, our platform offers leagues designed to challenge and engage you. Build your team, manage trades, and outsmart your opponents every week!">
    <meta property="og:url" content="https://thezendining.com/fantasy">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-grey-15 u-header u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./#carousel_ced2" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./#carousel_08d1" style="padding: 10px 20px;">Menu</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./#carousel_afea" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_ced2">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_08d1">Menu</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_afea">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="400" data-image-height="200">
          <img src="/public/images/logo500x200px1.webp?rand=ba8b" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-clearfix u-image u-shading u-section-1" id="sec-2583" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-container-align-center u-container-style u-group u-opacity u-opacity-90 u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-font u-text-1"> Master the Game in Fantasy Sports</h1>
            <h4 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-font u-text-2"> Draft Your Team. Play to Win. Rule the League.</h4>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-grey-90 u-section-2" id="sec-7aa9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-1" src="/public/images/11.webp" alt="" data-image-width="500" data-image-height="500">
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-2" src="/public/images/white.webp" alt="" data-image-width="1080" data-image-height="1080" data-href="https://www.gambleaware.org/" data-target="_blank">
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="u-image u-image-contain u-image-default u-preserve-proportions u-image-3" src="/public/images/31.webp" alt="" data-image-width="500" data-image-height="500" data-href="https://www.gamblingsupportbc.ca/" data-target="_blank">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-90 u-section-3" id="sec-dc4d">
      <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-3-base u-text-white u-icon-1"><img src="/public/images/2777599-0f76c26e.webp" alt=""></span>
                <h3 class="u-align-center u-text u-text-default u-text-1"> Multiple Sports Leagues</h3>
                <p class="u-align-center u-text u-text-2"> Compete in fantasy leagues across a wide range of sports, including football, basketball, baseball, and more.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-4" id="sec-5b86">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
            </div>
            <div class="u-container-align-center u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2" src="">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-center u-text u-text-1"> Overview</h2>
                <p class="u-align-justify u-text u-text-2"> Dive into the thrilling world of fantasy sports, where your knowledge and strategy come together to create winning teams. Whether you're a fan of football, basketball, or any major sport, our platform offers leagues designed to challenge and engage you. Build your team, manage trades, and outsmart your opponents every week!<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-container-align-center u-section-5" id="sec-f70c">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> Ready to Draft?</h2>
        <p class="u-text u-text-default u-text-2"> Sign up today and take your fantasy sports experience to the next level. Build your team, play to win, and rise to the top!</p>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="email">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-ef64" class="u-label">Name</label>
              <input type="text" placeholder="Name" id="name-ef64" name="name" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-ef64" class="u-label">Email</label>
              <input type="email" placeholder="Email" id="email-ef64" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-submit">
              <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-3-base u-btn-1">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
            <div class="u-form-send-error u-form-send-message">#FormSendError</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="2a80edc3-91a5-1e6c-6678-92c1af58de4d">
          </form>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-15 u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1">thezendining.com 2024</p>
      </div>
    </footer>
  </body>
</html>