<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Zen Dining is a place where healthy eating and tasty tastes go hand in hand. Our goal is to make meals that are good for the body and the soul. We think that eating should be fun, so we make sure that each dish is made with only the freshest, most locally sourced products.We pride ourselves on serving a wide range of healthy, colorful foods at Zen Dining without losing taste. Every bite is meant to be healthy and filling, from colorful salads and hearty grain bowls to tasty plant-based dishes and proteins that are found in a way that does not harm the environment. We put health first without sacrificing taste, so you can enjoy every meal without feeling bad about it.Come with us on a culinary adventure that will feed your body and please your taste buds. At Zen Dining, we believe that healthy food can taste great.">
    <title>Home - The Zen Dining</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="canonical" href="https://thezendining.com">
    <link rel="icon" href="/public/images/logo500x200px1.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "The Zen Dining",
        "url": "https://thezendining.com",
        "logo": "/public/images/logo500x200px1.webp?rand=ba8b"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home - The Zen Dining">
    <meta property="og:description" content="​Zen Dining is a place where healthy eating and tasty tastes go hand in hand. Our goal is to make meals that are good for the body and the soul. We think that eating should be fun, so we make sure that each dish is made with only the freshest, most locally sourced products.We pride ourselves on serving a wide range of healthy, colorful foods at Zen Dining without losing taste. Every bite is meant to be healthy and filling, from colorful salads and hearty grain bowls to tasty plant-based dishes and proteins that are found in a way that does not harm the environment. We put health first without sacrificing taste, so you can enjoy every meal without feeling bad about it.Come with us on a culinary adventure that will feed your body and please your taste buds. At Zen Dining, we believe that healthy food can taste great.">
    <meta property="og:url" content="https://thezendining.com">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-grey-15 u-header u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./#carousel_ced2" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./#carousel_08d1" style="padding: 10px 20px;">Menu</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-5-dark-2 u-text-hover-palette-1-light-1" href="./#carousel_afea" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_ced2">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_08d1">Menu</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_afea">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="400" data-image-height="200">
          <img src="/public/images/logo500x200px1.webp?rand=ba8b" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-clearfix u-image u-shading u-section-1" id="carousel_a18c" data-image-width="1280" data-image-height="854">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-container-style u-expanded-width-xs u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
            <h1 class="u-text u-text-body-alt-color u-text-1">The Zen Dining</h1>
            <p class="u-text u-text-body-alt-color u-text-default u-text-2">At Zen Dining, you can enjoy both peace and good food. The restaurant's fresh foods and calm atmosphere make for a truly mindful dining experience. </p>
            <a href="#" class="u-btn u-button-style u-btn-1">Learn More </a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_ced2">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <div class="u-image u-image-circle u-preserve-proportions u-image-1" alt="" data-image-width="1333" data-image-height="2000"></div>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-default u-text-1">Healthy and tasty</h2>
                  <p class="u-align-justify u-text u-text-default u-text-2"> Zen Dining is a place where healthy eating and tasty tastes go hand in hand. Our goal is to make meals that are good for the body and the soul. We think that eating should be fun, so we make sure that each dish is made with only the freshest, most locally sourced products.<br>
                    <br>We pride ourselves on serving a wide range of healthy, colorful foods at Zen Dining without losing taste. Every bite is meant to be healthy and filling, from colorful salads and hearty grain bowls to tasty plant-based dishes and proteins that are found in a way that does not harm the environment. We put health first without sacrificing taste, so you can enjoy every meal without feeling bad about it.<br>
                    <br>Come with us on a culinary adventure that will feed your body and please your taste buds. At Zen Dining, we believe that healthy food can taste great.<br>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-white u-section-3" id="carousel_08d1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">Our Grand menu </h2>
        <p class="u-align-center u-text u-text-2">A variety of choices</p>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-32 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-similar-fill u-size-30 u-image-1">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-similar-fill u-size-30 u-image-2">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-similar-fill u-size-20 u-image-3">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-similar-fill u-size-20 u-image-4">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-20 u-image-5">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-right-cell u-similar-fill u-size-30 u-image-6">
                    <div class="u-container-layout"></div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-right-cell u-similar-fill u-size-30 u-image-7">
                    <div class="u-container-layout"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a href="#" class="u-btn u-button-style u-palette-1-light-2 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">order online</a>
      </div>
    </section>
    <section class="u-clearfix u-valign-bottom-xl u-section-4" id="carousel_243d">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-size-20 u-size-30-md">
              <div class="u-layout-col">
                <div class="u-container-align-center u-container-style u-grey-5 u-layout-cell u-size-20 u-layout-cell-1">
                  <div class="u-container-layout u-valign-middle u-container-layout-1">
                    <h3 class="u-align-center u-text u-text-default u-text-1"> Gourmet Dining Experience</h3>
                    <p class="u-align-center u-text u-text-default u-text-2">We make sure you get a gourmet experience with our ​Michelin-starred chefs.</p>
                  </div>
                </div>
                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-40 u-image-1" data-image-width="2000" data-image-height="1335" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-2"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20 u-size-30-md">
              <div class="u-layout-col">
                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-60 u-image-2" data-image-width="1000" data-image-height="1500" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-20 u-image-3" data-image-width="1387" data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="2000" data-animation-delay="0">
                  <div class="u-container-layout u-container-layout-4"></div>
                </div>
                <div class="u-container-align-center u-container-style u-grey-5 u-layout-cell u-size-40 u-layout-cell-5">
                  <div class="u-container-layout u-valign-middle u-container-layout-5">
                    <p class="u-align-center u-text u-text-default u-text-3"> Join us for an unforgettable gourmet dining experience, where exquisite flavors and impeccable service create the perfect culinary adventure.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-15 u-section-5" id="carousel_afea">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-border-10 u-border-grey-75 u-container-align-center u-container-style u-group u-shape-rectangle u-white u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <div class="u-image u-image-circle u-image-1" data-image-width="1080" data-image-height="1080"></div>
            <h3 class="u-align-center u-text u-text-1">Contact Us </h3>
            <p class="u-align-center u-text u-text-2">For information and bookings, Send us an email.</p>
            <h5 class="u-align-center u-text u-text-3">info@thezendining.com</h5>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-15 u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1">thezendining.com 2024</p>
      </div>
    </footer>
  </body>
</html>