<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Polar globe fridges</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="icon" href="/public/images/PolarGlobeFridgeswhite.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|PT+Sans:400,400i,700,700i|Oswald:200,300,400,500,600,700|Cutive:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Polar Globe Fridges",
        "logo": "/public/images/PolarGlobeFridgeswhite.png?rand=1cb2"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Polar globe fridges">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="polar-globe-fridges" data-home-page-title="Polar globe fridges" data-path-to-root="./" data-include-products="false" class="u-body u-overlap u-overlap-contrast u-overlap-transparent u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-d7e5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="267" data-image-height="169" title="Polar globe fridges">
          <img src="/public/images/PolarGlobeFridgeswhite.png?rand=1cb2" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-2-base u-text-hover-white" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-35c7" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-6196" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_c692" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_6c86" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-8110" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-35c7">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6196">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_c692">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6c86">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-8110">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-08a2" data-image-width="1280" data-image-height="823">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-center u-container-align-center u-container-style u-expanded-width-xs u-group u-white u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-align-center u-custom-font u-text u-title u-text-1" spellcheck="false"> Chill Out With Polar Globe Fridges</h1>
            <a href="./#carousel_c692" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-2-dark-2 u-palette-4-dark-2 u-btn-1">EXPLORE MORE </a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-2" id="sec-35c7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1280" data-image-height="852">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <h2 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-text u-text-1" spellcheck="false"> Redefining Refrigeration</h2>
                  <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-custom-font u-font-lato u-text u-text-2" spellcheck="false">Welcome to Polar Globe Fridges, your ultimate guide to conquering the world's coldest destinations! We specialize in providing expert travel tips, tricks, and essential advice for those seeking adventure in frosty, snow-clad landscapes.<br>
                    <br>From the Arctic tundra to alpine getaways, we’re here to help you embrace the chill and make the most out of your cold-weather travels. Whether you're a seasoned snow lover or gearing up for your first winter journey, ​Polar Globe Fridges offers practical insights on how to pack, what to wear, where to go, and how to stay safe in extreme conditions. Our guides are crafted by cold-weather enthusiasts who have firsthand experience in the world's most beautiful, icy destinations.<br>
                    <br>At ​Polar Globe Fridges, we believe that the cold holds its own magic — whether it’s gazing at the northern lights, skiing down pristine slopes, or sipping cocoa in a cozy cabin. Let us help you navigate the wonders of winter travel and turn every chilly trip into a heartwarming adventure.
                  </p>
                  <a href="./#carousel_c692" class="u-align-center u-btn u-button-style u-hover-palette-2-dark-2 u-palette-4-dark-2 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">EXPLORE MORE<span style="font-weight: 700;"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="skrollable u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-palette-4-dark-3 u-section-3" id="carousel_c692">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center-xs u-custom-font u-text u-text-1" spellcheck="false">Enjoy Polar Destinations</h1>
        <p class="u-align-center u-custom-font u-font-pt-sans u-text u-text-2" spellcheck="false">Explore the forsty landscapes of countries around the world. </p>
        <div class="u-expanded-width u-gallery u-layout-grid u-show-text-always u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1516832970803-325be7a92aa5.jpeg" alt="Iceland">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-1">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="font-family: Cutive; margin-right: 0px; margin-left: 0px; font-size: 1.5rem; font-weight: 700;">Iceland</h3>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1542047078441-229be3aa1f12.jpeg" alt="Norway">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-2">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="font-family: Cutive; margin-right: 0px; margin-left: 0px; font-size: 1.5rem; font-weight: 700;">Norway</h3>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1489447068241-b3490214e879.jpeg" alt="Canada">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-3">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="font-family: Cutive; margin-right: 0px; margin-left: 0px; font-size: 1.5rem; font-weight: 700;">Canada</h3>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1520681279154-51b3fb4ea0f7.jpeg" alt="Finland">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-4">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="font-family: Cutive; margin-right: 0px; margin-left: 0px; font-size: 1.5rem; font-weight: 700;">Finland</h3>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1485123263479-f5ea30a2f92d.jpeg" alt="Sweden">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-5">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="font-family: Cutive; margin-right: 0px; margin-left: 0px; font-size: 1.5rem; font-weight: 700;">Sweden</h3>
              </div>
            </div>
            <div class="u-effect-hover-zoom u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/photo-1551375560-bd4589346ac9.jpeg" alt="Switzerland">
              </div>
              <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-6">
                <h3 class="u-align-center u-custom-font u-gallery-heading" style="font-family: Cutive; margin-right: 0px; margin-left: 0px; font-size: 1.5rem; font-weight: 700;">Switzerland</h3>
              </div>
            </div>
          </div>
        </div>
        <a href="./#sec-8110" class="u-align-center u-btn u-button-style u-hover-palette-2-dark-2 u-palette-4-dark-2 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">CONTACT US </a>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-4" id="sec-6196">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <img class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-1" data-image-width="853" data-image-height="1280" src="/public/images/photo-1727946256654-8486f79e3f69.jpeg">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h4 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-default u-text-1">Destination Guides </h4>
                <p class="u-align-center-xs u-text u-text-2">Detailed information on the best cold-weather destinations, including top spots for winter sports, scenic views, and unique local experiences in frosty regions. </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h4 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-default u-text-3">Packing Tips </h4>
                <p class="u-align-center-xs u-text u-text-4">Essential packing lists designed to help travellers prepare for cold climates, from thermal clothing to the best gear for extreme temperatures. </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h4 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-default u-text-5">Travel Hacks </h4>
                <p class="u-align-center-xs u-text u-text-6">Practical tips and tricks for staying comfortable in cold weather, such as how to keep warm, prevent frostbite, and stay safe during winter activities like hiking, skiing, or snowboarding. </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <h4 class="u-align-center-xs u-custom-font u-font-oswald u-text u-text-default u-text-7">Itinerary Suggestions </h4>
                <p class="u-align-center-xs u-text u-text-8">Ready-made itineraries for exploring cold and frosty locations, featuring must-see landmarks, hidden gems, and outdoor adventures in wintry landscapes. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-4-dark-3 u-section-5" id="carousel_6c86">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-1" spellcheck="false"> Reviews and Feedback</h2>
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-align-center u-container-style u-grey-90 u-list-item u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                <div alt="" class="u-border-14 u-border-white u-image u-image-circle u-image-1" data-image-width="724" data-image-height="1080"></div>
                <h6 class="u-text u-text-body-alt-color u-text-default u-text-2">Paloma Y.</h6>
                <p class="u-text u-text-body-alt-color u-text-3" spellcheck="false">"Using this travel guide was a game changer for my trip to Iceland! The detailed packing tips saved me from overpacking and helped me stay warm while exploring the stunning landscapes. I followed their itinerary for the Golden Circle, and it was absolutely breathtaking. I can't recommend it enough!" </p>
              </div>
            </div>
            <div class="u-align-center u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-align-center u-container-style u-grey-90 u-list-item u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                <div alt="" class="u-border-14 u-border-white u-image u-image-circle u-image-2" data-image-width="720" data-image-height="1080"></div>
                <h6 class="u-text u-text-body-alt-color u-text-default u-text-4">Jerry l.</h6>
                <p class="u-text u-text-body-alt-color u-text-5" spellcheck="false">"I had always wanted to see the Northern Lights, and thanks to this guide, I finally made it to Norway! The recommendations for the best viewing spots and local experiences made my trip unforgettable. I even tried dog sledding for the first time! This guide truly made my adventure hassle-free." </p>
              </div>
            </div>
            <div class="u-align-center u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-align-center u-container-style u-grey-90 u-list-item u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                <div alt="" class="u-border-14 u-border-white u-image u-image-circle u-image-3" data-image-width="1000" data-image-height="1500"></div>
                <h6 class="u-text u-text-body-alt-color u-text-default u-text-6">mARIA h.</h6>
                <p class="u-text u-text-body-alt-color u-text-7" spellcheck="false">"As a first-time traveler to cold destinations, I was a bit nervous. This travel guide provided all the safety tips I needed, from keeping warm to navigating icy trails. The detailed information about local customs and winter activities really enriched my experience in Finland. I felt well-prepared and confident!" </p>
              </div>
            </div>
            <div class="u-align-center u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-align-center u-container-style u-grey-90 u-list-item u-repeater-item u-shape-round u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                <div alt="" class="u-border-14 u-border-white u-image u-image-circle u-image-4" data-image-width="980" data-image-height="1500"></div>
                <h6 class="u-text u-text-body-alt-color u-text-default u-text-8">jACK a.</h6>
                <p class="u-text u-text-body-alt-color u-text-9" spellcheck="false">"The recommendations for cozy accommodations were spot on! I stayed in a charming ice hotel in Sweden that was a once-in-a-lifetime experience. The guide also had great insights into local cuisine. Trying authentic Swedish meatballs in a cozy café after a day of exploring was a highlight of my trip!" </p>
              </div>
            </div>
            <div class="u-align-center u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-align-center u-container-style u-grey-90 u-list-item u-repeater-item u-shape-round u-list-item-5">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-5">
                <div alt="" class="u-border-14 u-border-white u-image u-image-circle u-image-5" data-image-width="1000" data-image-height="1500"></div>
                <h6 class="u-text u-text-body-alt-color u-text-default u-text-10">cALLUM e.</h6>
                <p class="u-text u-text-body-alt-color u-text-11" spellcheck="false"> "This travel guide made planning my trip to Japan’s Hokkaido so much easier! The tips on ski resorts and hot spring baths were invaluable. I had the best time exploring the winter wonderland and indulging in the local food. I’ll definitely use this guide for my next cold-weather adventure!"</p>
              </div>
            </div>
            <div class="u-align-center u-bottom-left-radius-20 u-bottom-right-radius-20 u-container-align-center u-container-style u-grey-90 u-list-item u-repeater-item u-shape-round u-list-item-6">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-6">
                <div alt="" class="u-border-14 u-border-white u-image u-image-circle u-image-6" data-image-width="864" data-image-height="1080"></div>
                <h6 class="u-text u-text-body-alt-color u-text-default u-text-12"> may w.</h6>
                <p class="u-text u-text-body-alt-color u-text-13" spellcheck="false">"We couldn’t have asked for a better resource for our trip to Canada! The itinerary suggestions were fantastic, guiding us through breathtaking national parks and hidden gems. The travel hacks helped us save money while maximizing our experiences. We felt like we truly discovered the beauty of the Canadian winter!" </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="sec-8110">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-align-center u-border-2 u-border-grey-75 u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-style u-expanded-width-xs u-grey-90 u-group u-radius u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-align-center-xs u-custom-font u-text u-text-default u-text-1">Contact Us</h1>
            <div class="u-align-center u-form u-form-1">
              <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
                <div class="u-form-group u-form-name u-label-none">
                  <label for="name-daa0" class="u-label">Name</label>
                  <input type="text" placeholder="Name" id="name-daa0" name="name" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-email u-form-group u-label-none">
                  <label for="email-daa0" class="u-label">Email</label>
                  <input type="email" placeholder="Email" id="email-daa0" name="email" class="u-input u-input-rectangle" required="">
                </div>
                <div class="u-form-group u-form-message u-label-none">
                  <label for="message-daa0" class="u-label">Address</label>
                  <textarea placeholder="Address" rows="4" cols="50" id="message-daa0" name="message" class="u-input u-input-rectangle" required=""></textarea>
                </div>
                <div class="u-align-center u-form-group u-form-submit">
                  <a href="#" class="u-btn u-btn-submit u-button-style u-btn-1">Submit</a>
                  <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
                <input type="hidden" name="formServices" value="a4dc3061-becc-5582-253e-e609da76e882">
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-footer u-grey-90" id="sec-1dd9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="267" data-image-height="169" title="Polar globe fridges">
          <img src="/public/images/PolarGlobeFridgeswhite.png?rand=060f" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>