<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Console games library</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="icon" href="/public/images/ConsoleGamesLibrary.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster:400|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Console Games Library",
        "logo": "/public/images/ConsoleGamesLibrary.png?rand=a52e"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Console games library">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="console-games-library" data-home-page-title="Console games library" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-header" id="sec-03da">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="401" data-image-height="224" title="Console games library">
          <img src="/public/images/ConsoleGamesLibrary.png?rand=a52e" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-75e6" style="padding: 10px 20px;">About us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-6176" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_6094" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_539a" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_a398" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-75e6">About us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6176">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6094">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_539a">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a398">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="skrollable u-clearfix u-container-align-center u-image u-parallax u-section-1" id="sec-df9c" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded skrollable u-align-center u-container-align-center u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-bottom u-container-layout-1">
            <h1 class="u-align-center u-custom-font u-font-lobster u-text u-title u-text-1" spellcheck="false"> Dive into Your Ultimate Gaming Adventure</h1>
            <p class="u-align-center u-custom-font u-font-lato u-large-text u-text u-text-variant u-text-2" spellcheck="false"> Welcome to Console Games Library, where your gaming dreams come to life! Explore a vast collection of console games that cater to every taste, from thrilling action-packed titles to immersive role-playing adventures. Our curated library is designed to elevate your gaming experience, providing seamless access to the latest releases and timeless classics​​.</p>
            <a href="./#carousel_6094" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-3-dark-1 u-palette-2-dark-2 u-btn-1">EXPLORE MORE<span style="font-weight: 700;"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-2" id="sec-6176">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1280" data-image-height="720" src="/public/images/fc1bc870a5cffd0cc80843f43a1c40fa365bd87f04e8da9e2c34e8633e3d4c91f3aef128e65d269de97e40692e95ccf75dc2b72f2684d28f7752a1_1280.jpg">
                <div class="u-align-center u-container-align-center u-container-style u-expanded-width u-group u-white u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-1"> Game Rentals</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-2" data-image-width="1280" data-image-height="960" src="/public/images/543d53598e26fbd8bd1a8c45862f1890f60b606f6d7051e46bf74473ee81de5d47d315b7c611a69407d6f9ddd79ba2cb9004059002bc71abec037f_1280.jpg">
                <div class="u-align-center u-container-align-center u-container-style u-expanded-width u-group u-white u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-2"> Exclusive Member Benefits</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-5">
                <img alt="" class="u-expanded-width u-image u-image-default u-image-3" data-image-width="1280" data-image-height="853" src="/public/images/6cb4bc2b9c4744ab4b3f1bb9fe00551a2a29321d1b845029f95a9c0a2ca15829e07fad05b2910d7dae85853dfb34ef7b031c15ea2714ba8be5199e_1280.jpg">
                <div class="u-align-center u-container-align-center u-container-style u-expanded-width u-group u-white u-group-3">
                  <div class="u-container-layout u-container-layout-6">
                    <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-3"> Virtual Game Nights</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-5-dark-3 u-section-3" id="sec-75e6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-left-cell u-shading u-size-17 u-image-1" src="" data-image-width="853" data-image-height="1280">
                <div class="u-container-layout u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-hidden-xs u-image u-layout-cell u-right-cell u-shading u-size-17 u-image-2" src="" data-image-width="960" data-image-height="1280">
                <div class="u-container-layout u-container-layout-2"></div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-26 u-layout-cell-3" src="">
                <div class="u-container-layout u-container-layout-3">
                  <h2 class="u-custom-font u-font-lobster u-text u-text-default u-text-1"> Uniting Gamers: Our Passion for Play</h2>
                  <p class="u-text u-text-2" spellcheck="false"> At Console Games Library, we are dedicated to creating a vibrant community for gamers of all levels. Our mission is to provide a diverse collection of console games that cater to every interest, from casual players to hardcore enthusiasts. Founded by a team of passionate gamers, we understand the joy and excitement that gaming brings. We strive to make it easy for you to explore new titles and rediscover old favorites through our flexible rental service and exclusive member benefits.</p>
                  <a href="./#carousel_a398" class="u-align-center u-btn u-button-style u-hover-palette-3-dark-1 u-palette-2-dark-2 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">LEARN MORE<span style="font-weight: 700;"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-white u-section-4" id="carousel_6094">
      <div class="u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-align-center u-container-align-center u-container-style u-group u-shape-rectangle u-group-1">
        <div class="u-container-layout">
          <h2 class="u-align-center u-custom-font u-font-lobster u-text u-text-black u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="250"> Explore Gaming Worlds</h2>
        </div>
      </div>
      <div class="u-gallery u-layout-grid u-lightbox u-show-text-always u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1651612448880-2f1bc9145f8e.jpeg" alt="Action and Adventure Realm">
            </div>
            <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-1">
              <h3 class="u-align-center u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-size: 1.375rem;">Action and Adventure Realm</h3>
            </div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1500995617113-cf789362a3e1.jpeg" alt="Family Fun Zone">
            </div>
            <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-2">
              <h3 class="u-align-center u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-size: 1.375rem;">Family Fun Zone</h3>
            </div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1517562652858-8d863a9e0931.jpeg" alt="Indie Game Showcase">
            </div>
            <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-3">
              <h3 class="u-align-center u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-size: 1.375rem;">Indie Game Showcase</h3>
            </div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1713464050974-9245669e7c05.jpeg" alt=" Retro Classics Corner">
            </div>
            <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-4">
              <h3 class="u-align-center u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-size: 1.375rem;"> Retro Classics Corner</h3>
            </div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1533961184490-0f6686e7d14c.jpeg" alt="Multiplayer Mayhem Arena">
            </div>
            <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-5">
              <h3 class="u-align-center u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-size: 1.375rem;">Multiplayer Mayhem Arena</h3>
            </div>
          </div>
          <div class="u-effect-hover-zoom u-gallery-item u-shape-rectangle">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/photo-1610561212775-b191f21b6998.jpeg" alt="Storytelling Sanctuary">
            </div>
            <div class="u-container-align-center u-over-slide u-shading u-valign-middle u-over-slide-6">
              <h3 class="u-align-center u-gallery-heading" style="margin-right: 0px; margin-left: 0px; font-size: 1.375rem;">Storytelling Sanctuary</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-4-light-3 u-section-5" id="carousel_539a">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <h2 class="u-custom-font u-font-lobster u-text u-text-default u-text-1" spellcheck="false"> What Our Community is Saying</h2>
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="864" data-image-height="1080"></div>
                <h6 class="u-text u-text-default u-text-2"> Jessica M.</h6>
                <p class="u-text u-text-3" spellcheck="false"> The Console Games Library has transformed my gaming experience! I love the wide selection of titles available for rent. It’s so convenient to try out new games without committing to a purchase. The staff is always helpful with recommendations, and I’ve discovered some hidden gems.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" data-image-width="980" data-image-height="1500"></div>
                <h6 class="u-text u-text-default u-text-4"> David K.</h6>
                <p class="u-text u-text-5" spellcheck="false"> As an avid gamer, I appreciate the focus on indie games. The Indie Game Showcase introduced me to so many creative titles I wouldn’t have found otherwise. The community events are a blast too, and I’ve made some great friends through gaming nights.</p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-5-dark-3 u-repeater-item u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" data-image-width="1260" data-image-height="698"></div>
                <h6 class="u-text u-text-default u-text-6">SIMON W.</h6>
                <p class="u-text u-text-7" spellcheck="false"> I had an amazing time exploring the Retro Classics Corner. Playing those old-school games brought back so many memories! Console Games Library has a great atmosphere, and the staff is super passionate about gaming. Highly recommend it to anyone looking to relive their childhood gaming adventures.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_a398">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-center u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-valign-top u-container-layout-1">
                  <h3 class="u-align-center u-custom-font u-font-lobster u-text u-text-default u-text-1" spellcheck="false"> Get in Touch with Us</h3>
                  <div class="custom-expanded u-align-center u-form u-palette-5-dark-3 u-radius-50 u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" source="email" name="form" style="padding: 30px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-b064" class="u-label">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-b064" name="name" class="u-border-none u-input u-input-rectangle u-radius-20" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-b064" class="u-label">Email</label>
                        <input type="email" placeholder="Enter email address" id="email-b064" name="email" class="u-border-none u-input u-input-rectangle u-radius-20" required="" spellcheck="false">
                      </div>
                      <div class="u-form-group u-form-message">
                        <label for="message-b064" class="u-label">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-b064" name="message" class="u-border-none u-input u-input-rectangle u-radius-20" required=""></textarea>
                      </div>
                      <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-form-group u-form-submit">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-palette-1-light-1 u-radius-30 u-btn-1">Send</a>
                        <input type="submit" value="submit" class="u-form-control-hidden" wfd-invisible="true">
                      </div>
                      <div class="u-form-send-message u-form-send-success" wfd-invisible="true"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message" wfd-invisible="true"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse" wfd-invisible="true">
                      <input type="hidden" name="formServices" value="a4dc3061-becc-5582-253e-e609da76e882">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-black u-clearfix u-footer" id="sec-e6b2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="401" data-image-height="224" title="Console games library">
          <img src="/public/images/ConsoleGamesLibrary.png?rand=cee6" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>