<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and conditions</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/ConsoleGamesLibrary.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Console Games Library",
        "logo": "/public/images/ConsoleGamesLibrary.webp?rand=a52e"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-header" id="sec-03da">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="401" data-image-height="224" title="Console games library">
          <img src="/public/images/ConsoleGamesLibrary.webp?rand=a52e" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-75e6" style="padding: 10px 20px;">About us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-6176" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_6094" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_539a" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_a398" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-75e6">About us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6176">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6094">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_539a">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a398">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-section-1" id="sec-9b70">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Terms and Conditions</span>
          </p>
          <p>Welcome to Console Games Library. By accessing or using our website and services, you agree to comply with and be bound by the following terms and conditions. If you do not agree with these terms, please do not use our services.</p>
          <p>By using our website and services, you confirm that you accept these Terms and Conditions and that you agree to comply with them. If you do not agree to these terms, you must refrain from using our services. Console Games Library provides a digital library of console games, allowing users to browse, rent, or purchase games. You agree to use our services in accordance with all applicable laws and regulations.</p>
          <p>All users must create an account to access certain features of our services. You are responsible for maintaining the confidentiality of your account information, including your password, and for all activities that occur under your account. You agree to notify us immediately of any unauthorized use of your account or any other breach of security.</p>
          <p>All transactions made through our website must be paid for in full at the time of purchase or rental. Prices for games and services are subject to change without notice. We reserve the right to refuse or cancel any order for any reason, including but not limited to availability, errors in the description or price of the product, or fraud prevention.</p>
          <p>You are granted a limited, non-exclusive, non-transferable license to access and use the games and services provided by Console Games Library. This license does not allow you to resell or distribute any content without our prior written consent. All content, including text, graphics, logos, and software, is the property of Console Games Library or its licensors and is protected by copyright and other intellectual property laws.</p>
          <p>You agree to use our services only for lawful purposes and in a manner that does not infringe the rights of others or restrict or inhibit anyone else's use of the services. You may not use our services in a way that could damage, disable, overburden, or impair our website or interfere with any other party's use of the services.</p>
          <p>We take the privacy of our users seriously and will handle your personal information in accordance with our Privacy Policy, which is incorporated by reference into these Terms and Conditions. By using our services, you consent to the collection and use of your information as described in our Privacy Policy.</p>
          <p>We may update these Terms and Conditions from time to time to reflect changes in our practices or applicable laws. Any changes will be effective immediately upon posting the new terms on our website. Your continued use of our services after any changes constitutes your acceptance of the new terms.</p>
          <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of your country. Any disputes arising out of or related to these terms shall be resolved in the courts.</p>
        </div>
      </div>
    </section>
    <footer class="u-black u-clearfix u-footer" id="sec-e6b2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="401" data-image-height="224" title="Console games library">
          <img src="/public/images/ConsoleGamesLibrary.webp?rand=cee6" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>