<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "luckyshorehaven",
        "url": "/",
        "logo": "/public/images/living_unplugged__5_-removebg-preview.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=6e0ee266-aa96-206b-e17c-8dc9b5482c76" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xxl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-4-base u-sticky u-sticky-99b5 u-header" id="sec-b6ef">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" title="Home" data-image-width="500" data-image-height="500">
          <img src="/public/images/living_unplugged__5_-removebg-preview.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base" href="./#sec-270d" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base" href="./#sec-10fd" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base" href="./#sec-01b8" style="padding: 10px 20px;">Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base" href="./#carousel_4995" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-2-base" href="./#carousel_88cf" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-270d">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-10fd">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-01b8">Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_4995">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_88cf">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-ab33" data-image-width="1280" data-image-height="820">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-title u-text-1">Welcome To The Resort </h1>
        <p class="u-align-center u-heading-font u-text u-text-default u-text-2"> Your ultimate guide to gorgeous destinations across the globe.<br>
        </p>
      </div>
    </section>
    <section class="u-border-2 u-border-grey-75 u-clearfix u-container-align-center-lg u-container-align-center-xl u-container-align-center-xxl u-grey-10 u-section-2" id="sec-270d">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-sheet-1">
        <div class="data-layout-selected u-align-left-lg u-align-left-md u-align-left-xl u-align-left-xxl u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-left-cell u-palette-3-light-2 u-size-23 u-layout-cell-1">
                <div class="u-container-layout u-valign-top-lg u-valign-top-xl u-valign-top-xxl u-container-layout-1">
                  <img class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-expanded-width-xxl u-image u-image-round u-radius u-image-1" data-image-width="5454" data-image-height="3636" src="/public/images/InX3QAnkjY=.webp">
                </div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-37 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <h2 class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-default-xxl u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">About Us</h2>
                  <p class="u-align-left u-text u-text-2"> At Lucky Shore Haven, we believe that every getaway should be extraordinary, and we are committed to making that a reality for our guests. With a deep dedication to customer satisfaction, our mission is to help you find the perfect casino resort for your next holiday, one that matches your unique desires and expectations..Our platform brings together a carefully curated selection of the finest casino resorts worldwide, each chosen for its exceptional service, luxury amenities, and captivating experiences. We pride ourselves on fostering strong relationships with our partner resorts, ensuring that you have access to exclusive offers and unparalleled destinations.Customer satisfaction is at the heart of everything we do. We go above and beyond to understand your preferences and provide personalized recommendations, creating a seamless booking experience from start to finish. Our commitment to excellence drives us to ensure that every detail of your trip is meticulously planned, and every expectation is exceeded</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-xs u-clearfix u-palette-4-base u-section-3" id="sec-10fd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-text u-text-default u-text-1">Facilities We Provide </h1>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-20 u-image-1" data-image-width="1280" data-image-height="853">
                    <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
                  </div>
                  <div class="u-container-style u-layout-cell u-size-20 u-white u-layout-cell-2">
                    <div class="u-container-layout u-valign-middle u-container-layout-2"><span class="u-file-icon u-icon u-icon-1"><img src="/public/images/3612569.webp" alt=""></span>
                      <h4 class="u-align-center u-text u-text-default u-text-2">Indoor/Outdoor Gaming</h4>
                      <p class="u-align-center u-text u-text-3"> Enjoy classic favourites like roulette, craps, and baccarat in elegantly designed gaming areas, with professional dealers providing an engaging and sophisticated atmosphere for both seasoned players and newcomers.</p>
                    </div>
                  </div>
                  <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-right-cell u-size-20 u-image-2" data-image-width="1500" data-image-height="1000">
                    <div class="u-container-layout u-valign-middle u-container-layout-3"></div>
                  </div>
                </div>
              </div>
              <div class="u-size-30">
                <div class="u-layout-row">
                  <div class="u-container-style u-layout-cell u-left-cell u-size-20 u-white u-layout-cell-4">
                    <div class="u-container-layout u-valign-middle u-container-layout-4"><span class="u-file-icon u-icon u-icon-2"><img src="/public/images/2233596.webp" alt=""></span>
                      <h4 class="u-align-center u-text u-text-4">Health/Beauty Spa</h4>
                      <p class="u-align-center u-text u-text-5"> Elevate your events and collaborations in our fully-equipped health and beauty spa, designed for relaxation and self cure</p>
                    </div>
                  </div>
                  <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-size-20 u-image-3" data-image-width="1280" data-image-height="720">
                    <div class="u-container-layout u-valign-middle u-container-layout-5"></div>
                  </div>
                  <div class="u-container-style u-layout-cell u-right-cell u-size-20 u-white u-layout-cell-6">
                    <div class="u-container-layout u-valign-middle u-container-layout-6"><span class="u-file-icon u-icon u-icon-3"><img src="/public/images/5455944.webp" alt=""></span>
                      <h4 class="u-align-center u-text u-text-6">Clubs/Concert Halls</h4>
                      <p class="u-align-center u-text u-text-7"> Live entertainment venues, concert halls, theatres, and nightclubs hosting performances, concerts, shows, and events featuring world-renowned artists and entertainers.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-3-light-2 u-section-4" id="sec-01b8">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Explore Our Hotels</h2>
        <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img class="u-image u-image-default u-image-1" src="https://d2afqorggl9erl.cloudfront.net/resorts/usa/the_venetian_resort/venetian1.jpg" alt="" data-image-width="1000" data-image-height="1001">
                <h2 class="u-align-center u-text u-text-2"> Hotel Kaiserhof Victoria</h2>
                <p class="u-align-center u-text u-text-3"> Luxury hotel with 2 restaurants and full-service spa</p>
                <a href="https://www.expedia.com/Bad-Kissingen-Hotels-Hotel-Kaiserhof-Victoria.h2443377.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-custom-item u-hover-palette-4-base u-palette-2-base u-radius u-btn-1" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img class="u-image u-image-default u-image-2" src="https://d2afqorggl9erl.cloudfront.net/resorts/uk/rosewood/image1.jpg" alt="" data-image-width="1000" data-image-height="1000">
                <h2 class="u-align-center u-text u-text-4"> Best Western Hotel Hohenzollern</h2>
                <p class="u-align-center u-text u-text-5"> Upscale spa hotel near Cathedral with treasury</p>
                <a href="https://www.expedia.com/Osnabrueck-Hotels-Best-Western-Hotel-Hohenzollern.h1093664.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-custom-item u-hover-palette-4-base u-palette-2-base u-radius u-btn-2" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img class="u-image u-image-default u-image-3" src="https://d2afqorggl9erl.cloudfront.net/resorts/argentina/park_hyatt_mendoza/image1.jpg" alt="" data-image-width="1000" data-image-height="1000">
                <h2 class="u-align-center u-text u-text-6"> The Venetian Resort Las Vegas</h2>
                <p class="u-align-center u-text u-text-7"> This five-star resort on the Las Vegas Strip offers large suites</p>
                <a href="https://www.expedia.com/Las-Vegas-Hotels-The-Venetian-Resort-Las-Vegas.h1443.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-custom-item u-hover-palette-4-base u-palette-2-base u-radius u-btn-3" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img class="custom-expanded u-image u-image-default u-image-4" src="https://media.dayuse.com/hotels/6999/75181cd8420fab7596125f215c8c4a91-van-der-valk-hotel-schiphol.jpg?frz-w=1080&amp;frz-fit=cover" alt="" data-image-width="1080" data-image-height="744">
                <h2 class="u-align-center u-text u-text-8"> Rosewood London</h2>
                <p class="u-align-center u-text u-text-9"> Rosewood London is located in London City Centre, a neighborhood in London, and is in a shopping.</p>
                <a href="https://www.expedia.com/London-Hotels-Rosewood-London.h537268.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-custom-item u-hover-palette-4-base u-palette-2-base u-radius u-btn-4" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <img class="u-image u-image-default u-image-5" src="https://wanderingcarol.com/wp-content/uploads/2023/12/grand-hotel-kaiserhof-victoria.jpg" alt="" data-image-width="1200" data-image-height="900">
                <h2 class="u-align-center u-text u-text-10"> Park Hyatt Mendoza</h2>
                <p class="u-align-center u-text u-text-11"> Park Hyatt Mendoza is located in Mendoza City Center, a neighborhood in Mendoza, and is in the entertainment.</p>
                <a href="https://www.expedia.com/Mendoza-Hotels-Park-Hyatt-Mendoza.h787127.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-custom-item u-hover-palette-4-base u-palette-2-base u-radius u-btn-5" target="_blank">Book Now </a>
              </div>
            </div>
            <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xs u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-container-layout-6">
                <img class="u-image u-image-default u-image-6" src="https://images.bestwestern.com/bwi/brochures/95525/photos/1024/19279951.jpg" alt="" data-image-width="1500" data-image-height="801">
                <h2 class="u-align-center u-text u-text-12"> Van der Valk Hotel Schiphol</h2>
                <p class="u-align-center u-text u-text-13"> Upscale hotel with full-service spa and free airport shuttle</p>
                <a href="https://www.expedia.com/Amsterdam-Hotels-Van-Der-Valk-Hotel-Schiphol-A4-Amsterdam-Airport.h911814.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-border-none u-btn u-btn-round u-button-style u-custom-item u-hover-palette-4-base u-palette-2-base u-radius u-btn-6" target="_blank">Book Now </a>
              </div>
            </div>
          </div>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-3" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
            </span>
          </a>
          <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-4" href="#" role="button">
            <span aria-hidden="true">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
            <span class="sr-only">
              <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
            </span>
          </a>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-4-base u-section-5" id="carousel_4995">
      <div class="u-clearfix u-sheet u-valign-middle-xxl u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1"> We provide value of our clients</h2>
        <p class="u-align-center u-text u-text-2">Essentially, a resort is everything a hotel is with a little more and aims to provide a luxury stay. Resorts are known to be a destination in itself and typically, everything you need for a holiday can be found on the property from&nbsp;<b>food, entertainment, shopping, spa and gym facilities</b>, plus more. With a star rating of 5 and a wonderful review count of 18506&nbsp;
        </p>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-1 u-border-grey-40 u-container-align-center-xs u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-1"><img src="/public/images/4338295-9d016baf.webp" alt=""></span>
                <p class="u-align-center u-text u-text-3"> "Our stay at the casino resort was nothing short of spectacular. The gaming floor offered a fantastic variety of options, from classic table games to modern slots. We enjoyed exploring the resort’s luxurious amenities, including a stunning pool area and a range of dining options. The staff were attentive and made us feel like VIPs throughout our visit<br>. We left with wonderful memories<br>&nbsp;and are already planning&nbsp;<br>our next trip!"<br>
                </p>
                <h5 class="u-align-center u-text u-text-4">Celia Almeda</h5><span class="u-align-center-xs u-file-icon u-icon u-icon-2"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-3"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-4"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-text-palette-1-base u-icon-5"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-6"><img src="/public/images/929424.webp" alt=""></span>
              </div>
            </div>
            <div class="u-border-1 u-border-grey-40 u-container-align-center-xs u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-7"><img src="/public/images/4338295-9d016baf.webp" alt=""></span>
                <p class="u-align-center u-text u-text-5"> We had an amazing experience at this casino resort. The vibrant atmosphere on the casino floor was exhilarating, and we had<br>&nbsp;a great&nbsp;time trying our luck at the poker tables. The resort’s upscale accommodations and excellent dining options added to the overall enjoyment of our stay. The attentive service from the staff made us feel well taken care of,&nbsp;and we couldn’t have asked<br>&nbsp;for a better vacation.<br>
                </p>
                <h5 class="u-align-center u-text u-text-6">Frank Kinney</h5><span class="u-align-center-xs u-file-icon u-icon u-icon-8"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-9"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-10"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-text-palette-1-base u-icon-11"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-12"><img src="/public/images/929424.webp" alt=""></span>
              </div>
            </div>
            <div class="u-border-1 u-border-grey-40 u-container-align-center-xs u-container-style u-list-item u-radius u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-bottom-xs u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-circle u-palette-1-base u-text-white u-icon-13"><img src="/public/images/4338295-9d016baf.webp" alt=""></span>
                <p class="u-align-center u-text u-text-7"> The casino resort provided us with a perfect mix of excitement and relaxation. We loved the range of games available and the lively atmosphere in the casino. The resort’s comfortable rooms and top-notch dining options were a greatcomplement to the gaming experience.&nbsp;<br>The staff’s dedication to&nbsp;<br>excellent service made our stay enjoyable from start to finish<br>
                </p>
                <h5 class="u-align-center u-text u-text-8">marry larson<br>
                </h5><span class="u-align-center-xs u-file-icon u-icon u-icon-14"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-15"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-16"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-text-palette-1-base u-icon-17"><img src="/public/images/929424.webp" alt=""></span><span class="u-align-center-xs u-file-icon u-icon u-icon-18"><img src="/public/images/929424.webp" alt=""></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-image u-section-6" id="carousel_88cf" data-image-width="1440" data-image-height="720">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-valign-middle-xs u-valign-middle-xxl u-sheet-1">
        <div class="u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-expanded-width-sm u-expanded-width-xs u-group u-palette-3-light-2 u-group-1">
          <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
            <h2 class="u-align-center u-text u-text-1">Contact Us</h2>
            <p class="u-align-center u-text u-text-2">Email </p>
            <p class="u-align-center u-heading-font u-text u-text-default u-text-3">
              <a class="u-active-none u-border-none u-btn u-button-style u-hover-feature u-hover-white u-none u-text-body-color u-btn-1" href="#">info@​luckyshorehaven​.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    <style class="u-overlap-style">
      .u-overlap:not(.u-sticky-scroll) .u-header {
        background-color: #f5d654 !important
      }
    </style>
    <footer class="u-clearfix u-container-align-center u-footer u-palette-4-dark-2" id="sec-d171">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xxl u-sheet-1">
        <p class="u-align-center u-text u-text-default u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1" href="privacy-policy">Privacy Policy</a>
        </p>
        <p class="u-align-center u-text u-text-default u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-2" href="cookies-policy">Cookies Policy</a>
        </p>
        <p class="u-align-center u-text u-text-default-lg u-text-default-xl u-text-default-xxl u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3" href="terms-and-conditions">Terms and Conditions</a>
        </p>
      </div>
    </footer><span style="height: 64px; width: 64px; margin-left: 0px; margin-right: auto; margin-top: 0px; background-image: none; right: 20px; bottom: 20px; padding: 15px;" class="u-back-to-top u-black u-hidden-xs u-icon u-icon-circle u-opacity u-opacity-85" data-href="#">
        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 551.13 551.13"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-1d98"></use></svg>
        <svg class="u-svg-content" enable-background="new 0 0 551.13 551.13" viewBox="0 0 551.13 551.13" xmlns="http://www.w3.org/2000/svg" id="svg-1d98"><path d="m275.565 189.451 223.897 223.897h51.668l-275.565-275.565-275.565 275.565h51.668z"></path></svg>
    </span>
  </body>
</html>