<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and conditions</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Pathway Planners Guide",
        "logo": "/public/images/PathwayPlannersGuide.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-grey-90 u-header u-header" id="sec-f4cc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="940" data-image-height="501" title="Pathway Planners Guide">
          <img src="/public/images/PathwayPlannersGuide.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-1 u-text-hover-palette-3-light-1" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-3-light-1" href="/" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-3-light-1" href="/#sec-c829" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-3-light-1" href="/#carousel_ab00" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-3-light-1" href="/#carousel_3eb8" style="padding: 10px 20px;">Destination</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-3-light-1" href="/#carousel_813b" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-palette-3-light-1" href="/#carousel_6db4" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-c829">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_ab00">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_3eb8">Destination</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_813b">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_6db4">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-0edc" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-1" spellcheck="false">Terms and conditions</h2>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left u-section-2" id="sec-a9d8">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">Welcome to Pathway Planners Guide. By accessing or using this website, you agree to comply with and be bound by the following terms and conditions. If you do not agree with these terms, please do not use this site.</p>
          <p>
            <span style="font-weight: 700;">Acceptance of Terms</span>
          </p>
          <p>By using Pathway Planners Guide, you confirm that you accept these terms and conditions and agree to comply with them.</p>
          <p>
            <span style="font-weight: 700;">Use of the Site</span>
          </p>
          <p>You agree to use the site only for lawful purposes and in a manner that does not infringe on the rights of, restrict, or inhibit anyone else’s use of the site.</p>
          <p>
            <span style="font-weight: 700;">Content</span>
          </p>
          <p>All content provided on Pathway Planners Guide is for informational purposes only. While we strive to provide accurate and up-to-date information, we make no guarantees regarding the accuracy, completeness, or reliability of any content.</p>
          <p>
            <span style="font-weight: 700;">Intellectual Property</span>
          </p>
          <p>All materials on this site, including text, graphics, logos, and images, are the property of Pathway Planners Guide or its content creators and are protected by copyright and other intellectual property laws. Unauthorized use of any materials is prohibited.</p>
          <p>
            <span style="font-weight: 700;">Links to Other Websites</span>
          </p>
          <p>Pathway Planners Guide may contain links to third-party websites. We do not endorse these sites and are not responsible for their content or privacy practices. Use these links at your own risk.</p>
          <p>
            <span style="font-weight: 700;">Limitation of Liability</span>
          </p>
          <p>To the fullest extent permitted by law, Pathway Planners Guide will not be liable for any direct, indirect, incidental, or consequential damages arising from the use or inability to use the site or any content provided on the site.</p>
          <p>
            <span style="font-weight: 700;">Changes to Terms</span>
          </p>
          <p>Pathway Planners Guide reserves the right to modify these terms and conditions at any time. Changes will be effective immediately upon posting on this page. Your continued use of the site after changes indicates acceptance of the new terms.</p>
          <p>
            <span style="font-weight: 700;">Governing Law</span>
          </p>
          <p>These terms and conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes arising under or in connection with these terms shall be subject to the exclusive jurisdiction</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-3 u-footer" id="sec-8ff9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="940" data-image-height="501" title="Pathway Planners Guide">
          <img src="/public/images/PathwayPlannersGuide.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="/privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-custom-color-1 u-text-white u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="/cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-custom-color-1 u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="/terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-hover-custom-color-1 u-text-white u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>