<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Unleash your competitive edge with our all-in-one fantasy sports platform. Whether you love football, basketball, or baseball, our leagues challenge your strategic thinking. Build your dream team, make smart trades, and compete with players worldwide for ultimate bragging rights.We deliver the ultimate fantasy sports experience, combining expert insights, real-time data, and flexible leagues to suit every kind of player. It's time to step up your game!">
    <title>Fantasy - Beyond Travel Guides</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/fantasy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://beyondtravelguides.com/fantasy">
    <link rel="icon" href="/public/images/beyondtravelguidesWhite.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Beyond Travel Guides",
        "url": "https://beyondtravelguides.com/fantasy",
        "logo": "/public/images/beyondtravelguidesWhite.webp?rand=282b"
      }
    </script>
    <meta name="theme-color" content="#6d8092">
    <meta property="og:title" content="Fantasy - Beyond Travel Guides">
    <meta property="og:description" content="​Unleash your competitive edge with our all-in-one fantasy sports platform. Whether you love football, basketball, or baseball, our leagues challenge your strategic thinking. Build your dream team, make smart trades, and compete with players worldwide for ultimate bragging rights.We deliver the ultimate fantasy sports experience, combining expert insights, real-time data, and flexible leagues to suit every kind of player. It's time to step up your game!">
    <meta property="og:url" content="https://beyondtravelguides.com/fantasy">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-4-dark-2 u-header" id="sec-7670">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="431" data-image-height="258" title="Beyond travel guides">
          <img src="/public/images/beyondtravelguidesWhite.webp?rand=282b" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-2-base u-text-hover-white" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_8d23" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#sec-4b43" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_bb48" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_72a1" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="./#carousel_2e41" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_8d23">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-4b43">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_bb48">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_72a1">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_2e41">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-palette-1-dark-2 u-section-1" id="carousel_5690">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-align-center u-container-align-left u-container-style u-image u-layout-cell u-shading u-size-60 u-image-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250" data-image-width="1920" data-image-height="1080">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h1 class="u-align-center u-text u-text-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="750" data-animation-direction="X">Fantasy Sports</h1>
                <p class="u-align-center u-text u-text-body-alt-color u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"> Dominate Fantasy Sports Like Never Before</p>
                <a href="#" class="u-active-white u-align-center u-black u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-round u-button-style u-hover-white u-radius u-text-active-palette-4-dark-3 u-text-hover-palette-4-dark-3 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">join now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-2" id="carousel_bfc4">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-20 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-grey-5 u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-middle u-container-layout-1">
                <h2 class="u-text u-text-default u-text-1">About Us</h2>
                <p class="u-align-justify u-text u-text-default u-text-2"> Unleash your competitive edge with our all-in-one fantasy sports platform. Whether you love football, basketball, or baseball, our leagues challenge your strategic thinking. Build your dream team, make smart trades, and compete with players worldwide for ultimate bragging rights.<br>
                  <br>We deliver the ultimate fantasy sports experience, combining expert insights, real-time data, and flexible leagues to suit every kind of player. It's time to step up your game!<br>
                </p>
              </div>
            </div>
            <div class="u-container-align-center u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1920" data-image-height="1080">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-valign-middle u-section-3" id="sec-7319">
      <div class="u-expanded-width u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-1" data-image-width="1920" data-image-height="1080">
            <div class="u-container-layout u-similar-container u-container-layout-1"></div>
          </div>
          <div class="u-container-style u-image u-list-item u-repeater-item u-shading u-image-2" data-image-width="1920" data-image-height="1080">
            <div class="u-container-layout u-similar-container u-container-layout-2"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-black u-clearfix u-container-align-center u-section-4" id="sec-fd83">
      <div class="u-align-left u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="custom-expanded u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="/public/images/1-28.webp" alt=""></span>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-2" data-href="https://www.gambleaware.org/" data-target="_blank">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-2"><img src="/public/images/2-27.webp" alt=""></span>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-3" data-href="https://www.gamblingsupportbc.ca/" data-target="_blank"><img src="/public/images/3.webp" alt=""></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-1-dark-3 u-section-5" id="sec-4634">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">subscribe</h2>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-horizontal u-form-spacing-15 u-inner-form" style="padding: 15px;" source="email">
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-ef64" class="u-label">Email</label>
              <input type="email" placeholder="Email" id="email-ef64" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-submit">
              <a href="#" class="u-align-right u-black u-btn u-btn-submit u-button-style" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">#FormSendSuccess</div>
            <div class="u-form-send-error u-form-send-message">#FormSendError</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="cf655a1e-b7e9-9fdb-b52b-1e1aaf03b825">
          </form>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-2 u-footer" id="sec-f0b8">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="431" data-image-height="258" title="Beyond travel guides">
          <img src="/public/images/beyondtravelguidesWhite.webp?rand=7f81" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>