<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy policy</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="icon" href="/public/images/TensionRopes.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Tension Ropes",
        "logo": "/public/images/TensionRopes.png?rand=eaca"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Privacy policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-2 u-header u-header" id="sec-8a99">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="392" data-image-height="275" title="Tension Ropes">
          <img src="/public/images/TensionRopes.png?rand=eaca" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-black u-text-hover-black" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-3ff1" style="padding: 10px 20px;">About us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-4623" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_e2a0" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_8184" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_6ccb" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-3ff1">About us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-4623">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_e2a0">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_8184">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_6ccb">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-center-xs u-section-1" id="sec-c434">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Privacy Policy</span>
          </p>
          <p>At Tension Ropes, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your data when you visit our website or use our services. By accessing or using our website, you consent to the collection and use of information in accordance with this policy.</p>
          <p>We may collect personal information from you when you interact with our website, such as your name, email address, shipping address, and payment information when you make a purchase or create an account. This information is necessary for us to fulfill orders and provide you with our services. We may also collect usage data, which includes information about how you access and use our website, such as your IP address, browser type, operating system, pages visited, and the time spent on each page. This data helps us analyze trends and improve our website and services.</p>
          <p>Cookies and similar tracking technologies are used on our website to enhance your experience. Cookies are small text files stored on your device that help us remember your preferences and recognize you when you return. You can manage your cookie preferences through your browser settings, but please note that disabling cookies may affect your ability to use certain features of our website.</p>
          <p>The information we collect may be used for several purposes, including processing transactions, managing your account, improving our website and services, and communicating with you about your orders, promotions, and updates. We may also use your information to analyze how our services are used and to detect, prevent, or address technical issues.</p>
          <p>We do not sell or trade your personal information to outside parties without your consent, except in certain circumstances. We may share your information with trusted third-party service providers who assist us in operating our website, conducting our business, or servicing you. These parties are obligated to keep your information confidential and are prohibited from using it for any other purpose. We may also disclose your information when required by law or in response to legal requests, or to protect our rights and the rights of others.</p>
          <p>We take the security of your personal information seriously and implement a variety of security measures to protect it. These measures include encryption, firewalls, and secure server hosting. However, please be aware that no method of transmission over the Internet or electronic storage is 100% secure. While we strive to protect your information, we cannot guarantee its absolute security.</p>
          <p>You have certain rights regarding your personal information, including the right to access, rectify, or delete your data under certain circumstances. To exercise these rights, please contact us using the information provided below.</p>
          <p>We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. Any changes will be effective immediately upon posting the new policy on our website. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-2 u-footer" id="sec-a9d8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="392" data-image-height="275" title="Tension Ropes">
          <img src="/public/images/TensionRopes.png?rand=bfe7" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>