<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="​Step into the world of casino gaming and unlock a career full of excitement and opportunity. With our guidance, you'll learn everything you need to become a skilled and confident croupier, ready to thrive in top casinos worldwide.">
    <title>Work-Travel - Roam Rite Guides</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/croupier.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="canonical" href="https://roamriteguides.com/work-travel">
    <link rel="icon" href="/public/images/Roamritesguide.PNG">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "roamriteguides",
        "url": "https://roamriteguides.com/work-travel",
        "logo": "/public/images/Roamritesguide.PNG?rand=e12a"
      }
    </script>
    <meta name="theme-color" content="#34365a">
    <meta property="og:title" content="Work-Travel - Roam Rite Guides">
    <meta property="og:description" content="​Step into the world of casino gaming and unlock a career full of excitement and opportunity. With our guidance, you'll learn everything you need to become a skilled and confident croupier, ready to thrive in top casinos worldwide.">
    <meta property="og:url" content="https://roamriteguides.com/work-travel">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-c01e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="289" data-image-height="147">
          <img src="/public/images/Roamritesguide.PNG?rand=e12a" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-base" href="./#carousel_755d" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-base" href="./#carousel_99e2" style="padding: 10px 20px;">Our Mission</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-base" href="./#carousel_7907" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-base" href="./#carousel_98f2" style="padding: 10px 20px;">Core Values</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-base" href="./#carousel_99d2" style="padding: 10px 20px;">Get In Touch</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_755d">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_99e2">Our Mission</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_7907">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_98f2">Core Values</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_99d2">Get In Touch</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-image u-shading u-section-1" id="sec-99cb" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-custom-font u-font-titillium-web u-text u-text-palette-1-light-1 u-text-1"> Start Your Journey as a</h2>
        <h1 class="u-align-left u-custom-font u-font-titillium-web u-text u-text-default u-title u-text-2"> Professional Croupier</h1>
        <p class="u-align-left u-large-text u-text u-text-variant u-text-3"> Step into the world of casino gaming and unlock a career full of excitement and opportunity. With our guidance, you'll learn everything you need to become a skilled and confident croupier, ready to thrive in top casinos worldwide.</p>
        <a href="croupier.html#carousel_31b8" class="u-align-left u-border-none u-btn u-button-style u-palette-1-dark-2 u-btn-1"> Get Started Today</a>
      </div>
    </section>
    <section class="u-clearfix u-white u-section-2" id="sec-ba8a">
      <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
        <div class="u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-1">
              <div class="u-container-layout u-valign-bottom u-container-layout-1">
                <h2 class="u-custom-font u-font-titillium-web u-text u-text-palette-1-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> Why Choose a Career as a Croupier?<span style="font-weight: 700;"></span>
                  <span style="font-weight: 700;"></span>
                </h2>
                <div class="u-expanded-width u-list u-list-1">
                  <div class="u-repeater u-repeater-1">
                    <div class="u-container-style u-custom-item u-grey-15 u-list-item u-radius u-repeater-item u-shape-round u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="400">
                      <div class="u-container-layout u-similar-container u-container-layout-2">
                        <h3 class="u-align-center u-text u-text-2"> Travel Opportunities</h3>
                        <p class="u-align-center u-text u-text-default u-text-3"> Work in exciting locations from Las Vegas to Monaco, Singapore to Macau.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-custom-item u-grey-15 u-list-item u-radius u-repeater-item u-shape-round u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="600">
                      <div class="u-container-layout u-similar-container u-container-layout-3">
                        <h3 class="u-align-center u-text u-text-4"> Networking&nbsp;</h3>
                        <p class="u-align-center u-text u-text-default u-text-5"> Build relationships with international players, VIP guests, and casino professionals.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-4">
                <div class="u-expanded-width u-list u-list-2">
                  <div class="u-repeater u-repeater-2">
                    <div class="u-container-style u-grey-15 u-list-item u-radius u-repeater-item u-shape-round u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                      <div class="u-container-layout u-similar-container u-container-layout-5">
                        <h3 class="u-align-center u-custom-font u-font-titillium-web u-text u-text-6"> Exciting Work Environment</h3>
                        <p class="u-align-center u-text u-text-default u-text-7"> Experience the thrill of the casino every day as you work in fast-paced and dynamic settings.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-15 u-list-item u-radius u-repeater-item u-shape-round u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
                      <div class="u-container-layout u-similar-container u-container-layout-6">
                        <h3 class="u-align-center u-custom-font u-font-titillium-web u-text u-text-8"> High Demand Worldwide</h3>
                        <p class="u-align-center u-text u-text-default u-text-9"> Casinos across the globe are always looking for well-trained croupiers, ensuring job stability.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-15 u-list-item u-radius u-repeater-item u-shape-round u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="800">
                      <div class="u-container-layout u-similar-container u-container-layout-7">
                        <h3 class="u-align-center u-custom-font u-font-titillium-web u-text u-text-10"> Career<br>Growth
                        </h3>
                        <p class="u-align-center u-text u-text-default u-text-11"> Start as a dealer and work your way up to pit boss, casino manager, or even enter online casino operations.</p>
                      </div>
                    </div>
                    <div class="u-container-style u-grey-15 u-list-item u-radius u-repeater-item u-shape-round u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="1000">
                      <div class="u-container-layout u-similar-container u-container-layout-8">
                        <h3 class="u-align-center u-custom-font u-font-titillium-web u-text u-text-12"> Competitive Salary &amp; Tips</h3>
                        <p class="u-align-center u-text u-text-default u-text-13">Earn a competitive base salary with the added potential of lucrative tips from patrons.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-1-dark-3 u-section-3" id="carousel_31b8">
      <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="0"> Where Can You Train to Become a Croupier?</h2>
      <p class="u-align-center u-text u-text-2"> Whether you're interested in working in land-based casinos or online gaming platforms, finding the right training academy is crucial. We partner with top croupier schools in the following countries to give you a world-class education. </p>
      <div class="u-container-style u-expanded-width u-group u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0" data-animation-direction="X">
        <div class="u-container-layout u-container-layout-1">
          <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-shading u-size-15 u-size-15-md u-image-1" data-image-width="1414" data-image-height="2000">
                  <div class="u-container-layout u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="/public/images/197374.webp" alt=""></span>
                    <h3 class="u-text u-text-3">UK</h3>
                    <h5 class="u-text u-text-default u-text-4"> Home to some of the most prestigious casino academies, preparing you for work in high-end establishments.</h5>
                  </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-shading u-size-15 u-size-15-md u-image-2" data-image-width="1414" data-image-height="2000">
                  <div class="u-container-layout u-container-layout-3"><span class="u-file-icon u-icon u-icon-2"><img src="/public/images/197484.webp" alt=""></span>
                    <h3 class="u-text u-text-5">USA</h3>
                    <h5 class="u-text u-text-default u-text-6"> Learn in the heart of the casino industry with schools offering hands-on training in Las Vegas, Atlantic City, and more.</h5>
                  </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-shading u-size-15 u-size-15-md u-image-3" data-image-width="1414" data-image-height="2000">
                  <div class="u-container-layout u-container-layout-4"><span class="u-file-icon u-icon u-icon-3"><img src="/public/images/197507.webp" alt=""></span>
                    <h3 class="u-text u-text-7"> Australia</h3>
                    <h5 class="u-text u-text-default u-text-8"> Casinos in cities like Sydney and Melbourne offer excellent training and job placement programs.<span style="font-weight: 400;"></span>
                    </h5>
                  </div>
                </div>
                <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-shading u-size-15 u-size-15-md u-image-4" data-image-width="1414" data-image-height="2000">
                  <div class="u-container-layout u-container-layout-5"><span class="u-file-icon u-icon u-icon-4"><img src="/public/images/197625.webp" alt=""></span>
                    <h3 class="u-text u-text-9"> Malta</h3>
                    <h5 class="u-text u-text-default u-text-10"> A hub for both online and land-based casinos, Malta offers specialized croupier training for European and global markets.<span style="font-weight: 400;">
                        <span style="font-weight: 700;"></span>
                      </span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-valign-middle u-section-4" id="sec-3c77">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1920" data-image-height="1080">
              <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-palette-1-base u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-align-left u-text u-text-default u-text-1"> Jobs &amp; Career Path for Croupiers</h2>
                <p class="u-align-left u-text u-text-2"> After completing your training, you'll have a wide range of career opportunities to explore. Whether you aim to work in a luxury land-based casino or dive into the growing world of online gaming, the path is yours to choose.</p>
                <ul class="u-align-left u-custom-list u-text u-text-3">
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                  </li>
                  <li>
                    <span style="font-weight: 700;">Dealer</span>: Start your career dealing classic games like blackjack, roulette, and poker.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">Pit Boss</span>: Manage tables, handle high-stakes games, and oversee other dealers.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">Online Croupier</span>: With the rise of online casinos, you can work as a virtual dealer for players around the world.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">Casino Manager</span>: Oversee the operations of an entire casino, from customer experience to staff management.<br>
                    <br>
                  </li>
                  <li>
                    <div class="u-list-icon">
                      <div>●</div>
                    </div>
                    <span style="font-weight: 700;">VIP Dealer</span>: Handle exclusive high-roller tables, where exceptional skills and professionalism are required.
                  </li>
                </ul>
                <a href="croupier.html#sec-7bd8" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-hover-white u-none u-text-active-palette-1-base u-text-hover-palette-1-base u-btn-1">Contact Us </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-sm u-align-left-xs u-clearfix u-section-5" data-image-width="2000" data-image-height="1333" id="sec-772b">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> How We Help You Become a Croupier</h2>
        <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0"> We are dedicated to making your journey to becoming a croupier smooth and successful. Our expert team offers comprehensive guidance to ensure you find the right academy, secure your first job, and navigate your career. Here's how we can help:</p>
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-grey-15 u-layout-cell u-left-cell u-radius u-shape-round u-size-30 u-layout-cell-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
                    <div class="u-container-layout u-valign-top u-container-layout-1">
                      <h3 class="u-text u-text-default u-text-3"> Personalized Academy Matching</h3>
                      <p class="u-text u-text-4"> We connect you with the best croupier training programs based on your goals, budget, and location.</p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-palette-1-light-2 u-radius u-shape-round u-size-30 u-layout-cell-2" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="400">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h3 class="u-text u-text-default u-text-5"> Job Placement Assistance</h3>
                      <p class="u-text u-text-6"> Leverage our casino network to land your first job after completing your training.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-30-md">
                <div class="u-layout-row">
                  <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-60 u-image-1" src="" data-image-width="1414" data-image-height="2000" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="800">
                    <div class="u-container-layout u-valign-top u-container-layout-3" src=""></div>
                  </div>
                </div>
              </div>
              <div class="u-size-20 u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-palette-1-light-2 u-right-cell u-size-30 u-layout-cell-4" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="200">
                    <div class="u-container-layout u-valign-top u-container-layout-4">
                      <h3 class="u-text u-text-default u-text-7"> Visa and Relocation Support</h3>
                      <p class="u-text u-text-8"> For international students, we offer assistance with visa applications and relocation logistics.</p>
                    </div>
                  </div>
                  <div class="u-align-left u-container-align-left u-container-style u-grey-15 u-layout-cell u-radius u-right-cell u-shape-round u-size-30 u-layout-cell-5" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="600">
                    <div class="u-container-layout u-valign-top u-container-layout-5">
                      <h3 class="u-text u-text-default u-text-9"> Online Croupier Training</h3>
                      <p class="u-text u-text-10"> If you prefer a flexible learning option, we provide resources for accredited online courses.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-1-dark-3 u-section-6" id="sec-7bd8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1"> Ready to Become a Croupier? Contact Us Today!</h2>
        <p class="u-text u-text-default u-text-2">Have any questions? Want to start your journey? Fill out the form below, and we'll be in touch with personalized recommendations and guidance to kick-start your croupier career.</p>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-3b9a" class="u-label">Name</label>
              <input type="text" placeholder="Enter your Name" id="name-3b9a" name="name" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-3b9a" class="u-label">Email</label>
              <input type="email" placeholder="Enter a valid email address" id="email-3b9a" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-message u-label-none">
              <label for="message-3b9a" class="u-label">Message</label>
              <textarea placeholder="Enter your message" rows="4" cols="50" id="message-3b9a" name="message" class="u-input u-input-rectangle" required=""></textarea>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
            <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="a5999242-df7b-2409-f7e5-cb663d58f142">
          </form>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-0c1d">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-6f83"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-6f83" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1">All Rights Reserved​ - Roam Rite Guides</p>
      </div>
    </footer>
  </body>
</html>