<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/PremiumKitchenCare.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Premium Kitchen Care",
        "logo": "/public/images/PremiumKitchenCare.webp?rand=907e"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-6177">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="315" data-image-height="242" title="Premium kitchen care">
          <img src="/public/images/PremiumKitchenCare.webp?rand=907e" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-black" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="#" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-127b" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-d1ef" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-6453" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_b377" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-a7c7" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-127b">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-d1ef">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6453">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_b377">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-a7c7">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-section-1" id="sec-bcd7">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700; font-size: 1.875rem;">
              <span style="font-size: 1.25rem;">
                <span style="font-size: 1.125rem;">Privacy Policy</span>
            </span>
            </span>
          </p>
          <p>At Premium Kitchen Care, we value your privacy and are committed to protecting your personal information. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you visit our website or engage with our services. By using our website, you consent to the practices described in this policy.</p>
          <p>
            <span style="font-weight: 700;">Information We Collect</span>
          </p>
          <p>We may collect personal information from you when you interact with our website, such as when you create an account, place an order, subscribe to our newsletter, or contact us. The types of information we may collect include your name, email address, phone number, shipping address, and payment information.</p>
          <p>
            <span style="font-weight: 700;">Use of Your Information</span>
          </p>
          <p>We use the information we collect for various purposes, including processing your orders, improving our products and services, personalizing your experience, and sending you updates or promotional materials related to our products.</p>
          <p>
            <span style="font-weight: 700;">Disclosure of Your Information</span>
          </p>
          <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties without your consent, except to trusted partners who assist us in operating our website or conducting our business, as long as those parties agree to keep this information confidential. We may also release information when it is necessary to comply with the law or protect our rights and the rights of others.</p>
          <p>
            <span style="font-weight: 700;">Data Security</span>
          </p>
          <p>We implement a variety of security measures to protect your personal information. Your data is stored in secure networks and is accessible only by a limited number of individuals who are required to keep the information confidential. We also use encryption to protect sensitive information transmitted online.</p>
          <p>
            <span style="font-weight: 700;">Third-Party Websites</span>
          </p>
          <p>Our website may contain links to third-party websites. We do not control these websites and are not responsible for their content or privacy practices. We encourage you to review the privacy policies of any third-party sites you visit.</p>
          <p>
            <span style="font-weight: 700;">Your Rights</span>
          </p>
          <p>Depending on your location, you may have certain rights regarding your personal information, including the right to access, correct, or delete your data. If you wish to exercise any of these rights, please contact us using the information provided below.</p>
          <p>
            <span style="font-weight: 700;">Changes to This Privacy Policy</span>
          </p>
          <p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new policy on this page. We encourage you to review this policy periodically to stay informed about how we are protecting your information.</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-1 u-footer" id="sec-5d04">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="315" data-image-height="242" title="Premium kitchen care">
          <img src="/public/images/PremiumKitchenCare.webp?rand=331d" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp; <a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2">Terms and Conditions</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Cookies Policy&nbsp;</a>
        </p>
      </div>
    </footer>
  </body>
</html>