<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and conditions</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="icon" href="/public/images/PremiumKitchenCare.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Premium Kitchen Care",
        "logo": "/public/images/PremiumKitchenCare.png?rand=907e"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-6177">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="315" data-image-height="242" title="Premium kitchen care">
          <img src="/public/images/PremiumKitchenCare.png?rand=907e" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-2-base u-text-black u-text-hover-black" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="#" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-127b" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-d1ef" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-6453" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#carousel_b377" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="./#sec-a7c7" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="#">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-127b">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-d1ef">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-6453">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_b377">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-a7c7">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-section-1" id="sec-8e0e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-size: 1.25rem; font-weight: 700;">
              <span style="font-size: 1.125rem;">Terms and Conditions</span>
            </span>
          </p>
          <p>Welcome to Premium Kitchen Care. By accessing or using our website, you agree to comply with and be bound by these Terms and Conditions. If you do not agree to these terms, please do not use our website.</p>
          <p>You affirm that you are at least [insert minimum age] years old and have the legal capacity to enter into a binding agreement. If you are using the site on behalf of an organization, you represent that you have the authority to bind that organization to these Terms.</p>
          <p>You agree to use our website only for lawful purposes and in a manner that does not infringe on the rights of others. You may not use the website in any way that could damage, disable, or impair the site or interfere with any other party's use of the site.</p>
          <p>All content on the website, including text, graphics, logos, images, and software, is the property of Premium Kitchen Care or its content suppliers and is protected by copyright, trademark, and other intellectual property laws. You may not reproduce, distribute, or create derivative works from any content without our prior written permission.</p>
          <p>If you submit any content, comments, or feedback through our website, you grant us a non-exclusive, royalty-free, perpetual, and irrevocable right to use, reproduce, modify, publish, and distribute such content in any medium. You represent that you have the right to submit such content and that it does not violate any third-party rights.</p>
          <p>Our website may contain links to third-party websites. We do not control these websites and are not responsible for their content or privacy practices. We encourage you to review the terms and conditions and privacy policies of any third-party sites you visit.</p>
          <p>To the fullest extent permitted by law, Premium Kitchen Care shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising from your access to or use of, or inability to access or use, our website.</p>
          <p>You agree to indemnify and hold harmless Premium Kitchen Care and its affiliates from any claims, liabilities, damages, losses, costs, or expenses arising out of your violation of these Terms or your use of the website.</p>
          <p>These Terms shall be governed by and construed in accordance with the laws of [your jurisdiction], without regard to its conflict of law principles. Any legal action or proceeding arising out of or related to these Terms shall be brought exclusively in the courts located in [your jurisdiction].</p>
          <p>We reserve the right to modify these Terms at any time. We will notify you of any changes by posting the new Terms on this page. Your continued use of the website after any changes constitutes your acceptance of the new Terms.</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-1 u-footer" id="sec-5d04">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="315" data-image-height="242" title="Premium kitchen care">
          <img src="/public/images/PremiumKitchenCare.png?rand=331d" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-align-center-xs u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp; <a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2">Terms and Conditions</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Cookies Policy&nbsp;</a>
        </p>
      </div>
    </footer>
  </body>
</html>