<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Cookies Policy</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/cookies-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="icon" href="/public/images/Heromugs.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Hero Mugs",
        "logo": "/public/images/Heromugs.png?rand=272a"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Cookies Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-header" id="sec-7899">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="439" data-image-height="432" title="Home">
          <img src="/public/images/Heromugs.png?rand=272a" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-white u-text-hover-white" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_ad36" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_1b86" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_66fd" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_5f5e" style="padding: 10px 20px;">Contact</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_54fe" style="padding: 10px 20px;">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_ad36">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_1b86">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_66fd">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5f5e">Contact</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_54fe">Reviews</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-fbad">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-1">Cookies Policy</h3>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left u-section-2" id="sec-d096">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">What Are Cookies?</span>
          </p>
          <p>Cookies are small text files that are stored on your device when you visit a website. They help the website recognize your device and remember certain information about your visit, such as your preferences and browsing behavior. This information allows us to provide you with a more personalized experience.</p>
          <p>
            <span style="font-weight: 700;">How We Use Cookies</span>
          </p>
          <p>We use cookies to improve the functionality of our website and to enhance your user experience. Cookies help us analyze website traffic, track user behavior, and remember your preferences, such as language settings and shopping cart items. This allows us to tailor our content and services to better suit your needs.</p>
          <p>
            <span style="font-weight: 700;">Types of Cookies We Use</span>
          </p>
          <p>We use both session cookies, which expire when you close your browser, and persistent cookies, which remain on your device for a set period or until you delete them. These cookies serve various purposes, including enabling essential website features, improving site performance, and personalizing your experience.</p>
          <p>
            <span style="font-weight: 700;">Third-Party Cookies</span>
          </p>
          <p>In addition to our own cookies, we may also use third-party cookies from trusted service providers. These cookies may be used for analytics, advertising, and social media integration. Third-party cookies allow us to measure the effectiveness of our marketing efforts and understand how users interact with our website.</p>
          <p>
            <span style="font-weight: 700;">Your Choices Regarding Cookies</span>
          </p>
          <p>You have control over cookies through your browser settings. Most browsers allow you to refuse cookies or delete existing cookies. However, please be aware that disabling cookies may affect your ability to use certain features of our website and may limit your overall experience.</p>
          <p>
            <span style="font-weight: 700;">Changes to This Cookies Policy</span>
          </p>
          <p>We may update this Cookies Policy from time to time to reflect changes in our practices or for operational, legal, or regulatory reasons. Any updates will be posted on this page, and we encourage you to review it regularly to stay informed about our cookie practices.</p>
        </div>
      </div>
    </section>
    <footer class="u-black u-clearfix u-footer" id="sec-2b10">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="439" data-image-height="432" title="Home">
          <img src="/public/images/Heromugs.png?rand=b24f" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-align-center-xs u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>