<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="icon" href="/public/images/Heromugs.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Hero Mugs",
        "logo": "/public/images/Heromugs.png?rand=272a"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and Conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-header" id="sec-7899">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="439" data-image-height="432" title="Home">
          <img src="/public/images/Heromugs.png?rand=272a" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-white u-text-hover-white" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_ad36" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_1b86" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_66fd" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_5f5e" style="padding: 10px 20px;">Contact</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white" href="./#carousel_54fe" style="padding: 10px 20px;">Reviews</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_ad36">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_1b86">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_66fd">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5f5e">Contact</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_54fe">Reviews</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-bea7">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-1">Terms &amp; Conditions</h3>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left u-section-2" id="sec-13b4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Use of Our Services</span>
          </p>
          <p>You agree to use our website and services only for lawful purposes and in accordance with these Terms. You may not use our website in a way that violates any applicable laws or regulations, or that may harm the rights of others. Unauthorized access to our website or any part of it is prohibited.</p>
          <p>
            <span style="font-weight: 700;">User Responsibilities</span>
          </p>
          <p>When you create an account, place an order, or contact us through our website, you are responsible for providing accurate and complete information. You agree to update your information as necessary to keep it current. You are also responsible for maintaining the confidentiality of your account information and for all activities that occur under your account.</p>
          <p>
            <span style="font-weight: 700;">Intellectual Property</span>
          </p>
          <p>All content on the Hero Mugs website, including but not limited to text, graphics, logos, images, and software, is the property of Hero Mugs or its licensors and is protected by intellectual property laws. You may not reproduce, distribute, modify, or otherwise use any of our content without our prior written consent.</p>
          <p>
            <span style="font-weight: 700;">Order Processing and Payment</span>
          </p>
          <p>When you place an order through our website, you agree to pay all applicable fees and charges associated with your purchase. All payments must be made in full at the time of ordering. We reserve the right to cancel or refuse any order at our discretion.</p>
          <p>
            <span style="font-weight: 700;">Limitation of Liability</span>
          </p>
          <p>Hero Mugs strives to provide high-quality products and services; however, we do not guarantee that our website will be error-free or uninterrupted. We shall not be liable for any direct, indirect, incidental, or consequential damages arising from your use of our website or products, even if we have been advised of the possibility of such damages.</p>
          <p>
            <span style="font-weight: 700;">Termination</span>
          </p>
          <p>We reserve the right to suspend or terminate your access to our website and services at any time, without notice, if we believe you have violated these Terms or engaged in any unlawful activities. You may also terminate your use of our services at any time by notifying us.</p>
          <p>
            <span style="font-weight: 700;">Changes to These Terms</span>
          </p>
          <p>We may update these Terms and Conditions periodically to reflect changes in our practices or for other operational, legal, or regulatory reasons. Any updates will be posted on this page, and your continued use of our website constitutes acceptance of the updated Terms.</p>
        </div>
      </div>
    </section>
    <footer class="u-black u-clearfix u-footer" id="sec-2b10">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="./" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="439" data-image-height="432" title="Home">
          <img src="/public/images/Heromugs.png?rand=b24f" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-align-center-xs u-text u-text-default u-text-1">
          <a href="privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>