<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Cookies Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/cookies-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spineheavencasino",
        "logo": "/public/images/living_unplugged__7_-removebg-preview.webp"
      }
    </script>
    <meta name="theme-color" content="#bc47c9">
    <meta property="og:title" content="Cookies Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-4-light-2 u-sticky u-sticky-819e u-header" id="sec-9a29">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" title="HOME" data-image-width="500" data-image-height="500">
          <img src="/public/images/living_unplugged__7_-removebg-preview.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 2px; font-size: calc(1em + 4.625px);">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">HOME</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_28a0" style="padding: 10px 20px;">Why Choose Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_41ab" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_a084" style="padding: 10px 20px;">Our Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_b6cd" style="padding: 10px 20px;">What We Do</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_5bb9" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_dabc" style="padding: 10px 23px 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">HOME</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_28a0">Why Choose Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_41ab">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a084">Our Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_b6cd">What We Do</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5bb9">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_dabc">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-gradient u-section-1" id="sec-c266">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Cookies Policy </h2>
      </div>
    </section>
    <section class="u-clearfix u-container-align-left u-section-2" id="sec-04b9">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h4 class="u-align-left u-text u-text-default u-text-1">What are cookies?<span style="font-weight: 700;"></span>
        </h4>
        <p class="u-align-left u-text u-text-2">Cookies are simple text files that are stored on your computer or mobile device by a website’s server. Each cookie is unique to your web browser. It will contain some anonymous information such as a unique identifier, the Island Escape resort, and some digits and numbers.</p>
        <h4 class="u-align-left u-text u-text-default u-text-3">What types of cookies do we use?<span style="font-weight: 700;"></span>
        </h4>
        <p class="u-align-left u-text u-text-4">Necessary&nbsp; cookies allow us to offer you the best possible experience when accessing and navigating through our website and using its features. For example, these cookies let us recognize that you have created an account and have logged into that account. Functionality cookies: Functionality cookies let us operate the site in accordance with the choices you make. For example, we will recognize your username and remember how you customized the site during future visits<br>Analytical cookies If you want to restrict or block the cookies that are set by our website, you can do so through your browser setting. Alternatively, you can visit www.internetcookies.org, which contains comprehensive information on how to do this on a wide variety of browsers and devices. You will find general information about cookies and details on how to delete cookies from your device. These cookies enable us and third-party services to collect aggregated data for statistical purposes on how our visitors use the website. These cookies do not contain personal information such as names and email addresses and are used to help us improve your user experience of the website.
        </p>
        <h4 class="u-align-left u-text u-text-default u-text-5">How to delete cookies?<span style="font-weight: 700;"></span>
        </h4>
        <p class="u-align-left u-text u-text-6">If you want to restrict or block the cookies that are set by our website, you can do so through your browser setting. Alternatively, you can visit www.internetcookies.org, which contains comprehensive information on how to do this on a wide variety of browsers and devices. You will find general information about cookies and details on how to delete cookies from your device.</p>
        <h4 class="u-align-left u-text u-text-default u-text-7">
          <span style="font-weight: 700;"></span>
        </h4>
        <h4 class="u-align-left u-text u-text-default u-text-8">
          <span style="font-weight: 700;">Contacting us </span>
        </h4>
        <p class="u-align-left u-text u-text-default-lg u-text-default-md u-text-default-xl u-text-9">If you have any questions about this policy or our use of cookies, Please Contact Us.</p>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-4-light-2 u-footer" id="sec-2dc6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-btn-1" href="cookies-policy">Cookies Policy</a>
        </p>
        <p class="u-align-center u-custom-font u-small-text u-text u-text-variant u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-text-hover-white u-btn-2" href="privacy-policy">Privacy Policy</a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-text-hover-white u-btn-3" href="terms-and-conditions">Terms and Condition</a>
        </p>
      </div>
    </footer>
  </body>
</html>