<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>HOME</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spineheavencasino",
        "url": "/",
        "logo": "/public/images/living_unplugged__7_-removebg-preview.webp"
      }
    </script>
    <meta name="theme-color" content="#bc47c9">
    <meta property="og:title" content="HOME">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=10f8ce75-6346-9a7e-dd09-6580d342fd61" data-home-page-title="HOME" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-4-light-2 u-sticky u-sticky-819e u-header" id="sec-9a29">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" title="HOME" data-image-width="500" data-image-height="500">
          <img src="/public/images/living_unplugged__7_-removebg-preview.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 2px; font-size: calc(1em + 4.625px);">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">HOME</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_28a0" style="padding: 10px 20px;">Why Choose Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_41ab" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_a084" style="padding: 10px 20px;">Our Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_b6cd" style="padding: 10px 20px;">What We Do</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_5bb9" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_dabc" style="padding: 10px 23px 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">HOME</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_28a0">Why Choose Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_41ab">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a084">Our Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_b6cd">What We Do</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5bb9">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_dabc">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="skrollable skrollable-between u-align-center u-clearfix u-container-align-center u-image u-shading u-section-1" src="" id="carousel_6a69" data-image-width="1280" data-image-height="853">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-text u-text-default u-text-1">WELLCOME TO HOTEL </h1>
        <p class="u-align-center u-custom-font u-large-text u-text u-text-variant u-text-2">Escape to a world of relaxation and luxury at Spine Heaven Casino, where breathtaking landscapes, top-tier amenities, and exceptional service come together to create the perfect getaway </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-grey-5 u-section-2" id="carousel_28a0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="/public/images/7586169.webp" alt=""></span>
                <h6 class="u-align-center u-custom-font u-text u-text-1">Stunning Location </h6>
                <p class="u-align-center u-text u-text-2">Situated in the heart of, our resort offers breathtaking views of [ocean, mountains, forest, etc.] </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-align-center u-file-icon u-icon u-icon-2"><img src="/public/images/1087934.webp" alt=""></span>
                <h6 class="u-align-center u-custom-font u-text u-text-3">Luxury &amp; Comfort </h6>
                <p class="u-align-center u-text u-text-4">We pride ourselves on providing exceptional accommodations that blend style with comfort </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-center u-file-icon u-icon u-icon-3"><img src="/public/images/681494.webp" alt=""></span>
                <h6 class="u-align-center u-custom-font u-text u-text-5">Personalized Service </h6>
                <p class="u-align-center u-text u-text-6">From the moment you arrive, our dedicated team is committed to offering personalized service tailored to your needs </p>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-rectangle u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-center u-file-icon u-icon u-icon-4"><img src="/public/images/2838815.webp" alt=""></span>
                <h6 class="u-align-center u-custom-font u-text u-text-7"> Culinary Excellence</h6>
                <p class="u-align-center u-text u-text-8">Indulge in an exquisite dining experience at our resort. Our world-class chefs prepare a wide array of local and international dishes </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-grey-5 u-section-3" id="carousel_41ab">
      <img class="u-expanded-width u-image u-image-1" src="/public/images/rzPf59DCg==.webp" data-image-width="4000" data-image-height="3000">
      <div class="u-container-style u-group u-white u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1"> About Us<br>
          </h2>
          <p class="u-align-center u-text u-text-2">Welcome to Spine Heaven Casino, where luxury meets nature. Nestled in the heart of , our resort is designed to offer a perfect blend of relaxation, adventure, and unparalleled comfort. Since our opening in 1992, we have been dedicated to providing an exceptional experience for guests from around the world. </p>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-gradient u-section-4" id="carousel_a084">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1"> Our Hotels&nbsp;</h2>
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-border-4 u-border-white u-container-style u-image u-list-item u-repeater-item u-image-1" data-image-width="1280" data-image-height="853">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="custom-expanded u-container-style u-group u-white u-group-1">
                  <div class="u-container-layout u-container-layout-2">
                    <h6 class="u-align-left u-custom-font u-text u-text-default u-text-2">Hotel Algarve Casino </h6>
                    <p class="u-align-left u-text u-text-default u-text-3">Located in Portim‹o, Hotel Algarve Casino is in the entertainment district and on the beach. </p>
                    <a href="https://www.expedia.com/Portimao-Hotels-Hotel-Algarve-Casino.h6468.Hotel-Information" class="u-border-none u-btn u-button-style u-custom-color-7 u-custom-font u-hover-black u-btn-1" target="_blank">book now </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-border-4 u-border-white u-container-style u-image u-list-item u-repeater-item u-image-2" data-image-width="1280" data-image-height="854">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="custom-expanded u-container-style u-group u-white u-group-2">
                  <div class="u-container-layout u-container-layout-4">
                    <h6 class="u-align-left u-custom-font u-text u-text-default u-text-4">Hilton Warsaw City </h6>
                    <p class="u-align-left u-text u-text-default u-text-5">Luxury Warsaw hotel connected to the convention center, walk to Warsaw Uprising Museum </p>
                    <a href="https://www.expedia.com/Warsaw-Hotels-Hilton-Warsaw-City.h1457900.Hotel-Information" class="u-border-none u-btn u-button-style u-custom-color-7 u-custom-font u-hover-black u-btn-2" target="_blank">book now </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-border-4 u-border-white u-container-style u-image u-list-item u-repeater-item u-image-3" data-image-width="4000" data-image-height="2311">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="custom-expanded u-container-style u-group u-white u-group-3">
                  <div class="u-container-layout u-container-layout-6">
                    <h6 class="u-align-left u-custom-font u-text u-text-default u-text-6">THE ONE Grand Hotel </h6>
                    <p class="u-align-left u-text u-text-default u-text-7">Located , THE ONE Grand Hotel&nbsp; &nbsp;is connected&nbsp; shopping center. </p>
                    <a href="https://www.expedia.com/Porto-Hotels-Grande-Hotel-Da-Povoa.h40142032.Hotel-Information?pwaMoreInfoDialog=MoreInfoDialog" class="u-border-none u-btn u-button-style u-custom-color-7 u-custom-font u-hover-black u-btn-3" target="_blank">book now </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-border-4 u-border-white u-container-style u-image u-list-item u-repeater-item u-image-4" data-image-width="1024" data-image-height="683">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="custom-expanded u-container-style u-group u-white u-group-4">
                  <div class="u-container-layout u-container-layout-8">
                    <h6 class="u-align-left u-custom-font u-text u-text-default u-text-8">Best Western Hotel </h6>
                    <p class="u-align-left u-text u-text-default u-text-9">Upscale spa hotel near Cathedral with treasury </p>
                    <a href="https://www.expedia.com/Osnabrueck-Hotels-Best-Western-Hotel-Hohenzollern.h1093664.Hotel-Information" class="u-border-none u-btn u-button-style u-custom-color-7 u-custom-font u-hover-black u-btn-4" target="_blank">book now </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-expanded-width u-layout-grid u-list u-list-2">
          <div class="u-repeater u-repeater-2">
            <div class="u-border-4 u-border-white u-container-style u-image u-list-item u-repeater-item u-image-5" data-image-width="826" data-image-height="463">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-9">
                <div class="custom-expanded u-container-style u-group u-white u-group-5">
                  <div class="u-container-layout u-container-layout-10">
                    <h6 class="u-align-left u-custom-font u-text u-text-default u-text-10">Grande Albergo delle </h6>
                    <p class="u-align-left u-text u-text-11">Grande Albergo delle Rose is in the historical district and on the waterfront</p>
                    <a href="https://www.expedia.com/Rhodes-Hotels-Hotel-Grande-Albergo-Delle-Rose-Adults-Only.h1660779.Hotel-Information" class="u-align-left u-border-none u-btn u-button-style u-custom-color-7 u-custom-font u-hover-black u-btn-5" target="_blank">book now </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="u-border-4 u-border-white u-container-style u-image u-list-item u-repeater-item u-image-6" data-image-width="1200" data-image-height="800">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-11">
                <div class="custom-expanded u-container-align-left u-container-style u-group u-white u-group-6">
                  <div class="u-container-layout u-container-layout-12">
                    <h6 class="u-align-left u-custom-font u-text u-text-default u-text-12">Courtyard by Marriott</h6>
                    <p class="u-align-left u-text u-text-13">Lakefront hotel with casino connected&nbsp; to the convention center in Hoofddorp </p>
                    <a href="https://www.expedia.com/Hoofddorp-Hotels-Courtyard-By-Marriott-Amsterdam-Airport.h849306.Hotel-Information" class="u-align-left u-border-none u-btn u-button-style u-custom-color-7 u-custom-font u-hover-black u-btn-6" target="_blank">book now </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-gradient u-section-5" id="carousel_b6cd">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-25-lg u-size-25-xl u-size-60-md u-size-60-sm u-size-60-xs u-white u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h3 class="u-align-left u-custom-font u-text u-text-1">
                    <br>What We Do<br>
                  </h3>
                  <p class="u-align-left u-text u-text-default u-text-2">Spine Heaven Casino, we create extraordinary experiences that combine luxury, comfort, and personalized service in a breathtaking setting. Here’s what we offer to make your stay with us truly unforgettable:</p>
                </div>
              </div>
              <div class="u-container-style u-layout-cell u-size-35-lg u-size-35-xl u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-2">
                <div class="u-container-layout u-container-layout-2">
                  <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
                    <div class="u-repeater u-repeater-1">
                      <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
                        <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-align-left u-custom-color-7 u-file-icon u-icon u-icon-circle u-icon-1"><img src="/public/images/185539-984fefd1.webp" alt=""></span>
                          <h4 class="u-align-left u-custom-font u-text u-text-3"> Unmatched Hospitality</h4>
                          <p class="u-align-left u-text u-text-4"> Our core mission is to provide warm, personalized service to every guest. From the moment you step into our resort,</p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
                        <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-align-left u-custom-color-7 u-file-icon u-icon u-icon-circle u-icon-2"><img src="/public/images/4224450-f4df0171.webp" alt=""></span>
                          <h4 class="u-align-left u-custom-font u-text u-text-5">Create&nbsp; Events </h4>
                          <p class="u-align-left u-text u-text-6"> We specialize in hosting beautiful weddings, corporate retreats, and special celebrations. With stunning event spaces</p>
                        </div>
                      </div>
                      <div class="u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
                        <div class="u-container-layout u-similar-container u-container-layout-5"><span class="u-align-left u-custom-color-7 u-file-icon u-icon u-icon-circle u-icon-3"><img src="/public/images/4754925-2dd84f15.webp" alt=""></span>
                          <h4 class="u-align-left u-custom-font u-text u-text-7"> Provide&nbsp; Entertainment</h4>
                          <p class="u-align-left u-text u-text-8"> Whether you seek adventure or relaxation, our resort offers a variety of activities for all types of travelers. Explore nature</p>
                        </div>
                      </div>
                      <div class="u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-4">
                        <div class="u-container-layout u-similar-container u-container-layout-6"><span class="u-align-left u-custom-color-7 u-file-icon u-icon u-icon-circle u-icon-4"><img src="/public/images/5129302-2d2bdc5d.webp" alt=""></span>
                          <h4 class="u-align-left u-custom-font u-text u-text-9"> Ensure&nbsp; Fun </h4>
                          <p class="u-align-left u-text u-text-10">We offer services and amenities tailored to families, including kid-friendly activities, family suites, and special entertainment programs </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-grey-5 u-section-6" id="carousel_5bb9">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1">Testimonials </h2>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="404" data-image-height="404"></div>
                <h4 class="u-custom-font u-text u-text-2">Bob Brown</h4>
                <p class="u-text u-text-3">From the moment we arrived, the service was outstanding! The views were breathtaking, and the staff made us feel like royalty. The spa treatments were divine, and we loved the private beach. We'll definitely be back! </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <div alt="" class="u-image u-image-circle u-image-2" data-image-width="700" data-image-height="693"></div>
                <h4 class="u-custom-font u-text u-text-4"> John Grant</h4>
                <p class="u-text u-text-5">We had an amazing family vacation at [Your Resort Name]. The kids loved the pool and activities, and we appreciated the spacious family suite. The food was delicious, and the staff went above and beyond to make our stay perfect. Highly recommend for families! </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div alt="" class="u-image u-image-circle u-image-3" data-image-width="700" data-image-height="700"></div>
                <h4 class="u-custom-font u-text u-text-6"> Irma Maxwell</h4>
                <p class="u-text u-text-7">We hosted our wedding at [Your Resort Name], and it was beyond our expectations! The event planning team took care of every detail, and the setting was simply magical. Our guests couldn’t stop raving about the beautiful ceremony and fantastic food. It was truly the wedding of our dreams. </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <div alt="" class="u-image u-image-circle u-image-4" data-image-width="398" data-image-height="421"></div>
                <h4 class="u-custom-font u-text u-text-8">Ann Richmond</h4>
                <p class="u-text u-text-9">The moment we arrived, we were in awe of the beauty and luxury of the resort. The rooms were spacious and beautifully decorated, the staff were attentive, and the infinity pool was the highlight of our trip. It’s the perfect place to unwind and recharge. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-7" id="carousel_dabc">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-gutter-40 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h6 class="u-align-center u-custom-font u-text u-text-default u-text-1">Contact Us</h6><span class="u-align-center u-file-icon u-icon u-icon-1"><img src="/public/images/2058148.webp" alt=""></span>
                  <h6 class="u-custom-font u-text u-text-default u-text-2">Email </h6>
                  <p class="u-text u-text-default u-text-3">Info@​spineheavencasino.com </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-4-light-2 u-footer" id="sec-2dc6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-btn-1" href="cookies-policy">Cookies Policy</a>
        </p>
        <p class="u-align-center u-custom-font u-small-text u-text u-text-variant u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-text-hover-white u-btn-2" href="privacy-policy">Privacy Policy</a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-text-hover-white u-btn-3" href="terms-and-conditions">Terms and Condition</a>
        </p>
      </div>
    </footer>
  </body>
</html>