<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spineheavencasino",
        "logo": "/public/images/living_unplugged__7_-removebg-preview.webp"
      }
    </script>
    <meta name="theme-color" content="#bc47c9">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-palette-4-light-2 u-sticky u-sticky-819e u-header" id="sec-9a29">
      <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" title="HOME" data-image-width="500" data-image-height="500">
          <img src="/public/images/living_unplugged__7_-removebg-preview.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#" style="padding: 2px; font-size: calc(1em + 4.625px);">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">HOME</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_28a0" style="padding: 10px 20px;">Why Choose Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_41ab" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_a084" style="padding: 10px 20px;">Our Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_b6cd" style="padding: 10px 20px;">What We Do</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_5bb9" style="padding: 10px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_dabc" style="padding: 10px 23px 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">HOME</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_28a0">Why Choose Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_41ab">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_a084">Our Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_b6cd">What We Do</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5bb9">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_dabc">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-gradient u-section-1" id="sec-c266">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Privacy Policy </h2>
      </div>
    </section>
    <section class="u-clearfix u-container-align-left u-white u-section-2" id="sec-77a8">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-text u-text-default u-text-1">1. Information We Collect </h2>
        <h5 class="u-align-left u-text u-text-2">
          <br>
          <br>
          <br>.
        </h5>
        <p class="u-align-left u-text u-text-3">Welcome to&nbsp; Golden Oasis Resortwhere we prioritize your privacy and strive to create a secure and transparent environment. This Privacy Policy is designed to inform you about how we handle your personal information in our commitment to maintaining your trust. By using our services, you agree to the terms outlined here</p>
        <h2 class="u-align-left u-text u-text-4">2. How We Use Your Information </h2>
        <h6 class="u-align-left u-text u-text-5">At &nbsp; Golden Oasis Resort, we collect information that you provide directly, such as during account registration, transactions, and interactions with our customer support. This includes your name, contact details, payment information, and gaming preferences. We also use cookies and similar technologies to enhance your experience on our website.Your information is crucial in processing transactions, customizing your experience, and improving our overall services. We use your data for customer support, sending relevant updates, and safeguarding the security of our platform. For analytical purposes, we may use aggregated, non-personal information. </h6>
        <h2 class="u-align-left u-text u-text-6">3. Sharing Your Information </h2>
        <h6 class="u-align-left u-text u-text-7">Your personal information is not for sale. We may share it with trusted partners and service providers under strict confidentiality agreements to assist in delivering our services. </h6>
        <h2 class="u-align-left u-text u-text-8">4.Security Measures </h2>
        <h6 class="u-align-left u-text u-text-9">At&nbsp;&nbsp; Golden Oasis Resort we employ industry-standard security measures to protect against unauthorized access, disclosure, alteration, or destruction of your data. </h6>
        <h2 class="u-align-left u-text u-text-10">5. Your Choices </h2>
        <h6 class="u-align-left u-text u-text-11">You have the right to access and update your personal information. To opt out of promotional emails, follow the unsubscribe instructions provided in the emails. Note that certain essential communications are necessary for the use of our services. </h6>
        <h2 class="u-align-left u-text u-text-12">6. Cookies and Tracking Technologies </h2>
        <h6 class="u-align-left u-text u-text-13">Cookies are used to improve your online experience. You can manage cookies through your browser settings, but disabling them may affect your access to certain website features. </h6>
        <h2 class="u-align-left u-text u-text-14">7. Updates to Privacy Policy </h2>
        <h6 class="u-align-left u-text u-text-15">We reserve the right to modify this Privacy Policy. Any changes will be communicated via our website or directly to you as needed. </h6>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-palette-4-light-2 u-footer" id="sec-2dc6">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-align-center u-small-text u-text u-text-variant u-text-1">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-btn-1" href="cookies-policy">Cookies Policy</a>
        </p>
        <p class="u-align-center u-custom-font u-small-text u-text u-text-variant u-text-2">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-text-hover-white u-btn-2" href="privacy-policy">Privacy Policy</a>
        </p>
        <p class="u-align-center u-small-text u-text u-text-variant u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-custom-font u-hover-none u-none u-text-body-color u-text-hover-white u-btn-3" href="terms-and-conditions">Terms and Condition</a>
        </p>
      </div>
    </footer>
  </body>
</html>