<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="Welcome to Lure and Bait, the best place to learn about fishing! We are a group of passionate anglers and fishing fans who want to share our love of the sport with other fishing fans. No matter how experienced you are or how new you are to fishing, our goal is to help you find the best tips, techniques, and gear to make your trips better.
We have a lot of information at Lure and Bait, from expert tips on fishing techniques and species to in-depth reviews of the newest gear and tackle. Sharing stories, making friends, and enjoying the fun of fishing are important parts of our community. Come with us as we explore the water, learn new skills, and make memories that will last a lifetime on the lake, river, or ocean. Let us cast our lines together and enjoy the fun of fishing!
">
    <title>Home - Lure and Bait</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="canonical" href="https://lureandbaitshop.com">
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Lure and Bait",
        "url": "https://lureandbaitshop.com",
        "logo": "/public/images/favicon.png?rand=1280"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home - Lure and Bait">
    <meta property="og:description" content="Welcome to Lure and Bait, the best place to learn about fishing! We are a group of passionate anglers and fishing fans who want to share our love of the sport with other fishing fans. No matter how experienced you are or how new you are to fishing, our goal is to help you find the best tips, techniques, and gear to make your trips better.
We have a lot of information at Lure and Bait, from expert tips on fishing techniques and species to in-depth reviews of the newest gear and tackle. Sharing stories, making friends, and enjoying the fun of fishing are important parts of our community. Come with us as we explore the water, learn new skills, and make memories that will last a lifetime on the lake, river, or ocean. Let us cast our lines together and enjoy the fun of fishing!
">
    <meta property="og:url" content="https://lureandbaitshop.com">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-light-1" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-light-1" href="./#sec-d48e" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-light-1" href="./#sec-0698" style="padding: 10px 20px;">Products</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-3-base u-text-hover-palette-2-light-1" href="./#sec-a4a2" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-d48e">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-0698">Products</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-a4a2">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <a href="#" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <img src="/public/images/favicon.png?rand=1280" class="u-logo-image u-logo-image-1">
        </a>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-5de1" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="custom-expanded u-align-center u-border-2 u-border-white u-container-align-center u-container-style u-group u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h1 class="u-align-center u-heading-font u-text u-text-default u-title u-text-1"> Lure and Bait</h1>
            <p class="u-align-center u-large-text u-text u-text-font u-text-variant u-text-2"> Cast Your Line, Reel in the Fun!</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-2" id="sec-d48e">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-shading u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1414" data-image-height="2000">
              <div class="u-container-layout u-container-layout-1" src=""></div>
            </div>
            <div class="u-align-left u-black u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-layout-cell-2">
              <div class="u-container-layout u-valign-middle u-container-layout-2">
                <h2 class="u-align-left u-text u-text-default u-text-palette-3-base u-text-1">Who we are</h2>
                <p class="u-align-left u-text u-text-2"> Welcome to Lure and Bait, the best place to learn about fishing! We are a group of passionate anglers and fishing fans who want to share our love of the sport with other fishing fans. No matter how experienced you are or how new you are to fishing, our goal is to help you find the best tips, techniques, and gear to make your trips better.<br>
                  <br>We have a lot of information at ​Lure and Bait, from expert tips on fishing techniques and species to in-depth reviews of the newest gear and tackle. Sharing stories, making friends, and enjoying the fun of fishing are important parts of our community. Come with us as we explore the water, learn new skills, and make memories that will last a lifetime on the lake, river, or ocean. Let us cast our lines together and enjoy the fun of fishing!<br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-3" id="sec-0698" data-image-width="1920" data-image-height="1080">
      <h2 class="u-align-center u-text u-text-default u-text-palette-3-base u-text-1">Top Products<br>
      </h2>
      <div class="custom-expanded u-align-center u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-border-10 u-border-palette-3-base u-container-align-center u-container-style u-image u-list-item u-repeater-item u-image-1" data-image-width="1080" data-image-height="1080">
            <div class="u-container-layout u-similar-container u-container-layout-1"></div>
          </div>
          <div class="u-border-10 u-border-palette-3-base u-container-style u-image u-list-item u-repeater-item u-image-2" data-image-width="1080" data-image-height="1080">
            <div class="u-container-layout u-similar-container u-container-layout-2"></div>
          </div>
          <div class="u-border-10 u-border-palette-3-base u-container-style u-image u-list-item u-repeater-item u-image-3" data-image-width="1080" data-image-height="1080">
            <div class="u-container-layout u-similar-container u-container-layout-3"></div>
          </div>
          <div class="u-border-10 u-border-palette-3-base u-container-style u-image u-list-item u-repeater-item u-image-4" data-image-width="1080" data-image-height="1080">
            <div class="u-container-layout u-similar-container u-container-layout-4"></div>
          </div>
          <div class="u-border-10 u-border-palette-3-base u-container-style u-image u-list-item u-repeater-item u-image-5" data-image-width="1280" data-image-height="853">
            <div class="u-container-layout u-similar-container u-container-layout-5"></div>
          </div>
          <div class="u-border-10 u-border-palette-3-base u-container-style u-image u-list-item u-repeater-item u-image-6" data-image-width="854" data-image-height="1280">
            <div class="u-container-layout u-similar-container u-container-layout-6"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-valign-middle u-section-4" id="sec-a4a2">
      <div class="u-container-style u-group u-palette-3-base u-radius u-shape-round u-group-1">
        <div class="u-container-layout u-container-layout-1"><span class="u-file-icon u-icon u-text-custom-color-11 u-icon-1"><img src="/public/images/684816-00af04d2.png" alt=""></span>
          <h4 class="u-text u-text-default u-text-1">Get In Touch</h4>
          <p class="u-custom-font u-font-arial u-text u-text-default u-text-2">Send us an email to receive newsletters&nbsp;<br>and product catalogues.
          </p>
          <h5 class="u-text u-text-default u-text-3">info@​lureandbaitshop.com </h5>
        </div>
      </div>
      <img class="u-image u-image-round u-radius u-image-1" src="/public/images/527f6e0139e7c888d09104d88768957e22c64f0f365e2b6d221dc3ef6c666958b21fe57e11feadf513636bf835a1b6c44c601ff77fb3ace749a474_1280.jpg" alt="" data-image-width="1280" data-image-height="854">
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-white u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-variant u-text-1"> lureandbaitshop.com 2024</p>
      </div>
    </footer>
  </body>
</html>