<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Trail Guides Pro",
        "logo": "/public/images/Trailguidespro.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-e2f5">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="645" data-image-height="733" title="Home">
          <img src="/public/images/Trailguidespro.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-raleway" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-2 u-text-custom-color-2 u-text-hover-custom-color-2 u-white" href="#" style="background-image: none;">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-raleway u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-black" href="/" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-black" href="/#carousel_4c49" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-black" href="/#carousel_a1f0" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-black" href="/#sec-2157" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-black" href="/#carousel-b3d1" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-grey-90 u-text-black u-text-hover-black" href="/#carousel_97e6" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_4c49">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_a1f0">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-2157">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel-b3d1">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_97e6">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-custom-color-2 u-section-1" id="sec-ad91">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-playfair-display u-text u-text-default u-text-1">Privacy Policy</h3>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-section-2" id="sec-fd6d">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-align-center-xs u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Introduction</span>
          </p>
          <p>This Privacy Policy outlines how Trail Guides Pro collects, uses, discloses, and protects your personal information when you visit our website or use our services. We are committed to safeguarding your privacy and ensuring that your personal information is handled responsibly. By accessing our website and services, you consent to the practices described in this policy.</p>
          <p>
            <span style="font-weight: 700;">Information We Collect</span>
          </p>
          <p>We may collect personal information that you provide to us directly, such as when you create an account, book a trip, or contact us for inquiries. This information may include your name, email address, phone number, and payment details. We may also collect non-personal information automatically through cookies and tracking technologies, which help us understand how you interact with our website.</p>
          <p>
            <span style="font-weight: 700;">How We Use Your Information</span>
          </p>
          <p>The information we collect is used to provide you with the services you request, process transactions, communicate with you about your bookings, and improve our website and services. We may also use your information to send you promotional materials and updates about our offerings if you have opted to receive such communications.</p>
          <p>
            <span style="font-weight: 700;">Sharing Your Information</span>
          </p>
          <p>We do not sell or rent your personal information to third parties. However, we may share your information with trusted service providers who assist us in delivering our services, such as payment processors, customer support, and marketing partners. These third parties are contractually obligated to protect your information and only use it for the purposes specified by us.</p>
          <p>
            <span style="font-weight: 700;">Data Security</span>
          </p>
          <p>We take the security of your personal information seriously and implement appropriate measures to protect it from unauthorized access, alteration, disclosure, or destruction. These measures include encryption, firewalls, and secure server technology. While we strive to protect your information, no method of transmission over the Internet or electronic storage is 100% secure.</p>
          <p>
            <span style="font-weight: 700;">Your Rights</span>
          </p>
          <p>You have the right to access, correct, or delete your personal information held by us. If you wish to exercise these rights, please contact us using the information provided below. You may also opt out of receiving marketing communications from us at any time by following the unsubscribe instructions included in our emails.</p>
          <p>
            <span style="font-weight: 700;">Cookies and Tracking Technologies</span>
          </p>
          <p>Our website uses cookies and similar technologies to enhance your experience. Cookies are small text files stored on your device that help us understand how you interact with our site. You can choose to accept or decline cookies through your browser settings. However, declining cookies may affect your ability to use certain features of our website.</p>
          <p>
            <span style="font-weight: 700;">Changes to This Privacy Policy</span>
          </p>
          <p>We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. Any changes will be posted on this page with the date of the last revision. We encourage you to review this policy periodically to stay informed about how we protect your information.</p>
        </div>
      </div>
    </section>
    <footer class="u-border-1 u-border-no-bottom u-border-no-left u-border-no-right u-border-white u-clearfix u-footer u-palette-1-dark-2" id="sec-3d14">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="645" data-image-height="733" title="Home">
          <img src="/public/images/Trailguidespro.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-align-center-xs u-custom-font u-font-raleway u-text u-text-default u-text-1">
          <a href="/privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="/cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="/terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>