<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="icon" href="/public/images/travel-bag_3762066.webp">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "globetrothq",
        "url": "/",
        "logo": "/public/images/travel-bag_3762066.webp"
      }
    </script>
    <meta name="theme-color" content="#29b7dd">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=48ed3ffe-d736-f761-c9c6-78eba289738d" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-743a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="512" data-image-height="512">
          <img src="/public/images/travel-bag_3762066.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_7a94" style="padding: 10px 20px;">Our Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_3f86" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_7d4b" style="padding: 10px 20px;">Top Destination</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="./#carousel_7a8d" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_7a94">Our Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_3f86">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_7d4b">Top Destination</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_7a8d">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-palette-2-base u-section-1" id="carousel_3e8e">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-left-cell u-shape-rectangle u-size-27 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-text u-text-body-alt-color u-text-1">Welcome to Globe Trothq </h1>
                  <p class="u-text u-text-body-alt-color u-text-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum </p>
                  <a href="./#carousel_7a94" class="u-active-palette-4-base u-btn u-btn-round u-button-style u-custom-font u-font-raleway u-hover-palette-4-base u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">read more</a>
                </div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-right-cell u-size-33 u-image-1" data-image-width="1280" data-image-height="855">
                <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-white u-section-2" id="carousel_7a94">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1">Our Services </h2>
        <p class="u-text u-text-2">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
        <img alt="" class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-image u-image-default u-image-1" src="/public/images/photo-1674719645138-c3fd1aaf8307.webp" data-image-width="1280" data-image-height="853">
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-1-base u-repeater-item u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1"><span class="u-file-icon u-icon u-text-white u-icon-1"><img src="/public/images/1350120-9539d71b.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-3">Flight Bookings </h4>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-3-light-1 u-repeater-item u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2"><span class="u-file-icon u-icon u-text-white u-icon-2"><img src="/public/images/7077591-f2821a48.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-4">Accommodation Options </h4>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-custom-item u-list-item u-palette-3-base u-repeater-item u-shape-rectangle">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3"><span class="u-file-icon u-icon u-text-white u-icon-3"><img src="/public/images/1585574-8b64662b.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-5">Travel Insurance </h4>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-2-light-1 u-repeater-item u-shape-rectangle u-list-item-4">
              <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4"><span class="u-file-icon u-icon u-text-white u-icon-4"><img src="/public/images/8998207-a5483e7e.webp" alt=""></span>
                <h4 class="u-align-center u-text u-text-6">Travel Equipments </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-palette-2-base u-section-3" id="carousel_3f86">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h2 class="u-text u-text-1">About Us </h2>
                  <img src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w1NzgzNjl8MHwxfHNlYXJjaHwzfHx0cmF2ZWx8ZW58MHx8fHwxNzI4NjI0ODc3fDA&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080" alt="" class="u-expanded-width u-image u-image-default u-image-1" data-image-width="1280" data-image-height="905">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <p class="u-text u-text-2">Welcome to Extreme Travel Guide! We are a passionate team of adventurers, explorers, and travel enthusiasts dedicated to uncovering the world’s most thrilling experiences. Our mission is to inspire and equip you to embark on your own extreme adventures, whether it's conquering a towering peak, diving into vibrant oceans, or navigating remote wilderness. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center-xs u-clearfix u-section-4" src="" id="carousel_46bf">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-expanded-width-md u-image u-image-contain u-image-1" src="/public/images/photo-1522199710521-72d69614c702.webp" data-image-width="1280" data-image-height="852">
        <div class="u-align-center-md u-align-center-sm u-align-center-xs u-border-no-bottom u-border-no-left u-border-no-right u-border-no-top u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <p class="u-large-text u-text u-text-variant u-text-1">Are you ready to break free from the ordinary and embark on unforgettable adventures? Our site is your ultimate resource for exploring the world's most thrilling destinations and heart-pounding activities. From skydiving over breathtaking landscapes to scaling towering peaks, we bring you the best in extreme travel. </p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-2-base u-section-5" id="carousel_5a01">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <div class="u-align-left u-palette-3-base u-shape u-shape-1"></div>
        <div class="u-container-style u-group u-image u-image-tiles u-image-1" data-image-width="500" data-image-height="375">
          <div class="u-container-layout u-container-layout-1"></div>
        </div>
        <img src="/public/images/photo-1502489597346-dad15683d4c2.webp" class="u-align-left u-image u-image-2" data-image-width="1280" data-image-height="960">
        <div class="u-container-align-left u-container-style u-group u-white u-group-2">
          <div class="u-container-layout u-valign-middle u-container-layout-2">
            <p class="u-align-left u-text u-text-1">At Extreme Travel Guide, we curate a selection of thrilling destinations that promise unforgettable experiences for every adventure seeker. Each location is carefully chosen for its breathtaking landscapes, exhilarating activities, and rich culture. </p>
            <a href="./#carousel_7d4b" class="u-active-palette-4-base u-align-left u-btn u-btn-round u-button-style u-custom-font u-font-raleway u-hover-palette-4-base u-palette-1-base u-radius-50 u-text-body-alt-color u-btn-1">read more</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-white u-section-6" id="carousel_7d4b">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xs u-sheet-1">
        <h2 class="u-align-center u-text u-text-default u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500">Top Destinations </h2>
        <p class="u-align-center u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-palette-1-base u-shape u-shape-rectangle u-shape-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500"></div>
        <div class="u-gallery u-layout-grid u-lightbox u-no-transition u-show-text-always u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/d3fc8f8ca4552ac1b40b2511cbc5c628fbb7d03a3a325937a97de6bd84b74ac5dfbc1c589170b05231e7281d1e4de1780da21e98186288d6b422a4_1280.webp" alt="Denmark">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading">Denmark</h3>
              </div>
            </div>
            <div class="u-gallery-item">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/b0c29ecb7c9fc3c0f4f1fbded1f1eb23909bb5cb8d83b6e5f43a823815bdd8e3c357896cb6f8be0b008acdd67bfc6dce3b37e2df2e76a5f66274a9_1280.webp" alt="Spain">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading">Spain</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="1380" data-image-height="920">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/04323e1334d2cf17ebad963db053cee22ce990de999e438c39880708c915b03b05d60b353bd9d6d7def7364dca544736f3fbb0b683eaf81563f17b_1280.webp" alt="Germany">
              </div>
              <div class="u-over-slide u-shading u-over-slide-3">
                <h3 class="u-gallery-heading">Germany</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="1380" data-image-height="920">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/fec661e8ae589c9e6e4c4265fba694ebff429e078f6be1998ec48d89e838c17c436e44d7fdca652b4ee9d9e677711a336db97e5a156400faea278a_1280.webp" alt="Belgium">
              </div>
              <div class="u-over-slide u-shading u-over-slide-4">
                <h3 class="u-gallery-heading">Belgium</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="1380" data-image-height="920">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/40dfc45bcb893a9b46027b5f193339fd13254c2f302d846bac21158f84104a2b4b0ff65e966489cf6590fe2183d8888c59eb4ee7368b69a23b633e_1280.webp" alt="Bali">
              </div>
              <div class="u-over-slide u-shading u-over-slide-5">
                <h3 class="u-gallery-heading">Bali</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="1000" data-image-height="667">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/10c40ba9c7de343de81a45ec3d8148d2d338616eac247bbc2cf90ad6805153e556576848ab738690210fc78c242e4e45af90cf2a5d347aa7d4ba7f_1280.webp" alt="London">
              </div>
              <div class="u-over-slide u-shading u-over-slide-6">
                <h3 class="u-gallery-heading">London</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="1380" data-image-height="920">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/f826980e736cfe5e629572e4b0f55a1621cbfba1bb4b05e16480fa28b87d57e154730f6d06068f042d277585650a559b57c6bdc47a70daf2c7a09e_1280.webp" alt="Greece">
              </div>
              <div class="u-over-slide u-shading u-over-slide-7">
                <h3 class="u-gallery-heading">Greece</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="740" data-image-height="925">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/b115e93536f326b187d6839b52da224d091499161b9239fc6d2b4068becacb2c265ac95e2952a4e7ac5288b3153a34fd9bbd5ed098a6074f21bca2_1280.webp" alt="Turkey">
              </div>
              <div class="u-over-slide u-shading u-over-slide-8">
                <h3 class="u-gallery-heading">Turkey</h3>
              </div>
            </div>
            <div class="u-gallery-item" data-image-width="740" data-image-height="1110">
              <div class="u-back-slide">
                <img class="u-back-image u-expanded" src="/public/images/473402df2c1183822af71b91bf2b99377cbc9ffa3a48d3cd8e5857d246f590f9a121ce4148fb083e656ea36dc9b04041bc5ab9074ac08a19a4fbf7_1280.webp" alt="Japan">
              </div>
              <div class="u-over-slide u-shading u-over-slide-9">
                <h3 class="u-gallery-heading">Japan</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-2-base u-section-7" id="carousel_7a8d">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-text u-text-1">Get in Touch!<br>
        </h1>
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-6797" class="u-label">Name</label>
              <input type="text" placeholder="Name" id="name-6797" name="name" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-6797" class="u-label">Email</label>
              <input type="email" placeholder="Email" id="email-6797" name="email" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-group u-form-message u-label-none">
              <label for="message-6797" class="u-label">Address</label>
              <textarea placeholder="Address" rows="4" cols="50" id="message-6797" name="message" class="u-input u-input-rectangle" required=""></textarea>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
            <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="4e35d415-3769-dac7-0b54-d66597c4c340">
          </form>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-black u-clearfix u-container-align-center u-footer u-footer" id="sec-dc9f">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">All Rights Reserved - Globe Trothq </p>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-b5d3"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-b5d3" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled">
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">Terms and Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </footer>
  </body>
</html>