<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Cookies Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/cookies-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Adventure Pro Guides",
        "logo": "/public/images/AdventureProGuides.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Cookies Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-4b0e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="766" data-image-height="978" title="Home">
          <img src="/public/images/AdventureProGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-playfair-display" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-4 u-text-custom-color-2 u-text-hover-custom-color-3 u-white" href="#" style="background-image: none;">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-playfair-display u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_f851" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_4888" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#sec-0649" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#sec-47a6" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_217c" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_f851">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_4888">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-0649">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-47a6">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_217c">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-custom-color-5 u-section-1" id="sec-1255">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-playfair-display u-text u-text-default u-text-1">Cookies Policy<span style="font-weight: 700;"></span>
        </h3>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-section-2" id="sec-16c4">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="fr-view u-align-center-xs u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Introduction</span>
          </p>
          <p>This Cookies Policy explains how we use cookies and similar technologies to recognize you when you visit our website. It provides information about what these technologies are, why we use them, and your rights to control our use of cookies. By continuing to browse our website, you agree to the use of cookies as described in this policy.</p>
          <p>
            <span style="font-weight: 700;">What Are Cookies</span>
          </p>
          <p>Cookies are small text files that are placed on your device when you visit a website. They are widely used by website owners to make their websites work, improve efficiency, and provide reporting information. Cookies help us enhance your experience by remembering your preferences and enabling certain functionalities.</p>
          <p>
            <span style="font-weight: 700;">How We Use Cookies</span>
          </p>
          <p>We use cookies to improve your experience on our website, including remembering your login information, optimizing site performance, and delivering personalized content based on your interactions with our services. Cookies also help us track how users interact with our website, which enables us to improve our site structure and content.</p>
          <p>Essential cookies are necessary for the basic functioning of our website, while performance cookies collect information on how users interact with our site to help improve the user experience. Functionality cookies allow us to remember your preferences and provide enhanced features. Additionally, targeting cookies are used to deliver relevant advertising based on your browsing habits.</p>
          <p>
            <span style="font-weight: 700;">Third-Party Cookies</span>
          </p>
          <p>In some cases, we work with third-party service providers who use cookies on our site to help us understand how visitors use our services or to deliver advertising. These third parties may also use cookies to track your online behavior and show you advertisements that are relevant to you.</p>
          <p>We do not control the use of these third-party cookies and encourage you to review their privacy and cookie policies for more information.</p>
          <p>
            <span style="font-weight: 700;">Managing Cookies</span>
          </p>
          <p>You have the right to control and manage your cookie preferences. Most browsers allow you to refuse or accept cookies through their settings. You can also delete cookies that have already been placed on your device. However, please be aware that disabling or deleting certain cookies may impact the functionality of our website and limit your ability to use some features.</p>
          <p>
            <span style="font-weight: 700;">How Long Do Cookies Last</span>
          </p>
          <p>Cookies can remain on your device for different periods depending on their purpose. Some cookies are session-based and will be deleted when you close your browser, while others are persistent cookies that remain on your device until they expire or you manually delete them.</p>
          <p>
            <span style="font-weight: 700;">Changes to This Cookies Policy</span>
          </p>
          <p>We may update this Cookies Policy from time to time to reflect changes in the law or our use of cookies. Any changes will be posted on this page with the date of the last revision. We encourage you to review this policy regularly to stay informed about our use of cookies.</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-footer u-grey-10" id="sec-c231">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="766" data-image-height="978" title="Lostin wander">
          <img src="/public/images/AdventureProGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-font-playfair-display u-text u-text-default u-text-1">
          <a href="/privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="/cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="/terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>