<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Privacy Policy</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/privacy-policy.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Adventure Pro Guides",
        "logo": "/public/images/AdventureProGuides.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Privacy Policy">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-4b0e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="766" data-image-height="978" title="Home">
          <img src="/public/images/AdventureProGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-playfair-display" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-4 u-text-custom-color-2 u-text-hover-custom-color-3 u-white" href="#" style="background-image: none;">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-playfair-display u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_f851" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_4888" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#sec-0649" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#sec-47a6" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_217c" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_f851">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_4888">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-0649">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-47a6">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_217c">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-custom-color-5 u-section-1" id="sec-c305">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-playfair-display u-text u-text-default u-text-1">Privacy Policy</h3>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-section-2" id="sec-7b61">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="fr-view u-align-center-xs u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Introduction</span>
          </p>
          <p>We are committed to protecting your personal information and your right to privacy. This Privacy Policy explains how we collect, use, disclose, and safeguard your data when you visit our website or use our services. Please take a moment to read this policy carefully to understand our practices regarding your personal information.</p>
          <p>
            <span style="font-weight: 700;">Information We Collect</span>
          </p>
          <p>We collect information you provide to us directly when you interact with our website, such as when you sign up for an account, make a purchase, or contact us for support. This may include your name, email address, phone number, payment information, and any other information you choose to provide.</p>
          <p>We may also automatically collect certain information when you visit our site, including your IP address, browser type, operating system, and browsing behavior. This information helps us analyze site traffic and improve your user experience.</p>
          <p>
            <span style="font-weight: 700;">How We Use Your Information</span>
          </p>
          <p>We use the information we collect to provide, maintain, and improve our services. This includes processing transactions, responding to customer inquiries, personalizing your experience, and sending you important updates related to our services.</p>
          <p>We may also use your information to communicate with you about new features, promotions, and offers that may be of interest. You can opt out of these communications at any time.</p>
          <p>
            <span style="font-weight: 700;">Sharing Your Information</span>
          </p>
          <p>We do not sell or rent your personal information to third parties. However, we may share your information with trusted partners and service providers who assist us in operating our website, conducting our business, or servicing you. These third parties are required to maintain the confidentiality of your information and are prohibited from using it for any purpose other than providing services on our behalf.</p>
          <p>In certain situations, we may also be required to share your information to comply with legal obligations, protect our rights, or respond to lawful requests from public authorities.</p>
          <p>
            <span style="font-weight: 700;">Data Security</span>
          </p>
          <p>We take appropriate security measures to protect your personal information from unauthorized access, alteration, disclosure, or destruction. Despite these efforts, please be aware that no method of transmission over the internet or electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your data, we cannot guarantee absolute security.</p>
          <p>
            <span style="font-weight: 700;">Your Data Rights</span>
          </p>
          <p>You have the right to access, update, or delete the personal information we hold about you. If you would like to exercise these rights, please contact us through the details provided below. We will respond to your request in a timely manner and ensure your data is handled according to your preferences.</p>
          <p>
            <span style="font-weight: 700;">Cookies and Tracking Technologies</span>
          </p>
          <p>Our website may use cookies and similar tracking technologies to enhance your browsing experience. Cookies are small text files stored on your device that allow us to remember your preferences and provide personalized content. You can manage your cookie preferences through your browser settings, though disabling cookies may limit your ability to use certain features of our site.</p>
          <p>
            <span style="font-weight: 700;">Changes to This Privacy Policy</span>
          </p>
          <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be posted on this page with an updated revision date. We encourage you to review this policy periodically to stay informed about how we protect your information.</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-footer u-grey-10" id="sec-c231">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="766" data-image-height="978" title="Lostin wander">
          <img src="/public/images/AdventureProGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-font-playfair-display u-text u-text-default u-text-1">
          <a href="/privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="/cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="/terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>