<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Adventure Pro Guides",
        "logo": "/public/images/AdventureProGuides.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and Conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-4b0e">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="766" data-image-height="978" title="Home">
          <img src="/public/images/AdventureProGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-menu-open-right u-offcanvas u-menu-1">
          <div class="menu-collapse u-custom-font u-font-playfair-display" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-custom-color-4 u-text-custom-color-2 u-text-hover-custom-color-3 u-white" href="#" style="background-image: none;">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-custom-font u-font-playfair-display u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_f851" style="padding: 10px 20px;">About</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_4888" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#sec-0649" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#sec-47a6" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-black u-text-hover-black" href="/#carousel_217c" style="padding: 10px 20px;">Contact</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_f851">About</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_4888">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-0649">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-47a6">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_217c">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-custom-color-5 u-section-1" id="sec-684c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-center u-custom-font u-font-playfair-display u-text u-text-default u-text-1">Terms &amp; Conditions</h3>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-section-2" id="sec-e93f">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <div class="fr-view u-align-center-xs u-clearfix u-rich-text u-text u-text-1">
          <p id="isPasted">
            <span style="font-weight: 700;">Introduction</span>
          </p>
          <p>These Terms and Conditions outline the rules and regulations for the use of our website and services. By accessing this website and using our services, you accept these terms in full. If you do not agree with these terms, you must refrain from using our website or services.</p>
          <p>
            <span style="font-weight: 700;">Use of the Website</span>
          </p>
          <p>You agree to use our website only for lawful purposes and in a way that does not infringe the rights of, restrict, or inhibit anyone else's use of the website. Prohibited behavior includes harassing or causing distress to other users, transmitting obscene or offensive content, or disrupting the normal flow of dialogue within our services.</p>
          <p>Access to certain areas of our website may be restricted, and we reserve the right to further restrict access at our discretion. If you are provided with a user ID and password to access restricted areas, you must ensure that both your user ID and password are kept confidential.</p>
          <p>
            <span style="font-weight: 700;">Intellectual Property Rights</span>
          </p>
          <p>Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material published on it. All intellectual property rights are reserved. You may view, download, or print pages from the website for personal use, but you must not republish material from this site without proper authorization.</p>
          <p>Any content you submit to the site, including feedback, suggestions, or other contributions, may be used by us without any obligation of compensation to you. By submitting content, you also affirm that you own the rights to that content.</p>
          <p>
            <span style="font-weight: 700;">Limitations of Liability</span>
          </p>
          <p>We are not liable for any damages that arise out of or in connection with your use of our website. This includes, without limitation, any direct, indirect, incidental, or consequential damages, loss of data, or any other losses, even if we have been advised of the possibility of such damages.</p>
          <p>We make no guarantees or warranties about the accuracy, completeness, or reliability of the content on this site. You acknowledge that your use of the website is at your own risk.</p>
          <p>
            <span style="font-weight: 700;">User Accounts</span>
          </p>
          <p>If you create an account with us, you are responsible for maintaining the confidentiality of your account information, including your password, and for all activities that occur under your account. We reserve the right to terminate accounts, remove or edit content, or cancel orders at our sole discretion if we believe there has been a violation of these terms.</p>
          <p>You must ensure that the information you provide when creating an account is accurate and up-to-date. If we suspect any false or misleading information has been provided, we reserve the right to suspend or terminate your account without notice.</p>
          <p>
            <span style="font-weight: 700;">Termination</span>
          </p>
          <p>We reserve the right to terminate your access to our website and services at any time, without notice, for any reason, including but not limited to a breach of these Terms and Conditions. Upon termination, you must cease all use of the website and destroy any materials obtained from it.</p>
          <p>
            <span style="font-weight: 700;">Governing Law</span>
          </p>
          <p>These Terms and Conditions are governed by and construed in accordance with the laws of [Your Jurisdiction]. Any disputes relating to these terms will be subject to the exclusive jurisdiction of the courts in that region.</p>
          <p>
            <span style="font-weight: 700;">Changes to Terms and Conditions</span>
          </p>
          <p>We reserve the right to modify these Terms and Conditions at any time. Any changes will be posted on this page, with an updated date of revision. You are encouraged to review these terms regularly to stay informed of any updates. Your continued use of the website following any changes will constitute acceptance of the updated terms.</p>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-footer u-grey-10" id="sec-c231">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="766" data-image-height="978" title="Lostin wander">
          <img src="/public/images/AdventureProGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-custom-font u-font-playfair-display u-text u-text-default u-text-1">
          <a href="/privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="/cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-black u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="/terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>