<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Home</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Oswald:200,300,400,500,600,700|Roboto+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spintowinpalace",
        "url": "/",
        "logo": "/public/images/livingunplugged8.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/home?version=c6fbc3bb-e31b-780e-5484-a305936d111b" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-stick-footer u-xxl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-sticky u-sticky-685b" id="sec-6468" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Page 2">
          <img src="/public/images/livingunplugged8.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-position="Header">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./" style="padding: 0px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_60de" style="padding: 0px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_10c1" style="padding: 0px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_e384" style="padding: 0px 20px;">Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_5618" style="padding: 0px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_18f8" style="padding: 0px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_60de">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_10c1">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_e384">Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5618">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_18f8">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-align-left u-clearfix u-container-align-left u-container-align-right u-palette-3-light-2 u-valign-middle u-section-1" id="sec-5538">
      <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-size-23-xl u-size-31-lg u-size-60-md u-size-60-sm u-size-60-xs u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <h1 class="u-align-left u-text u-text-1"> Welcome to ​​Spin to Win Palace</h1>
                <p class="u-align-left u-text u-text-grey-90 u-text-2"> Your ultimate guide to gorgeous destinations across the globe.<br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-size-29-lg u-size-37-xl u-size-60-md u-size-60-sm u-size-60-xs u-image-1" data-image-width="1280" data-image-height="850">
              <div class="u-container-layout u-valign-bottom u-container-layout-2"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-palette-3-light-2 u-valign-middle-sm u-valign-middle-xl u-section-2" id="carousel_60de">
      <img class="u-expanded-height u-image u-image-1" src="/public/images/ddddddddd-min.webp" data-image-width="1980" data-image-height="1320">
      <div class="data-layout-selected u-clearfix u-gutter-24 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-2" src="" data-image-width="1280" data-image-height="854">
              <div class="u-border-4 u-border-white u-container-layout u-valign-middle u-container-layout-1" src=""></div>
            </div>
            <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2" src="">
              <div class="u-container-layout u-container-layout-2">
                <h2 class="u-align-center u-custom-font u-font-montserrat u-text u-text-1"> About Us</h2>
                <p class="u-align-center u-text u-text-2"> At Spin to Win Palace, we enhance your travel by connecting you with top-tier hotels that offer luxurious services. We carefully curate our partners to ensure they meet high standards of comfort and excellence, featuring amenities like indulgent spas, beautiful pools, and gourmet dining. Whether you’re after a peaceful retreat, an adventurous escape, or a romantic getaway, our travel guide provides personalized recommendations to help you choose the perfect hotel. Our dedication to exceptional customer service is unwavering.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-3-light-2 u-section-3" id="carousel_10c1">
      <div class="u-container-style u-expanded-width u-group u-image u-shading u-image-1" data-image-width="1280" data-image-height="853">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-1">Our Services</h2>
        </div>
      </div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-border-2 u-border-grey-10 u-container-align-center u-container-style u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-icon-1"><img src="/public/images/4614269.webp" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-hover-feature u-text u-text-2"> Gaming Lounges</h4>
              <p class="u-hover-feature u-text u-text-3"> Experience the ultimate gaming destination at our state-of-the-art casinos, featuring a diverse array of table games, slot machines, poker rooms, and sports betting areas.</p>
            </div>
          </div>
          <div class="u-align-center u-border-2 u-border-grey-10 u-container-align-center u-container-style u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-icon-2"><img src="/public/images/2371505.webp" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-hover-feature u-text u-text-4"> Poolside Retreats and Cabanas </h4>
              <p class="u-hover-feature u-text u-text-5"> Unwind and bask in the sun by our stunning outdoor pools, featuring heated pools for year-round comfort and luxurious poolside cabanas equipped with plush loungers, umbrellas,</p>
            </div>
          </div>
          <div class="u-align-center u-border-2 u-border-grey-10 u-container-align-center u-container-style u-hover-feature u-list-item u-radius u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
            <div class="u-container-layout u-similar-container u-container-layout-4"><span class="u-file-icon u-icon u-icon-3"><img src="/public/images/7185731.webp" alt=""></span>
              <h4 class="u-custom-font u-font-roboto-condensed u-hover-feature u-text u-text-6"> Concert Halls</h4>
              <p class="u-hover-feature u-text u-text-7"> Live entertainment venues, concert halls, theatres, and nightclubs hosting performances, concerts, shows, and events featuring world-renowned artists and entertainers.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-gradient u-section-4" id="carousel_e384">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h1 class="u-align-center u-custom-font u-font-oswald u-text u-text-body-alt-color u-text-default u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Explore Our Resorts</h1>
        <p class="u-align-center u-text u-text-body-alt-color u-text-2"> Choose Your Dream Location And Book Your Next Holiday Today!</p>
        <div class="data-layout-selected u-align-center-xs u-clearfix u-disable-padding u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-col">
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-layout-cell u-size-30 u-white u-layout-cell-1">
                    <div class="u-border-1 u-border-grey-light-1 u-container-layout u-padding-6 u-container-layout-1">
                      <img class="u-expanded-width-xxl u-image u-image-1" src="/public/images/b7cb27d2a8da14717a0b180b54e3d594ceba50878c9c18ba96d2dd025f6b29dd555e04292c057f71b94eb1602c1766327e181f6404e34661b70cee_1280.webp" data-image-width="1280" data-image-height="717">
                      <h5 class="u-align-center u-text u-text-default u-text-3"> Hotel Villa Elsa</h5>
                      <p class="u-align-center u-text u-text-grey-dark-1 u-text-4"> Hotel in Bad Kissingen with full-service spa and casino</p>
                      <a href="https://www.expedia.com/Bad-Kissingen-Hotels-Hotel-Villa-Elsa.h45536870.Hotel-Information" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius u-btn-1" target="_blank">Book Now </a>
                    </div>
                  </div>
                  <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-2">
                    <div class="u-border-1 u-border-grey-light-1 u-container-layout u-padding-6 u-container-layout-2">
                      <img class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-expanded-width-xxl u-image u-image-2" src="/public/images/4d610490d64044fe6432895af040fbc947176b3867171b38505f21243b26de295921aa45da2fa12c8c3ace22a40ee5dcbb9658ca03a3a147f9b5de_1280.webp" data-image-width="1280" data-image-height="730">
                      <h5 class="u-align-center u-text u-text-5" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction=""> Hotel Casino Chaves</h5>
                      <p class="u-align-center u-text u-text-grey-dark-1 u-text-6"> Located in Chaves, Hotel Casino Chaves is in a regional park.</p>
                      <a href="https://www.expedia.com/Chaves-Hotels-Hotel-Casino-Chaves.h2202788.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius u-btn-2" target="_blank">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-align-center u-container-align-center-xxl u-container-style u-layout-cell u-size-30 u-white u-layout-cell-3">
                    <div class="u-border-1 u-border-grey-light-1 u-container-layout u-padding-6 u-container-layout-3">
                      <img class="custom-expanded u-expanded-width-lg u-expanded-width-xl u-image u-image-3" src="/public/images/003cde3b9e2f1f1d4325b7e470c679b6369f001ed72f362a66ca53e30146df8deaca7c37db990d85382746fe12b38f409505316f35dee6b0223d8c_1280.webp" alt="" data-image-width="1280" data-image-height="717" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
                      <h5 class="u-align-center u-text u-text-7"> Atlantis Casino Resort Spa</h5>
                      <p class="u-align-center u-text u-text-grey-dark-1 u-text-8"> Atlantis Casino Resort Spa is honored to be a recipient of the AAA Four Diamond Award, as well as Forbes Travel Guide Recommended for the past 9 years.</p>
                      <a href="https://www.expedia.com/Reno-Hotels-Atlantis-Casino-Resort-Spa.h15566.Hotel-Information" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius u-btn-3" target="_blank">Book Now</a>
                    </div>
                  </div>
                  <div class="u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-layout-cell u-size-30 u-white u-layout-cell-4">
                    <div class="u-border-1 u-border-grey-light-1 u-container-layout u-padding-6 u-container-layout-4">
                      <img class="u-image u-image-default u-image-4" src="/public/images/6320c323b49d3ab3e4e612499a5cebda16df8fb1f013b9933d2e15ba429513e0df6058b8971ffab7281880b3531829a2e502e2a5c024049fc73e2a_1280.webp" alt="" data-image-width="1280" data-image-height="851">
                      <h5 class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-9"> Nemacolin</h5>
                      <p class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-text u-text-grey-dark-1 u-text-10"> Nemacolin is located in Farmington. Spend some time exploring the area's activities, including skiing.</p>
                      <a href="https://www.expedia.com/Uniontown-Hotels-Nemacolin.h856941.Hotel-Information" class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-center-xs u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius u-btn-4" target="_blank">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-sm u-container-align-center-xl u-container-align-center-xxl u-container-style u-layout-cell u-size-30 u-white u-layout-cell-5">
                    <div class="u-border-1 u-border-grey-light-1 u-container-layout u-padding-6 u-container-layout-5">
                      <img class="u-expanded-width-xxl u-image u-image-default u-image-5" src="/public/images/408ad4ae3ee9200ecbc7c938970949579c2feb718d387f3ae62b93691dbf66bc83c265b671c3ecbb99fde4c7aee7842149eb6425875a1d0c4038e4_1280.webp" alt="" data-image-width="1280" data-image-height="816">
                      <h5 class="u-align-center u-text u-text-11"> Bel Reve Hotel</h5>
                      <p class="u-align-center u-text u-text-grey-dark-1 u-text-12"> Located near the beach, Bel Reve Hotel is in Blackpool Town Center.</p>
                      <a href="https://www.expedia.co.uk/Blackpool-Hotels-Bel-Reve-Hotel.h75618134.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius u-btn-5" target="_blank">Book Now</a>
                    </div>
                  </div>
                  <div class="u-align-center u-container-align-center u-container-style u-layout-cell u-size-30 u-white u-layout-cell-6">
                    <div class="u-border-1 u-border-grey-light-1 u-container-layout u-padding-6 u-container-layout-6">
                      <img class="u-align-center u-expanded-width-lg u-expanded-width-xl u-image u-image-default u-image-6" src="/public/images/614cd1f2d15209a987f523489f6879ecccf033d09f2a9da12dcbecdd4cf75dde6343888b94fec0b25feaa7ec46add762b2107281038ef6ccd19916_1280.webp" alt="" data-image-width="1280" data-image-height="853">
                      <h5 class="u-align-center u-text u-text-13"> Club Hotel Casino Loutraki</h5>
                      <p class="u-align-center u-text u-text-grey-dark-1 u-text-14"> Hotel with private beach, full-service spa</p>
                      <a href="https://www.expedia.com/Loutraki-Agioi-Theodoroi-Hotels-Club-Hotel-Casino-Loutraki.h985059.Hotel-Information" class="u-align-center u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-3-light-2 u-radius u-btn-6" target="_blank">Book Now</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-container-align-center-lg u-container-align-center-md u-container-align-center-xl u-palette-3-light-2 u-section-5" id="carousel_5618">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-font-oswald u-text u-text-default u-text-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">Testimonials</h2>
        <div class="u-expanded-width-sm u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-border-2 u-border-grey-75 u-container-align-left u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <div class="custom-expanded u-container-align-center-lg u-container-align-center-xl u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-group u-shape-rectangle u-group-1">
                  <div class="u-container-layout u-valign-top">
                    <h3 class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-text u-text-black u-text-default u-text-font u-text-2">1</h3>
                  </div>
                </div>
                <h4 class="u-text u-text-3"> Sarah </h4>
                <p class="u-text u-text-4"> Our stay was nothing short of spectacular! From the moment we arrived, we were greeted with warm smiles and exceptional service. The rooms were pristine, the views breathtaking, and the amenities first-class. Whether lounging by the pool or enjoying a meal at the restaurant, every aspect of our stay exceeded expectations. We'll definitely be returning!<br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-border-2 u-border-grey-75 u-container-align-left u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <div class="custom-expanded u-container-align-center-lg u-container-align-center-xl u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-group u-shape-rectangle u-group-2">
                  <div class="u-container-layout u-valign-top">
                    <h3 class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-text u-text-black u-text-default u-text-font u-text-5">2</h3>
                  </div>
                </div>
                <h4 class="u-text u-text-6"> Liam</h4>
                <p class="u-text u-text-7"> This place truly felt like a slice of paradise! The location was perfect – nestled in nature but still close to all the attractions. The staff went above and beyond to ensure our stay was comfortable, and the spa treatments were the perfect touch of relaxation. If you’re looking for a luxury escape, this is the place to be!</p>
              </div>
            </div>
            <div class="u-align-left u-border-2 u-border-grey-75 u-container-align-left u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-5">
                <div class="custom-expanded u-container-align-center-lg u-container-align-center-xl u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-group u-shape-rectangle u-group-3">
                  <div class="u-container-layout u-valign-top">
                    <h3 class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-text u-text-black u-text-default u-text-font u-text-8">5</h3>
                  </div>
                </div>
                <h4 class="u-text u-text-9"> Emily</h4>
                <p class="u-text u-text-10"> We had the most amazing family vacation. The kids’ club kept our little ones entertained while we enjoyed some much-needed downtime by the beach. The resort was beautiful, and the activities available made sure everyone had something to do. We felt so welcomed and cared for – a truly wonderful experience!</p>
              </div>
            </div>
            <div class="u-align-left u-border-2 u-border-grey-75 u-container-align-left u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-7">
                <div class="custom-expanded u-container-align-center-lg u-container-align-center-xl u-container-align-left-md u-container-align-left-sm u-container-align-left-xs u-container-style u-group u-shape-rectangle u-group-4">
                  <div class="u-container-layout u-valign-top">
                    <h3 class="u-align-center-lg u-align-center-xl u-align-left-md u-align-left-sm u-align-left-xs u-custom-font u-text u-text-black u-text-default u-text-font u-text-11">4</h3>
                  </div>
                </div>
                <h4 class="u-text u-text-12"> Marcus</h4>
                <p class="u-text u-text-13"> This is the epitome of luxury. Every detail is thought out to ensure maximum comfort, from the plush bedding to the exquisite dining options. The views from our room were incredible, and the service was attentive without being overbearing. We left feeling rejuvenated and can’t wait to return.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-gradient u-section-6" id="carousel_18f8">
      <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
        <img class="u-image u-image-contain u-image-default u-image-1" src="/public/images/36496528_bell_notice_alert_new_event_information_sign_or_symbol_website_icon_3d_illustration.webp" alt="" data-image-width="1914" data-image-height="1638">
        <h2 class="u-align-center u-text u-text-default u-text-1">Contact Us</h2>
        <h5 class="u-align-center u-text u-text-2">Email </h5>
        <p class="u-align-center u-text u-text-3">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="#">Info@spintowinpalace.com</a>
        </p>
      </div>
    </section>
    <footer class="u-black u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-footer" id="sec-0a57">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <a href="./" class="u-align-center-md u-align-center-sm u-align-center-xs u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Home">
          <img src="/public/images/livingunplugged8.webp" class="u-logo-image u-logo-image-1">
        </a>
        <a href="privacy-policy" class="u-active-none u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-white u-btn-1"> Privacy Policy</a>
        <a href="terms-and-conditions" class="u-active-none u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2"> Terms and Conditions<span style="font-size: 1.125rem;"></span>
        </a>
        <a href="cookies-policy" class="u-active-none u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3">Cookies Policy<span style="font-size: 1.125rem;"></span>
        </a>
      </div>
    </footer>
  </body>
</html>