<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Terms and Conditions</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/terms-and-conditions.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "spintowinpalace",
        "logo": "/public/images/livingunplugged8.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Terms and Conditions">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xxl-mode" data-lang="en">
    <header class="u-black u-clearfix u-header u-sticky u-sticky-685b" id="sec-6468" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <a href="./" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Page 2">
          <img src="/public/images/livingunplugged8.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-position="Header">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-decoration u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-0 u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./" style="padding: 0px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_60de" style="padding: 0px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_10c1" style="padding: 0px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_e384" style="padding: 0px 20px;">Hotels</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_5618" style="padding: 0px 20px;">Testimonials</a>
              </li>
              <li class="u-nav-item"><a class="u-border-2 u-border-active-grey-30 u-border-grey-30 u-border-hover-grey-30 u-border-no-bottom u-border-no-left u-border-no-top u-button-style u-nav-link u-text-active-white u-text-body-alt-color u-text-hover-palette-1-base" href="./#carousel_18f8" style="padding: 0px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_60de">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_10c1">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_e384">Hotels</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_5618">Testimonials</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#carousel_18f8">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-left u-section-1" id="sec-b4a2">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-md u-text-default-sm u-text-default-xl u-text-default-xxl u-text-1"> Terms &amp; Conditions</h2>
        <p class="u-align-left u-text u-text-default u-text-2"> Welcome to ​Online Money Resorts. Your utilization of our website, services, and content is subject to the following Terms and Conditions. By accessing or utilizing our platform, you acknowledge and agree to adhere to these terms in their entirety. Should any part of these Terms and Conditions be disagreeable to you, we kindly ask you to refrain from using our platform.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-3"> Platform Utilization:</h2>
        <p class="u-align-left u-text u-text-default u-text-4"> Accessing our platform requires you to be at least 18 years old. By availing yourself of our services, you certify that you meet this age requirement. You commit to using our platform solely for lawful purposes and in accordance with these Terms and Conditions. Any unauthorized or unlawful use of our platform, including infringement upon others’ rights or engaging in fraudulent activities, is strictly prohibited. You are responsible for maintaining the confidentiality of your account details and for any activity occurring under your account. Please notify us promptly of any unauthorized account use or security breaches.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-5"> Intellectual Property:</h2>
        <p class="u-align-left u-text u-text-default u-text-6"> All content, materials, and intellectual property showcased on our platform are owned or licensed by ​Online Money Resorts&nbsp;are protected by copyright, trademark, and other applicable laws. Without prior written consent from ​Online Money Resorts&nbsp;the respective copyright owner, you may not reproduce, distribute, modify, transmit, display, perform, publish, license, create derivative works from, or sell any content or materials from our platform.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-7"> User Contributions:</h2>
        <p class="u-align-left u-text u-text-default u-text-8"> You may contribute content to our platform, such as reviews or comments. By submitting content, you grant Paradise Chipsa license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content. You affirm that you possess the necessary rights to submit content and that it does not infringe upon the rights of third parties.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-9"> Booking and Payments:</h2>
        <p class="u-align-left u-text u-text-default u-text-10"> Our platform may include links to third-party websites for booking accommodations or activities. Any bookings made through third-party websites are subject to their respective terms and conditions. ​Online Money Resorts&nbsp;no responsibility for these bookings, including their accuracy or quality. Payment processing for bookings may be handled by third-party processors, and you agree to their terms and conditions.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-11"> Disclaimer of Warranties:</h2>
        <p class="u-align-left u-text u-text-default u-text-12"> Our platform is provided “as is” without warranties of any kind. ​Online Money Resorts does not warrant the accuracy, reliability, completeness, or timeliness of content or services. We do not guarantee that our platform will be uninterrupted or error-free, nor that it is free of viruses.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-13"> Limitation of Liability:</h2>
        <p class="u-align-left u-text u-text-default u-text-14"> Online Money Resorts shall not be liable for any damages arising from your use of our platform. Our total liability for any claims related to these Terms and Conditions or your use of our platform is limited to the amount paid by you, if any, for accessing our platform.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-15"> Indemnification:</h2>
        <p class="u-align-left u-text u-text-default u-text-16"> You agree to indemnify and hold harmless ​Online Money Resorts and its officers, directors, employees, and agents from any claims arising from your use of our platform or any violation of these Terms and Conditions.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-17"> Changes to Terms and Conditions:</h2>
        <p class="u-align-left u-text u-text-default u-text-18"> Paradise Chipsreserves the right to modify these Terms and Conditions at any time without notice. Your continued use of our platform after any changes constitutes acceptance of the revised terms.</p>
        <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-19"> Governing Law and Jurisdiction:</h2>
        <p class="u-align-left u-text u-text-default u-text-20"> These Terms and Conditions are governed by the laws of the United Kingdom. Any disputes related to these terms shall be subject to the exclusive jurisdiction of the courts of the United Kingdom.</p>
        <p class="u-align-left u-text u-text-default u-text-21">
          <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1" data-href="#"> If you have any inquiries regarding these Terms and Conditions, please contact us at info@spintowinpalace.com. Thank you for choosing ​Spin to Win Palace. </a>
        </p>
      </div>
    </section>
    <footer class="u-black u-clearfix u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-footer" id="sec-0a57">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <a href="./" class="u-align-center-md u-align-center-sm u-align-center-xs u-image u-logo u-image-1" data-image-width="500" data-image-height="500" title="Home">
          <img src="/public/images/livingunplugged8.webp" class="u-logo-image u-logo-image-1">
        </a>
        <a href="privacy-policy" class="u-active-none u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-white u-btn-1"> Privacy Policy</a>
        <a href="terms-and-conditions" class="u-active-none u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-btn-2"> Terms and Conditions<span style="font-size: 1.125rem;"></span>
        </a>
        <a href="cookies-policy" class="u-active-none u-align-center-md u-align-center-sm u-align-center-xs u-border-2 u-border-no-left u-border-no-right u-border-no-top u-border-white u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-alt-color u-btn-3">Cookies Policy<span style="font-size: 1.125rem;"></span>
        </a>
      </div>
    </footer>
  </body>
</html>