<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="We at Gardeners Zen know how to make zen gardens that are peaceful and orderly so that your outdoor space is in balance. Our team is skilled at creating peaceful settings that combine the beauty of nature with the ideas of order, simplicity, and mindfulness. We can help you make your garden a peaceful oasis, whether you want to make a small zen garden or your whole yard one. We can give you expert advice, planning services, and high-quality materials. Let us help you make a place where nature and peace meet, giving you a place to relax from the stress of everyday life.
">
    <title>Home - Gardeners Zen</title>
    <link rel="stylesheet" href="/public/nicepage.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/nicepage.js" defer=""></script>
    <link rel="canonical" href="https://gardenerszen.com">
    <link rel="icon" href="/public/images/logo17.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alata:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Gardeners Zen",
        "url": "https://gardenerszen.com",
        "logo": "/public/images/logo17.png?rand=937e"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home - Gardeners Zen">
    <meta property="og:description" content="We at Gardeners Zen know how to make zen gardens that are peaceful and orderly so that your outdoor space is in balance. Our team is skilled at creating peaceful settings that combine the beauty of nature with the ideas of order, simplicity, and mindfulness. We can help you make your garden a peaceful oasis, whether you want to make a small zen garden or your whole yard one. We can give you expert advice, planning services, and high-quality materials. Let us help you make a place where nature and peace meet, giving you a place to relax from the stress of everyday life.
">
    <meta property="og:url" content="https://gardenerszen.com">
    <meta property="og:type" content="website">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="home" data-home-page-title="Home" data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-21 u-header u-sticky u-sticky-e402 u-header" id="sec-adec">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="500" data-image-height="500">
          <img src="/public/images/logo17.png?rand=937e" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="./" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="./#sec-1347" style="padding: 10px 20px;">About Us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="./#sec-3fb3" style="padding: 10px 20px;">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-1347">About Us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./#sec-3fb3">Contact Us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="u-clearfix u-container-align-center u-image u-shading u-section-1" id="sec-c977" data-image-width="1920" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="custom-expanded u-border-2 u-border-white u-container-style u-group u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-align-center u-heading-font u-text u-title u-text-1">Gardeners Zen</h1>
            <p class="u-align-center u-large-text u-text u-text-font u-text-variant u-text-2">Tranquility in every garden.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-2" id="sec-1347">
      <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
        <div class="u-layout" style="">
          <div class="u-layout-row" style="">
            <div class="u-align-left u-container-style u-custom-color-17 u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
              <div class="u-container-layout u-container-layout-1">
                <h2 class="u-align-left u-text u-text-default u-text-1">What we do</h2>
                <p class="u-align-left u-text u-text-2"> We at Gardeners Zen know how to make zen gardens that are peaceful and orderly so that your outdoor space is in balance. Our team is skilled at creating peaceful settings that combine the beauty of nature with the ideas of order, simplicity, and mindfulness. We can help you make your garden a peaceful oasis, whether you want to make a small zen garden or your whole yard one. We can give you expert advice, planning services, and high-quality materials. Let us help you make a place where nature and peace meet, giving you a place to relax from the stress of everyday life.<br>
                </p>
                <a href="./#sec-ad44" class="u-active-white u-align-left u-border-2 u-border-active-white u-border-hover-white u-border-white u-btn u-btn-rectangle u-button-style u-hover-white u-none u-text-active-custom-color-20 u-text-hover-custom-color-20 u-btn-1">Photos </a>
              </div>
            </div>
            <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" data-image-width="1920" data-image-height="1080">
              <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-custom-color-17 u-section-3" src="" id="sec-ad44">
      <h2 class="u-align-center u-text u-text-default u-text-1">In all forms </h2>
      <p class="u-align-center u-text u-text-2">We keep it zen in all colours, all textures, all shapes.</p>
      <div class="custom-expanded u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
        <div class="u-gallery-inner u-gallery-inner-1">
          <div class="u-effect-fade u-gallery-item u-gallery-item-1">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/22.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-1"></div>
          </div>
          <div class="u-effect-fade u-gallery-item u-gallery-item-2">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/32.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-2"></div>
          </div>
          <div class="u-effect-fade u-gallery-item">
            <div class="u-back-slide">
              <img class="u-back-image u-expanded" src="/public/images/12.png">
            </div>
            <div class="u-over-slide u-shading u-over-slide-3"></div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-17 u-section-4" id="sec-aec5">
      <div class="u-container-align-center u-container-style u-expanded-width u-group u-image u-image-1" data-image-width="1920" data-image-height="1080">
        <div class="u-container-layout u-valign-middle u-container-layout-1">
          <div class="u-align-center u-container-style u-custom-color-19 u-group u-radius u-shape-round u-group-2">
            <div class="u-container-layout u-container-layout-2">
              <blockquote class="u-align-center u-border-none u-indent-0 u-text u-text-1"> "Gardeners Zen transformed my backyard into a peaceful sanctuary. Their expertise in designing zen gardens is unmatched. The attention to detail and calming elements they incorporated have made my garden a true retreat. I feel more connected to nature than ever before!"</blockquote>
              <img class="u-align-center u-image u-image-circle u-image-2" src="https://pixabay.com/get/g4fabcca68f004e859a10a0ae949df23ad2ba6501a3e1b51bd9c3ecbadf36f417cb8156468fe0bdcad0eaf282f974932ad74e56c5714743d1a598764e5aa4fbca_1280.jpg" alt="" data-image-width="1280" data-image-height="853">
              <h6 class="u-align-center u-custom-font u-text u-text-default u-text-2">Simon K.</h6>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-custom-color-17 u-section-5" id="sec-3fb3">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h4 class="u-align-center u-custom-font u-text u-text-default u-text-1">Contact us for your request</h4>
        <div class="u-clearfix u-container-align-center u-group-elements u-group-elements-1"><span class="u-align-center u-file-icon u-icon u-text-custom-color-20 u-icon-1"><img src="/public/images/684816-25cc06d0.png" alt=""></span>
          <h4 class="u-align-center u-custom-font u-text u-text-default u-text-2">info@gardenszen.com</h4>
        </div>
      </div>
    </section>
    <footer class="u-align-center u-clearfix u-container-align-center u-custom-color-21 u-footer u-footer" id="sec-62db">
      <div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-weight: 700;">
            <a class="u-button-style u-custom-text-active-color u-custom-text-hover-color u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#svg-28c6"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-28c6" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="./">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="cookie-policy">Cookie Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="privacy-policy">Privacy Policy</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-custom-color-20 u-text-hover-custom-color-13" href="terms-and-conditions">T&amp;C</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="./">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="cookie-policy">Cookie Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="privacy-policy">Privacy Policy</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="terms-and-conditions">T&amp;C</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
        <p class="u-small-text u-text u-text-custom-color-17 u-text-variant u-text-1"> gardenerszen.com​ 2024</p>
      </div>
    </footer>
  </body>
</html>