<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>Roam expert guides</title>
    <link rel="stylesheet" href="/public/main.css" media="screen">
    <link rel="stylesheet" href="/public/index.css" media="screen">
    <script class="u-script" type="text/javascript" src="/public/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="/public/main.js" defer=""></script>
    <meta name="referrer" content="origin">
    <link rel="icon" href="/public/images/favicon.png">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|PT+Sans:400,400i,700,700i|Abril+Fatface:400">
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "Roam expert guides",
        "url": "/",
        "logo": "/public/images/RoamExpertGuides.webp"
      }
    </script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Roam expert guides">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <link rel="canonical" href="/">
    <meta data-intl-tel-input-cdn-path="intlTelInput/">
  </head>
  <body data-home-page="/roam-expert-guides?version=df6e94c1-150f-4625-32f7-05c5245ccd43" data-home-page-title="Roam expert guides" data-path-to-root="/" data-include-products="false" class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-custom-color-2 u-header u-header" id="sec-e348">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-image u-logo u-image-1" data-image-width="990" data-image-height="410" title="Roam expert guide">
          <img src="/public/images/RoamExpertGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-4-light-1 u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xlink:href="#menu-hamburger"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1">
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/" style="padding: 10px 20px;">Home</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/#sec-1128" style="padding: 10px 20px;">About us</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/#carousel_f15a" style="padding: 10px 20px;">Destinations</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/#carousel_cbb7" style="padding: 10px 20px;">Services</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/#carousel_af09" style="padding: 10px 20px;">Reviews</a>
              </li>
              <li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-white u-text-hover-white u-text-white" href="/#carousel_4d25" style="padding: 10px 20px;">Contact us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xl u-align-left-xs u-nav u-popupmenu-items u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#sec-1128">About us</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_f15a">Destinations</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_cbb7">Services</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_af09">Reviews</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/#carousel_4d25">Contact us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section class="skrollable u-clearfix u-container-align-center u-image u-parallax u-shading u-section-1" id="sec-5d77" data-image-width="1280" data-image-height="1012">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="custom-expanded u-align-center u-container-align-center u-container-style u-group u-white u-group-1">
          <div class="u-container-layout u-valign-bottom u-container-layout-1">
            <h1 class="u-align-center u-custom-font u-font-oswald u-text u-title u-text-1" spellcheck="false"> Expert Guides for Effective Note-Taking</h1>
            <p class="u-align-center u-custom-font u-font-pt-sans u-large-text u-text u-text-variant u-text-2" spellcheck="false"> Welcome to Roam Expert Guides, your ultimate resource for mastering Roam Research. Whether you’re a beginner or looking to deepen your knowledge, our comprehensive guides, tips, and strategies will help you harness the full potential of this powerful note-taking tool. </p>
            <a href="/#carousel_f15a" class="u-align-center u-border-none u-btn u-button-style u-hover-palette-2-base u-palette-2-dark-1 u-btn-1">EXPLORE MORE<span style="font-weight: 700;"></span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-section-2" id="sec-1128">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-10 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout" style="">
            <div class="u-layout-row" style="">
              <div class="u-align-left u-container-align-left u-container-style u-image u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="853" data-image-height="1280">
                <div class="u-container-layout u-valign-middle u-container-layout-1" src=""></div>
              </div>
              <div class="u-align-left u-container-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-white u-layout-cell-2">
                <div class="u-container-layout u-valign-top-xs u-container-layout-2">
                  <h2 class="u-align-left u-custom-font u-text u-text-default u-text-1" spellcheck="false"> Behind Roam Expert Guides<span style="font-weight: 700;"></span>
                  </h2>
                  <p class="u-align-left u-text u-text-2" spellcheck="false"> At Roam Expert Guides, we are passionate about helping individuals unlock the full potential of Roam Research. Our team consists of dedicated learners and experienced users who understand the transformative power of effective note-taking and knowledge management.</p>
                  <a href="/#carousel_4d25" class="u-align-center u-btn u-button-style u-hover-palette-2-base u-palette-2-dark-1 u-btn-1" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">LEARN MORE<span style="font-weight: 700;"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-palette-2-dark-3 u-section-3" id="carousel_f15a">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1" data-animation-name="flipIn" data-animation-duration="1500" data-animation-delay="500" data-animation-direction="X"> Explore Our Top Travel Destinations<span style="font-weight: 700;"></span>
        </h2>
        <p class="u-align-center u-custom-font u-font-pt-sans u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="250"> Discover a curated selection of travel destinations that inspire adventure and exploration. From vibrant cities to serene landscapes, our guides offer insights into must-see attractions, local culture, and hidden gems. Whether you’re planning a weekend getaway or a longer journey, find the perfect destination to suit your interests and travel style.</p>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <img class="u-expanded-width u-hover-feature u-image u-image-1" src="/public/images/photo-1527004013197-933c4bb611b3.webp" data-image-width="1280" data-image-height="960">
                <h6 class="u-align-center u-custom-font u-hover-feature u-text u-text-default u-text-3"> Norway</h6>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <img class="u-expanded-width u-hover-feature u-image u-image-2" src="/public/images/photo-1503614472-8c93d56e92ce.webp" data-image-width="1280" data-image-height="916">
                <h6 class="u-align-center u-custom-font u-hover-feature u-text u-text-default u-text-4"> Canada</h6>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <img class="u-expanded-width u-hover-feature u-image u-image-3" src="/public/images/photo-1552465011-b4e21bf6e79a.webp" data-image-width="1280" data-image-height="886">
                <h6 class="u-align-center u-custom-font u-hover-feature u-text u-text-default u-text-5"> Thailand</h6>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <img class="u-expanded-width u-hover-feature u-image u-image-4" src="/public/images/photo-1513343987712-5da15ea2a9bb.webp" data-image-width="1280" data-image-height="960">
                <h6 class="u-align-center u-custom-font u-hover-feature u-text u-text-default u-text-6"> Australia</h6>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-white u-list-item-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <img class="u-expanded-width u-hover-feature u-image u-image-5" src="/public/images/photo-1566079463188-97d2f1352582.webp" data-image-width="1280" data-image-height="853">
                <h6 class="u-align-center u-custom-font u-hover-feature u-text u-text-default u-text-7"> Chile</h6>
              </div>
            </div>
            <div class="u-align-center u-container-align-center u-container-style u-list-item u-repeater-item u-shape-round u-white u-list-item-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6">
                <img class="u-expanded-width u-hover-feature u-image u-image-6" src="/public/images/photo-1501927023255-9063be98970c.webp" data-image-width="1280" data-image-height="960">
                <h6 class="u-align-center u-custom-font u-hover-feature u-text u-text-default u-text-8"> Portugal</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-4" id="carousel_cbb7">
      <h2 class="u-custom-font u-text u-text-black u-text-default u-text-1" spellcheck="false"> Explore Our Travel Services</h2>
      <p class="u-align-center u-text u-text-2"> At Roam Expert Guides, we offer a range of services designed to enhance your travel experience and help you explore the world with confidence. Our expert team provides personalized travel planning, including destination recommendations, itinerary creation, and insider tips to make your journey seamless and enjoyable.</p>
      <div class="u-expanded-width u-shape u-shape-rectangle u-shape-1"></div>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-1-dark-3 u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <div alt="" class="u-image u-image-circle u-image-1" data-image-width="960" data-image-height="1280"></div>
              <h5 class="u-custom-font u-text u-text-default u-text-3"> Personalized Itinerary&nbsp;<br>Planning
              </h5>
              <p class="u-text u-text-default u-text-4" spellcheck="false"> Tailored travel itineraries based on your preferences, interests, and travel style. We curate unique experiences, recommend must-see attractions, and suggest hidden gems to ensure a memorable journey</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-1-dark-3 u-repeater-item u-list-item-2">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <div alt="" class="u-image u-image-circle u-image-2" data-image-width="853" data-image-height="1280"></div>
              <h5 class="u-custom-font u-text u-text-default u-text-5"> Destination Guides and&nbsp;<br>Resources
              </h5>
              <p class="u-text u-text-default u-text-6" spellcheck="false"> Comprehensive guides for top travel destinations, including essential tips, local culture insights, dining recommendations, and safety advice. Empower your travel with in-depth knowledge to make .</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-list-item u-palette-1-dark-3 u-repeater-item">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <div alt="" class="u-image u-image-circle u-image-3" data-image-width="853" data-image-height="1280"></div>
              <h5 class="u-custom-font u-text u-text-default u-text-7"> Travel Consultation&nbsp;<br>Services
              </h5>
              <p class="u-text u-text-default u-text-8" spellcheck="false"> One-on-one consultations to discuss your travel plans, answer questions, and provide expert advice. Whether you're planning your first trip or seeking new experiences, our team is here to help you.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-black u-clearfix u-section-5" id="carousel_af09">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-top-xs u-sheet-1">
        <div class="u-container-style u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-valign-top-xs u-container-layout-1">
            <h2 class="u-align-center-xs u-custom-font u-text u-text-1" spellcheck="false"> Words from Our Happy Clients</h2>
            <p class="u-align-center-xs u-text u-text-2" spellcheck="false"> At Roam Expert Guides, we value the voices of our travelers. Our testimonials reflect the memorable experiences and adventures of those who have embarked on journeys with us. Read real stories from our clients as they share how our personalized itineraries, expert guidance, and travel resources have transformed their trips into unforgettable experiences.</p>
            <p class="u-align-center-xs u-text u-text-3" spellcheck="false"> We believe that every traveler’s story is unique, and we’re proud to showcase the impact our services have had. Join our community and see why so many choose Roam Expert Guides as their trusted travel partner. Your next adventure awaits, and we can’t wait to hear your story!</p>
          </div>
        </div>
        <div class="u-expanded-width-md u-expanded-width-sm u-expanded-width-xs u-layout-grid u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-list-item u-palette-1-dark-1 u-radius-10 u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-2"><span class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-icon u-icon-circle u-text-white u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 95.333 95.332" style=""><use xlink:href="#svg-a13b"></use></svg><svg class="u-svg-content" viewBox="0 0 95.333 95.332" x="0px" y="0px" id="svg-a13b" style="enable-background:new 0 0 95.333 95.332;"><g><g><path d="M30.512,43.939c-2.348-0.676-4.696-1.019-6.98-1.019c-3.527,0-6.47,0.806-8.752,1.793    c2.2-8.054,7.485-21.951,18.013-23.516c0.975-0.145,1.774-0.85,2.04-1.799l2.301-8.23c0.194-0.696,0.079-1.441-0.318-2.045    s-1.035-1.007-1.75-1.105c-0.777-0.106-1.569-0.16-2.354-0.16c-12.637,0-25.152,13.19-30.433,32.076    c-3.1,11.08-4.009,27.738,3.627,38.223c4.273,5.867,10.507,9,18.529,9.313c0.033,0.001,0.065,0.002,0.098,0.002    c9.898,0,18.675-6.666,21.345-16.209c1.595-5.705,0.874-11.688-2.032-16.851C40.971,49.307,36.236,45.586,30.512,43.939z"></path><path d="M92.471,54.413c-2.875-5.106-7.61-8.827-13.334-10.474c-2.348-0.676-4.696-1.019-6.979-1.019    c-3.527,0-6.471,0.806-8.753,1.793c2.2-8.054,7.485-21.951,18.014-23.516c0.975-0.145,1.773-0.85,2.04-1.799l2.301-8.23    c0.194-0.696,0.079-1.441-0.318-2.045c-0.396-0.604-1.034-1.007-1.75-1.105c-0.776-0.106-1.568-0.16-2.354-0.16    c-12.637,0-25.152,13.19-30.434,32.076c-3.099,11.08-4.008,27.738,3.629,38.225c4.272,5.866,10.507,9,18.528,9.312    c0.033,0.001,0.065,0.002,0.099,0.002c9.897,0,18.675-6.666,21.345-16.209C96.098,65.559,95.376,59.575,92.471,54.413z"></path>
</g>
</g></svg></span>
                <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-4" spellcheck="false"> Roam Expert Guides completely transformed my travel experience! The personalized itinerary was spot on, and I discovered hidden gems I would have never found on my own. Every detail was well thought out, making my trip to Italy unforgettable. Highly recommend</p>
                <h5 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-5">Celia Almeda</h5>
              </div>
            </div>
            <div class="u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-list-item u-palette-1-dark-1 u-radius-10 u-repeater-item u-shape-round u-list-item-2">
              <div class="u-container-layout u-similar-container u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-3"><span class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-icon u-icon-circle u-text-white u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 351.128 351.128" style=""><use xlink:href="#svg-c1b6"></use></svg><svg class="u-svg-content" viewBox="0 0 351.128 351.128" x="0px" y="0px" id="svg-c1b6" style="enable-background:new 0 0 351.128 351.128;"><g><path d="M72.326,147.33c4.284-26.928,37.944-55.692,64.26-56.304c1.836,0,3.672-0.612,4.896-1.836   c1.224-0.612,2.448-1.224,3.06-3.06c9.18-17.136,4.284-30.6-11.016-41.616c-17.748-12.852-45.9,0-59.976,11.628   C38.054,85.518,1.946,136.313,3.782,184.662c-6.12,32.437-4.896,67.32,4.284,96.084c6.12,18.36,23.868,27.54,42.228,28.764   c18.36,1.225,56.304,6.732,72.828-4.283c16.524-11.017,17.748-32.437,19.584-50.796c1.836-20.196,7.344-58.141-9.792-74.053   C115.778,165.078,66.818,181.602,72.326,147.33z"></path><path d="M274.286,147.33c4.284-26.928,37.943-55.692,64.26-56.304c1.836,0,3.672-0.612,4.896-1.836   c1.225-0.612,2.448-1.224,3.061-3.06c9.18-17.136,4.284-30.6-11.016-41.616c-17.748-12.852-45.9,0-59.977,11.628   c-35.496,29.376-71.604,80.172-69.768,128.52c-6.12,32.437-4.896,67.32,4.283,96.084c6.12,18.36,23.868,27.54,42.229,28.764   c18.36,1.225,56.304,6.732,72.828-4.283c16.523-11.017,17.748-32.437,19.584-50.796c1.836-20.196,7.344-58.141-9.792-74.053   C317.738,165.078,268.166,181.602,274.286,147.33z"></path>
</g></svg></span>
                <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-6" spellcheck="false"> I had an amazing experience with Roam Expert Guides! Their destination guides were incredibly helpful, providing insights that made navigating Japan a breeze. From local cuisine recommendations to cultural tips, I felt fully prepared for my adventure. Thank you for making my trip memorable</p>
                <h5 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-7">Frank Kinney</h5>
              </div>
            </div>
            <div class="u-container-align-center-xs u-container-align-left-lg u-container-align-left-md u-container-align-left-sm u-container-align-left-xl u-container-style u-list-item u-palette-1-dark-1 u-radius-10 u-repeater-item u-shape-round u-list-item-3">
              <div class="u-container-layout u-similar-container u-valign-middle-xs u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-4"><span class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-icon u-icon-circle u-text-white u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 351.128 351.128" style=""><use xlink:href="#svg-c1b6"></use></svg><svg class="u-svg-content" viewBox="0 0 351.128 351.128" x="0px" y="0px" id="svg-c1b6" style="enable-background:new 0 0 351.128 351.128;"><g><path d="M72.326,147.33c4.284-26.928,37.944-55.692,64.26-56.304c1.836,0,3.672-0.612,4.896-1.836   c1.224-0.612,2.448-1.224,3.06-3.06c9.18-17.136,4.284-30.6-11.016-41.616c-17.748-12.852-45.9,0-59.976,11.628   C38.054,85.518,1.946,136.313,3.782,184.662c-6.12,32.437-4.896,67.32,4.284,96.084c6.12,18.36,23.868,27.54,42.228,28.764   c18.36,1.225,56.304,6.732,72.828-4.283c16.524-11.017,17.748-32.437,19.584-50.796c1.836-20.196,7.344-58.141-9.792-74.053   C115.778,165.078,66.818,181.602,72.326,147.33z"></path><path d="M274.286,147.33c4.284-26.928,37.943-55.692,64.26-56.304c1.836,0,3.672-0.612,4.896-1.836   c1.225-0.612,2.448-1.224,3.061-3.06c9.18-17.136,4.284-30.6-11.016-41.616c-17.748-12.852-45.9,0-59.977,11.628   c-35.496,29.376-71.604,80.172-69.768,128.52c-6.12,32.437-4.896,67.32,4.283,96.084c6.12,18.36,23.868,27.54,42.229,28.764   c18.36,1.225,56.304,6.732,72.828-4.283c16.523-11.017,17.748-32.437,19.584-50.796c1.836-20.196,7.344-58.141-9.792-74.053   C317.738,165.078,268.166,181.602,274.286,147.33z"></path>
</g></svg></span>
                <p class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-8" spellcheck="false"> The travel consultation service was a game changer for me. I had a few ideas about where I wanted to go, but the expert advice I received helped me refine my plans. I ended up with an incredible trip to New Zealand that exceeded all my expectations. I can’t wait to book my next adventure with Roam Expert Guides</p>
                <h5 class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-text u-text-9"> Philipp Nelson</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-6" id="carousel_4d25">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-custom-font u-text u-text-default u-text-1" spellcheck="false"> Contact Us<span style="font-weight: 700;"></span>
        </h2>
        <p class="u-align-center u-text u-text-2"> We’d love to hear from you! Whether you have questions about our services, need assistance planning your next adventure, or simply want to share your travel stories, feel free to reach out.</p>
        <div class="data-layout-selected u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1024" data-image-height="1280">
                <div class="u-container-layout u-valign-middle u-container-layout-1"></div>
              </div>
              <div class="u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-2">
                  <div class="u-expanded-width-xs u-form u-palette-3-dark-3 u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-20 u-form-vertical u-inner-form" source="email" name="form" style="padding: 30px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-b064" class="u-label">Name</label>
                        <input type="text" placeholder="Enter your Name" id="name-b064" name="name" class="u-border-none u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-b064" class="u-label">Email</label>
                        <input type="email" placeholder="Enter  email address" id="email-b064" name="email" class="u-border-none u-input u-input-rectangle" required="">
                      </div>
                      <div class="u-form-group u-form-message">
                        <label for="message-b064" class="u-label">Message</label>
                        <textarea placeholder="Enter your message" rows="4" cols="50" id="message-b064" name="message" class="u-border-none u-input u-input-rectangle" required=""></textarea>
                      </div>
                      <div class="u-align-center-xs u-align-left-lg u-align-left-md u-align-left-sm u-align-left-xl u-form-group u-form-submit">
                        <a href="#" class="u-border-none u-btn u-btn-submit u-button-style u-hover-palette-2-base u-palette-2-dark-1 u-btn-1">Submit</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Thank you! Your message has been sent. </div>
                      <div class="u-form-send-error u-form-send-message"> Unable to send your message. Please fix errors then try again. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="57f986bd-4f22-538b-c449-220ee5b34c75">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="u-clearfix u-custom-color-2 u-footer" id="sec-1627">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/" class="u-align-center-xs u-image u-logo u-image-1" data-image-width="990" data-image-height="410" title="Roam expert guide">
          <img src="/public/images/RoamExpertGuides.webp" class="u-logo-image u-logo-image-1">
        </a>
        <p class="u-text u-text-default u-text-1">
          <a href="/privacy-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-1">Privacy Policy</a>&nbsp; &nbsp; &nbsp;<a href="/cookies-policy" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-2">Cookies Policy</a>&nbsp; &nbsp; &nbsp;<a href="/terms-and-conditions" class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-white u-btn-3">Terms and Conditions</a>
        </p>
      </div>
    </footer>
  </body>
</html>